[2015-08-24 15:00] npateman opened #4 "Can't run ConfigureWindowsDockerHost.ps1"
I assume I need to run this in order to be able to publish to my host but I can't find any suitable documentation.  After running it I get an error as the script can't find "C:\RuntimeSettings\docker.settings".

Any ideas?

[2015-08-24 21:55] SteveLasker commented on #4
Hi Nick,
This content of this repo isn't meant to be used directly. The http://aka.ms/DockerToolsForVS use this powershell script as a temporary workaround until we complete the Docker Extension for Windows.
If you're looking to do Docker Provisioning of a Docker Container Host, you can look here for Windows Containers: http://aka.ms/WIndowsContainers
Or, here (http://aka.ms/DockerToolsForVS) for

[2015-08-24 21:55] #4 closed

[2015-08-25 08:36] npateman commented on #4
Hi Steve,

Indeed that was the page I referred to in order to setup Windows Containers in the first place, but what I'm trying to do is publish to the host using Docker Tools for Visual Studio 2015.  It says how to publish to Azure but not how to publish to a Windows Server 2016 TP3 VM I have setup, unless I missed that bit.  Both articles mentioned talk about Azure and just brush over the custom

[2015-08-25 15:42] SteveLasker commented on #4
Hi Nick,
Thanks for keeping the questions going. We're working to get all the content visible.
Here's the docs for using the Visual Studio Docker Tools, and there's a section on using a local/custom instance.
https://azure.microsoft.com/en-us/documentation/articles/vs-azure-tools-docker-hosting-web-apps-in-docker/
Please let me know if that doesn't meet your needs. In the meantime, I'll add this l

[2015-08-26 08:28] npateman commented on #4
Hi Steve,

I've ended up doing a couple of things here, firstly looking at those docs again and attempting to setup my own Win Server 2016 TP3 VM as a container host, but I'm still not able to validate a connection.  The new link you have provided seems to assume you know how to do that already, that's what I'm having issues with, even after running "netstat -a" on the server to assure the port is

[2015-08-26 09:13] npateman commented on #4
I think I might know what the Azure issue is, there is no Security Group associated with the NIC.  So when I try and add one using Powershell (as that's the only way you can at the moment), it tells me my account isn't in our company directory and fails.  I'm guessing it done that under the hood and failed, but that still doesn't explain why the Docker host port is open and I can connect to it, so

[2015-08-27 01:57] SteveLasker commented on #4
It looks like you're hitting some gaps in our assumptions about connecting from our Visual Studio Tools to an OnPrem container host.
Have you looked at the docs here: http://aka.ms/windowscontainers
You can either connect with an unsecured port, or secure it with the certs that you can get from the Visual Studio tools.
I'd also suggest you post followup questions here: https://social.msdn.microsof

[2015-08-27 08:26] npateman commented on #4
That's for all your help with this, I shall continue my quest over there.  Great work from what I've seen demoed so far anyway!  Thanks again.

[2015-09-18 07:28] squasta commented on #4
Your error was expected : it's a preview and Docker commit doesn't work now cf. https://msdn.microsoft.com/virtualization/windowscontainers/about/work_in_progress#DockermanagementDockercommandsthatdontworkwithWindowsServerContainers

[2015-12-27 03:18] dqywill opened #6 "Visual Studio 2015 Publish to CustomDockerHost "Custom" was not found Error"
Hi All, I am trying to publish my asp.net 5 web app to my docker host, but it's not working. The error message like this:

Publishing with publish method [Custom]
 C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\Web\Microsoft.DNX.Publishing.targets(386,5): Error : An error occurred during publish.
 AspnetPublishHandler with name "Custom" was not found

I use vs 2015 with update 1 and T

[2016-01-18 18:59] carolynvs commented on #6
I received the same error with VS 2015 Update 1 and Tools for Docker 0.9.2. I was able to get it working  finally by first repairing the ASP.NET 5 RC1 installation, deleting the PublishingProfile directory in the project and then running publish again.

[2016-01-19 04:58] dqywill commented on #6
@carolynvs It's work, Thinks a lot.

[2016-01-19 04:58] #6 closed

[2016-04-07 02:49] NickAb opened #7 "dnu restore fails when projects references another project from solution"
After adding Docker support to a project and running it, Docker build step failed on `dnu restore` because it could not find dependencies, specifically, another project in same solution that is referenced by current project. This is due to fact that only current project is copied to Docker container.

Manually chaining Dockerfile templates to copy whole solution or both projects fixes the problem.

[2016-06-11 06:54] SteveLasker commented on #7
This has become outdated as we've moved to RC2 and dotnet APIs, including restore.

[2016-06-11 06:54] #7 closed

[2017-03-25 16:25] ericwj opened #8 "Windows Containers debugging support"
I can't seem to be able to get debugging to work with Windows Containers from Visual Studio 2017. Is this something that could work?

Visual Studio persists in downloading and mapping ClrDbg for -RuntimeID debian.8-x64 even with `"com.microsoft.visualstudio.targetoperatingsystem=windows"` and even though Visual Studio attempts to start msvsmon in this case, none of the nanoserver images have it an

[2017-03-25 17:18] dazhao-msft commented on #8
We do support ASP.NET 4.5+ to run in Windows server container with VS 2017 RTW, but ASP.NET Core is not supported yet. We're working on the support for ASP.NET Core to run in Nano server container now.

[2017-03-25 23:18] ericwj commented on #8
Looking forward to it. So it's not supported, but could it work with ClrDbg RuntimeID win7-x64? I could try to lie to Visual Studio that I'm running Linux and have it start ClrDbg with `FROM microsoft/dotnet:1.1.1-sdk-nanoserver`, or is that somehow blocked or inadvisable?

[2017-04-05 04:45] boades opened #9 "Custom ENTRYPOINT ignored by VS2017 when using docker-compose"
#### Introduction

I've tried to launch [supervisord](https://docs.docker.com/engine/admin/using_supervisord) in a container to run both `webpack-dev-server` and .NET Core Web App at the same time (for development purposes).

I've created the following `Dockerfile`:

[code]

and the following `supervisord.conf` file:

[code]
When I hit F5, I see that `supervisor` doesn't start, so `frontend` and `

[2017-04-27 22:30] GuardRex opened #10 "ReadMe update?"
Should the ReadMe be updated? ... I was informed that VS2017 now installs the Docker runtime with .NET Core workload install.

[2017-04-27 22:52] dbreshears commented on #10
No.  Docker for Windows is still a separate download from the Docker web site.  The Visual Studio tooling for Docker is the only thing in VS2017.   On VS 2015, this was an install from the VS gallery.

[2017-04-27 22:59] GuardRex commented on #10
Thanks ... I perhaps misunderstood the info that I received. Thanks again.

[2017-04-27 22:59] #10 closed

[2017-04-28 10:28] sergiomcalzada opened #11 "Debug in docker missed"
Hello,

If I delete de ".vs" folder, the option to "launch in docker is missed in VS2017

[2017-05-02 13:31] sergiomcalzada commented on #11
Hello, I resolved it. For the option come back you shuld set the "Starting project" to the "Docker" project!

[2017-05-02 13:47] #11 closed

[2017-05-04 06:02] prochnowc commented on #8
@dazhao-msft So far i managed to build a windows container for my .NET core app but it doesnt start msvsmon (it simply exits) - i assume right now msvsmon does not support windows server nano.. is that right?

[2017-05-04 06:05] prochnowc opened #12 "VS2017 Starting debug session uses wrong working directory."
I have relative paths in docker-compose*.yml and Dockerfiles. So far building `docker-compose.dcproj` works. But when i try to start debugging session the invocation of docker-compose depends on the working directory of VS2017.

[2017-05-09 23:10] sergiomcalzada commented on #8
Same problem here.

I mounted the msvsmon to the container, but it does not run inside nanoserver image

[2017-05-13 21:59] dmitriyse opened #13 "VS 15.3 Preview does not allows to override "/remote_debugger" "/root/.nuget/packages:ro" and other volumes"
I am using VS 2017 vs DOCKER_HOST pointing to a remote linux machine.

In 15.2 - I am able to override mounts:
      - /mnt/${USERNAME}/.nuget/packages:/root/.nuget/packages:ro

In 15.3, it is impossible due to auto-generated files:
docker-compose.vs.debug.g.yml
with content
[code]
Please provide some way to override this volumes:
      - C:\my-project:/app
      - ${NUGET_PACKAGES}:/root/.nuget/p

[2017-05-13 22:03] dmitriyse commented on #13
Currently I need to hacking up target "DockerCreateComposeVsGeneratedFiles" to cut out this lines:
      - C:\my-project:/app
      - ${NUGET_PACKAGES}:/root/.nuget/packages:ro
      - ${VSDBG_PATH}:/remote_debugger:ro

[2017-05-15 17:23] kendrahavens opened #14 "Roslyn Analyzers for Docker files"
## Summary
It'd be helpful to have more Roslyn Analyzers added to VS Docker files. Posting here to see who else is interested or has more suggestions.

## Suggested Analyzers for Discussion
- Dockerfile
  - [ ] Show error when base image in Dockerfile has been updated on DockerHub, but not re-pulled.
    - If image is not from DockerHub or a known image registry no codefix should be triggered.

[2017-05-15 19:06] glennc commented on #14
Have  we done enough investigation to know that we could build the analyzer, without the codefix at least?

[2017-05-16 03:20] kendrahavens commented on #14
Hmm, I don't see why we couldn't. Are we worried we can't get the date out of Docker commands?

[2017-05-17 03:11] dbreshears opened #15 "New project in VS2017 15.2 does not run in Docker"
In VS2017 Update 2, I start a brand new project, add docker support. Hit run and get the following error:
--------------------------------------------------------------------------------
You may only use the Microsoft .NET Core Debugger (vsdbg) with Visual Studio
Code, Visual Studio or Visual Studio for Mac software to help you develop and
test your applications.
----------------------------------

[2017-05-17 03:20] dbreshears commented on #15
@chanan  Looks like we will need to investigate and get back to you.   This isn't something I have seen with our testing of 15.2.

[2017-05-17 03:42] dazhao-msft commented on #15
@chanan, please run '''docker pull microsoft/aspnetcore:1.1''' to force update the base image. @dbreshears

[2017-05-17 03:45] dazhao-msft commented on #12
There was a bug in docker-compose related to this issue which should have been fixed in the latest version. Please update your Docker for Windows/Mac to get the fix.

[2017-05-17 03:52] dazhao-msft commented on #13
@dmitriyse you can set NUGET_PACKAGES with the path on your host machine. It will be honored by the docker-compose files.

[2017-05-17 05:48] prochnowc commented on #8
@sergiomcalzada FYI: Debugging in windows nano containers is now supported with latest VS2017 pre-release.
See here:
https://blogs.msdn.microsoft.com/dotnet/2017/05/10/announcing-net-core-2-0-preview-1/
https://blogs.msdn.microsoft.com/visualstudio/2017/05/10/update-to-visual-studio-2017-and-next-preview/

[2017-05-17 11:48] dmitriyse commented on #13
1) I cannot override "C:\my-project\path":/app  volume, in this case there are no any variable like ${PROJECT_DIR}.  (On remote DOCKER_HOST this pass is different than local client project path).

2) ${VSDBG_PATH} can be different for different projects, so it is not so useful to work with ENV vars.
(Probably it can be solved easily, if I can change Debian8 to Ubuntu16.04 vsdbg version in VS docke

[2017-05-17 15:56] dazhao-msft commented on #13
@dmitriyse Can you please describe your scenario a bit more? We don't really support mounting folders from a remote Linux machine today.

Particularly, I want to understand why you don't have those folders on you Windows host machine (e.g. c:\your-project). As long as you can build ASP.NET Core projects with VS on the machine, those folders should exist so I'm not sure why you need to volume mount

[2017-05-17 20:15] dmitriyse commented on #13
Actually I am managed to connect remote linux host with VS 2015.2.
Near to everything already exists in the current tools version.

Local linux virtual machines not well suited to our products, we are using Nvidia GPUs and other specialized hardware.

In short words I use the following:
set DOCKER_HOST=my-big-remote-host:2375
set COMPOSE_CONVERT_WINDOWS_PATHS=1

[code]

Some another tricks (like c

[2017-05-17 20:22] dmitriyse commented on #13
Actually Docker tools do exactly the same tricks with mounting local windows file system to linux with path /c/users/user1.
I have no option to do so because in my scenario multiple developers from different machines are connecting to the single bare-metal docker host machine.

[2017-05-17 20:28] dmitriyse commented on #13
If you still do not wants to support more usage scenarios just give a chance to a community.
Please do not take blocking decisions like closed autogenerated files.
Make build system open. For example provide a template for docker-compose.vs.debug.g.yml, so everybody can modify it.

Or even more open source of all docker tools.

[2017-05-17 20:55] dazhao-msft commented on #13
@dmitriyse We still support user to manually add a docker-compose.vs.debug|release.yml to project, which will be appended after docker-compose.vs.debug|release.g.yml when VS invokes docker-compose commands. Hence, in most cases, you still can overwrite the contents in the generated yaml files. I just tried the volume mount section. As long as the path in the container is the same, the host path wi

[2017-05-17 22:44] sergiomcalzada commented on #8
Thanks!
The problem is that while the tools are in preview I can't recommend them to my dev team :(
I will give a try to the preview in my personal computer for now

[2017-05-17 23:09] ericwj commented on #8
Great! Docker just started working on [enabling remote access](/docker/for-win/issues/453), which will (hopefully) make this interesting other than on localhost as well.

[2017-05-18 01:07] dazhao-msft commented on #9
The challenge is that we'd need to teach VS debugger to launch the app in the way defined above and then it'd need to figure out which processes to attach. This is something we don't support today.

[2017-05-18 02:15] boades commented on #9
Will support this in future? I am working on a large enterprise project that consists of front-end (express + react) and back-end (asp.net webapi services + lots of cloud services). I am trying to migrate it to the docker containers on linux and it is imposible with the current state of tooling.

Are there any way to teach visual studio debugger attach window to connect to docker images and allow

[2017-05-18 07:46] JonJam opened #16 "Running in Debug mode fails when starting service with the project directory as volume mount"
I am using the Docker Tools for VS2017 to run a ASP.NET 4.5 MVC app in a microsoft/aspnet container.

Building and running the project works as expected when I comment out the volume mount for the project directory i.e.
      - .\MasterPortal:C:\inetpub\wwwroot\

However when I have the above line in the docker-compose.vs.debug.yml file starting the service fails.

Below are the verbose logs using

[2017-05-18 11:01] dmitriyse commented on #13
Thank you for this tip. It works.
So this issue can be closed.

[2017-05-19 19:58] dbreshears commented on #16
We are not seeing this issue in the latest Windows 10 and Visual Studio Preview.  Do you possibly have an older version of Windows 10?

[2017-05-19 20:06] JonJam commented on #16
Here is my Windows 10 and VS information.

Windows 10 Enterprise - Version 1703 - OS Build 15063.296
Visual Studio 2017 Enterprise - 15.2 (26430.6)
Docker Tools for VS 1.0.20170309.1

[2017-05-19 20:32] janniksam commented on #15
The issue was fixed executing the command on my system. Thanks dazhao 👍

[2017-05-23 04:26] PawLove opened #17 "Unable to start debugging Docker container"
Hi! I'm trying out the Visual Studio 2017 Community and ASP.NET Core web app and get a prompt stating "Unable to start debugging. Unable to establish a connection to VSDBG. Debug output may contain more information."

Output Windows shows the following:

Starting: "docker" exec -i dd11077d4248 /clrdbg/vsdbg/vsdbg --interpreter=mi
rpc error: code = 2 desc = oci runtime error: exec failed: container

[2017-05-25 12:49] stepandohnal commented on #17
See output from build if there are not any errors.

[2017-05-28 00:03] ivan-danilov commented on #17
Same issue here

[2017-05-30 17:58] chrisahardie opened #18 "Cannot run Docker in debug mode"
I have created a brand new Web API .Net Core application. Without touching anything, if I attempt to debug with Docker, I get the following message:

My Dockerfile is as follows:

[code]

In the Output window, I get the following:

[code]

My image is created:
[code]

It appears I can't attach my debugger to my container - anyone have any thoughts as to why?

Thanks!

[2017-05-31 17:40] SteveLasker opened #19 "Need to set a constant url:port under debug for other services that must have a known address"
When building and debugging clients that connect to services, the clients often need to know the URL, even if it's localhost:8080 to enable client connectivity.
The current tools use the dynamic port syntax -P to dynamically find an available port. This works will when everything runs in a container as docker network discovery kicks in. However, when attempting to connect outside the docker DNS, t

[2017-05-31 21:51] radulacatus commented on #17
i had the same issue
for me it worked running docker for windows as admin

[2017-06-01 03:17] Emill commented on #17
I installed vs2017 update 3 preview and now it works.

[2017-06-02 16:40] odannyboy000 opened #20 "Support reading environment variables from .env file"
I want to be able to read from a .env file.

Docker, by convention, looks for a .env file in the current **execution folder**. DockerTools does not run from root, and also does not allow you to specify where to execute from.

An alternative would be to allow me to add an additional docker-compose override file and have it passed along with the provided override files.

[2017-06-02 22:53] dazhao-msft commented on #20
There is already a docker-compose.override.yml file in the docker-compose.dcproj. Can you add the .env file to it?

[2017-06-02 22:54] dazhao-msft commented on #19
For ports, you always can specify a specific host port in docker-compose.*.yml. The recommended place is docker-compose.override.yml, which is targeting local development scenario.

https://docs.docker.com/compose/compose-file/#ports

[2017-06-02 22:58] dazhao-msft commented on #18
Looks like your base image is in a strange stage. Please run 'docker pull microsoft/aspnetcore:1.1' to force update it on your local machine and see if it works. Also please share the VS version and Docker for Windows version so we may have a better idea about what's wrong.

[2017-06-03 19:12] dazhao-msft commented on #20
You can reference an env file in docker-compose.override.yml:

https://docs.docker.com/compose/compose-file/#env_file

[2017-06-04 10:31] pbering opened #21 "MSBUILD switch to ignore building dcproj when building inside a Windows container"
Hi, I would like to build my solutions inside a build container (aka the "Docker builder pattern"). I would like to just call `MSBUILD mysolution.sln /p:Configuration=Release` but that trigger the build of the dcproj which will try do call docker inside my container (as far as I know we can't run docker in docker with Windows containers yet).

Is there a MSBUILD parameter I can set so the dcproj i

[2017-06-05 09:40] ahanoff opened #22 "Circular dependency error when building for docker"
Project created with VS2017 for .net core and with docker support contains docker-compose files in the root folder and Dockerfile in the project folder. It's also standard to have Dockerfile in the root, or in the same folder as docker-compose files. Problem occurs when Dockerfile is moved next to docker-compose files and context of docker-compose is set to "."

Why I put it in solution directory?

[2017-06-05 16:43] dazhao-msft commented on #22
This bug has been fixed in VS 2017 15.3 Preview1. You can install it from https://www.visualstudio.com/vs/preview/ to try it out.

[2017-06-05 16:46] dazhao-msft commented on #21
This is not supported by the tools currently. The team is working on a better solution now.

[2017-06-06 08:57] ahanoff commented on #22
@dazhao-msft well, it solved initial error, but now I got new even less informative:

Error		Nullable object must have a value.	docker-compose	C:\Program Files (x86)\Microsoft Visual Studio\Preview\Community\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Docker.Compose.targets	210

[2017-06-06 17:10] iAlexanderMoon opened #23 "Debuggin large number of projects slow: Allow debug of a single service out of a set of microservices"
I have an soa architecture with many dotnet core webapi services in my compose file.
Most times I am working on only one of many (but need the many running).

When I debug the docker-compose project it compiles ALL of them... recreates all of them.
I would like the tool to be able to debug a single service
[code]

[2017-06-06 18:45] pbering commented on #21
Thanks, which solution are they working on? For skipping dcproj projects or running docker inside docker on Windows, or something else?

[2017-06-06 18:45] #21 closed

[2017-06-06 21:19] natemcmaster opened #24 "Support ASP.NET Core user secrets"
_Original post by @chrisoverzero: https://github.com/aspnet/Configuration/issues/659_

------

**Summary**: User secrets cannot (easily, portably) be used with Visual Studio's "Docker Support" feature for ASP.NET Core projects.

Hi! I've been using User Secrets for a while in several ASP.NET Core projects. My company is evaluating a move to Docker for deployments, and – as part of that evaluation

[2017-06-06 21:23] natemcmaster commented on #24
I think the simplest solution would be for docker tools to volume mount `%APPDATA%\microsoft\UserSecrets\` to `~/.microsoft/usersecrets/` when creating a new container.

cc @sgreenmsft @yanchenw

[2017-06-06 21:26] dazhao-msft commented on #22
Step back a little bit: docker-compose.ci.build.yml in the project is for building the solution in a build container. You can try it out without having to create another Dockerfile.build. On the other side, assuming you copy the entire solution into a build container, you can 'dotnet restore' against the solution to restore packages for all the projects.

If you can share a repro project, the team

[2017-06-07 03:17] ahanoff commented on #22
@dazhao-msft well, I created sample project [https://github.com/ahanoff/aspnet-core-docker](https://github.com/ahanoff/aspnet-core-docker). I don't like idea with another Dockerfile.build file as well. So yesterday I tried multistage dockerfile. [https://github.com/ahanoff/aspnet-core-docker/blob/master/Dockerfile.multistage](https://github.com/ahanoff/aspnet-core-docker/blob/master/Dockerfile.mul

[2017-06-07 04:13] dazhao-msft commented on #22
[aspnet-core-docker-master.zip](https://github.com/Microsoft/DockerTools/files/1056852/aspnet-core-docker-master.zip)

I think I figured out what was wrong. VS Docker tools determines if a Docker service is associated with a .NET Core project by checking if Dockerfile and the project file (.csproj) are under the same folder. Moving Dockerfile to parent folder breaks it.

I modified your repro proj

[2017-06-07 05:06] ahanoff commented on #22
@dazhao-msft thank you, it was not obvious how VS Docker tools works. Btw can you please explain why you decided to stick Dockerfle and .csproj together? Just curious. Thanks.
And don't you plan make tool open-source? I think issue can be closed.

[2017-06-08 16:33] iAlexanderMoon opened #25 "Docker logs"
When debugging/running MANY containers the Output Debug can be VERY verbose. Being able to attach to the logs of the specific container using the docker cli would be useful. As well as other container monitoring tools such as kitematic.

Is there another way to start the containers such that standard out and error can also go to docker container? Basically an alternative to:
[code]

[2017-06-09 01:26] Strifex opened #26 "Error on build when on network with corporate proxy"
When attempting to build an ASP.NET Core 1.1 WEB API templated project within Visual Studio 2017 (and on a network that requires an authenticated proxy to get outside), I continually get this error:

MSB4018	The "EnsureVsDbgExists" task failed unexpectedly.
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: The remote server returned an

[2017-06-14 13:50] libsamek opened #27 "Executed command on run from VS 2017"
Currently there is no way of knowing, which command is executed in container when we do Start from Visual Studio using Docker. Entrypoint on development container is set to `tail -f /dev/null` but there is no way of knowing which command is executed to run an app.

When everything works, it's fine and great, but sometimes start of application fails and there is no way of knowing what went wrong.

[2017-06-19 08:46] DavizOWNS commented on #27
Agreed. And it would be nice to have optional pre-run command which would be useful if your app has to wait for other containers to start.

[2017-06-20 08:14] libsamek opened #28 "Exception User-Unhandled no View Details"
When code hits an unhandled exception it would be nice to have a View Details "link", which opens QuickWatch. This works when running application outside of containers.

Currently you can still see a unhandled expection details in $exception variable (Locals tab or manually in Watch1 tab), but it would be much more friendlier to have a missing link.

[2017-06-20 09:41] libsamek opened #29 "Debugging feels slow"
When you try to expand a variable it takes a couple of seconds to actually expend.

It would be very nice if that was instant, as it normally is, outside of containers.

[2017-07-04 14:03] pwasiewicz commented on #17
Same here. But none of both helped: running doker daemon as admin nor installing vs2017 preview 3.

[2017-07-07 22:03] kenpavia commented on #17
I was getting this error while on a vpn.  I jumped off the vpn and the debug error went away (after a reboot).  Now, I have to figure out why being on a vpn causes the problem.

[2017-07-16 02:29] tanaka-takayoshi opened #30 "Open Source Request"
As Microsoft announced Docker Tools would be open sourced, could you consider making it open source as soon as possible?
https://blogs.msdn.microsoft.com/stevelasker/2016/11/22/visual-studio-docker-tools-support-for-visual-studio-2015-2017/

As far as I know, I can't find the open source repository for Docker Tools not only for Visual Studio 2017 but also for Visual Studio 2015. If the repository

[2017-07-17 19:12] liqdfire commented on #17
I have my machine joined to an Azure AD, and my windows login is my AAD account, not a local account.
I had to create a local user account for sharing drive in docker; however, the docker tools in VS2017 use the profile directory of the logged in user as the path for clrdbg and .nuget, which the local account would not have access to.

See this issue for other symptoms
https://github.com/docker/fo

[2017-07-18 20:55] SteveLasker opened #31 "Renaming the Image name doesn't get used when debugging w/F5"
Create an ASP.NET Core Web App
Add Docker Support
Choose Windows
Open the docker-compose.yml file
Change the image value to something
[code]
Hit F5
Run docker images
Notice the image name is still web
I should be able to rename the image to reflect my actual image name. It may include my registry, another name like frontendmarketingweb

[2017-07-27 13:26] dls314 opened #32 "Consider publishing information about the DockerTools changes in 15.3 preview release notes"
I noticed that in 15.3 preview 6 the DockerTools don't seem to create the same file set (the docker-compose-override.vs.debug.yml and docker-compose-override.vs.release.yml files aren't created).

Is there anywhere I can read more information about these changes?
I tried the preview release notes, but didn't see the information there.

Thanks!

[2017-07-28 21:04] dferretti-fig opened #33 "Run multiple instances of container"
I have a console app that I've added Docker Support to - so it was added to my docker-compose.yml file as expected:
[code]

I would like to run this console app twice with an environment variable flag which would change its behavior. So I attempted to change the docker-compose.yml file (and made similar changes to the .vs.debug.yml file along with it etc)

[code]

I've tried several different thin

[2017-07-28 21:19] dferretti-fig commented on #33
just taking a guess here, but based on this comment from @dazhao-msft on https://github.com/Microsoft/DockerTools/issues/22#issuecomment-306681531
maybe VS Docker Tools looks at which csproj file is associated with a Dockerfile, and then uses that to pair to the first instance in the docker-compose.yml file to determine which container to run the dotnet command in?

[2017-07-30 21:36] dazhao-msft commented on #33
@dferretti-fig that's correct. Alternatively, you can run 'docker-compose up -p {project name}' from command line with different project names to run multiple containers with the same image.

[2017-08-01 15:25] dferretti-fig commented on #33
gotcha - thanks for the response!

[2017-08-02 04:20] kspearrin opened #34 "error MSB4057: The target "DockerResolveAppType" does not exist in the project."
- ASP.NET Core 1.1.2
- Target frameworks: `netcoreapp2.0;net461`

Added docker support to my 3 projects. Trying to run `docker-compose` debug from inside VS gives the following errors:

[code]

Dockerfile (from one project)
=============

[code]

VS info
========

[code]

[2017-08-09 19:30] nathanpjones opened #35 "Launch Browser Not Working"
My expectation is that whatever I set is for url is launched regardless of how the composition is set up. It's less clear to me how the service selection is used, but I'm guessing it has to be a .NET core service so the tools will know when startup is complete.

In any case, the launch browser setting doesn't seem to be working properly and I don't see anything in the output indicating why it's fa

[2017-08-12 03:35] mmaguigan opened #36 "Does not work with Visual Studio 2017 Preview 7.1"
If I create a .NET Core Console application in Visual Studio using nothing but default settings (netcoreapp2.0) and add docker support and press F5, several compose steps will run successfully until the last stage wherein the Debug console will indicate failure.

[code]

I have all necessary images pulled (and they were pulled successfully by the prior compose steps).

As a side-note, ```docker-co

[2017-08-14 18:38] pbering commented on #32
Even worse, when updating VS and the docker project has been upgrade to v2.0, the release and debug files are deleted! No explanation on what to do then? I was using those files... Can't even add them again, then I get an error:

`1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Docker.Compose.targets(279,5): error :

[2017-08-15 01:51] mmaguigan commented on #36
With the announcement that .NET Core 2.0 SDK was released, I upgraded my installed SDK to 2.0.0 and found that it works perfectly :smile:. Can I assume my test was simply ill-timed?

[2017-08-15 01:51] #36 closed

[2017-08-16 09:48] joye-ramone opened #37 "Cannot start Docker debug with VS2017 15.3"
After upgrade to latest VS 2017 15.3 I cannot start debug of Docker container from VS.
Reproducible with any kind of .net core projects (console, asp.net) and with any version of .net core.

I also tried to start VS with admin rights, restart my box and stop and start docker.

Error message: Operation aborted (Exception from HRESULT: 0x80004004 (E_ABORT))
Docker log:
[code]

But, I can see that im

[2017-08-21 15:48] tebeco opened #38 "BUG : `GetVsDbg.ps1` does not handle proxy"
[code]

This is really bad for handle Proxy well it does not care, and there is no workaround
I've almost never done any powershell, but from what i found here
https://stackoverflow.com/questions/571429/powershell-web-requests-and-proxies

here is a working way to at least read default proxy settings
I did not test this change on a computer without a proxy BTW
But at least it helps working in Corp

[2017-08-22 16:40] tebeco opened #39 "Please Open Source Sdk"
in order to diagnostic why i can't use it at work.
i have to decompile the MsBuild sdk for docker i. order to under all the detection stuff like the CLI etc ...

seeing the code made me understand that if Docker is installed elsewhere than c:\program files
it will fails
or magic string like "DockerCli.exe" that are not reused
is there a way to let the community helps on that ?

[2017-08-22 20:01] CESARDELATORRE commented on #31
Confirmed this bug from my side:
**docker-compose.yml**
![image](https://user-images.githubusercontent.com/1712635/29584801-bd0f7730-8739-11e7-8ca2-fdedf182ded4.png)

The image's name should be "image: **MyCompany**/dockertoolsbuginimagesname".

But it is still registered as "**dockertoolsbuginimagesname**":
![image](https://user-images.githubusercontent.com/1712635/29584838-dec50372-8739-11e7-82d

[2017-08-23 00:42] galvesribeiro commented on #39
Yeah, I agree that it should be OSS'ed in order to get traction. The current Docker tooling is so poor. It doesn't allow you debug more than one instance of the container (something that is really useful in distributed application and that Today work with Azure Cloud Services emulator and Azure Service Fabric local cluster).

I wish we could help to improve this poor experience.

[2017-08-23 16:02] RehanSaeed commented on #32
I'd like information about how to use the `docker-compose.ci.build.yml` file on my build agent. I'm not sure what magic incantation I need to chant to get docker to build my image with a particular set of tags (`latest` and a second tag containing a version number`). Some documentation would be nice. That said, this project moves the cheese so often, I'm not sure how long the documentation would s

[2017-08-23 16:11] RehanSaeed opened #40 "Unable to Connect to Local SQL Server from Docker Container"
I have a local SQL Server instance running on my Windows dev machine. I want to connect to it from my Linux docker container using Entity Framework Core. My connection string of `Data Source=localhost` fails, I've also tried several IP addresses and port combinations but can't seem to connect to my SQL Server.

I asked this question on StackOverflow [here](https://stackoverflow.com/questions/45836

[2017-08-28 01:12] HK-Zhang commented on #37
I got the same issue on VS 2017.15.3.2 Professional.

[2017-08-28 10:24] josemaia opened #41 "Updating to 15.3 broke loading of the docker-compose project in a solution"
I updated to Visual Studio 2017 15.3.2.

Immediately after updating, I loaded a solution I was using.

The solution now displays the following:

"docker-compose (load failed)

Project file is incomplete. Expected imports are missing."

Attempting to re-generate the docker-compose files by deleting and re-creating everything did not work.

I was never prompted to update the docker-compose file to f

[2017-08-28 14:25] MichaelSimons opened #42 "Docker-Compose error "Visual Studio Container Tools requires Docker to be running before building, debugging or running a containerized project""
_Copied from https://github.com/dotnet/dotnet-docker/issues/287_

## Steps to reproduce the issue
1. Created a new .NET core project with several web api projects, and a web app project all with docker support.
2.  Try to run the generated project docker-compose with F5.
3. Got an error stating

4. Installed the Docker Toolbox and installed all options
5. Ran the toolbox via the docker quickstart

[2017-08-28 19:01] dbreshears commented on #37
This is probably caused by the base images being stale.  I recently repro'd this  and fixed by  pulling the base image again,   (i.e. docker pull microsoft/aspnetcore:2.0) or the version you are working with.   You should also do a clean solution or delete your docker image so that it gets rebuilt.    Can you try this and let me know.

[2017-08-28 23:48] dbreshears commented on #37
One additional item that could have played a role in fixing for me was to reset the Shared Drives authentication in Docker for Windows.  Rick click the tray icon and select Settings..., open Shared Drives tab and share the drives again by resetting credentials.   It looked like volume mapping was not working from the container to the host.

[2017-08-30 10:52] ddeamaral commented on #42
Is anyone able to look at this, or have any suggestions other than forking over $100 for win10 pro?

[2017-08-30 16:10] dbreshears commented on #42
The Docker tooling in Visual Studio 2017  does require Docker for Windows.  Since Docker Toolbox is legacy we chose to support only Docker for Windows going forward. In our latest builds, I verified when adding Docker support we mention in the error message to  "Verify that Docker for Windows is installed...".    Docker For Windows has both Linux and Windows container modes that our tooling takes

[2017-08-30 18:44] mmaguigan commented on #30
I would like to echo this. I have some business requirements that I would not expect the community to live with (though I'd probably be happy to submit a PR if interested). If this were an open source project, I could adjust things to meet my acceptance criteria without hackery or waiting for *N* development cycles if it makes the backlog.

[2017-08-30 18:46] mmaguigan commented on #26
@Strifex, I am in a similar ship. I use tools like cntlm to resolve my needs (plus that allows me to discriminate on which hosts get proxied and which hosts don't when applications do not support such distinctions).

[2017-08-30 19:37] ddeamaral commented on #42
And to my understanding...Docker for Windows only works with windows 10 professional edition correct?

[2017-08-30 19:46] dbreshears commented on #42
Correct, Windows 10 Home doesn't include hyper-v which is required by Docker for Windows

[2017-09-01 03:03] jo-ninja commented on #37
Pulling the base image again and resetting credentials did not work for me (VS Community 2017 version 15.3.3).

Solved it by referring to https://github.com/dotnet/dotnet-docker/issues/162#issuecomment-262940984, **but** instead of `%userprofile%\clrdbg`, I needed to delete `%userprofile%\vsdbg`.

[2017-09-01 13:13] brainwipe opened #43 "Docker Compose build target fails on build since upgrade to VS 15.3"
I had a docker-compose working fine, I've not upgraded Visual Studio 2017 (to 15.3.3) and Docker (17.06.1-ce-win24 13025) the dcproj fails:

[code]

The offending line is:

[code]

When I loaded the project after updating Visual Studio, it asked me to upgrade the compose files. I agreed and it only changed the version number from 2 to 3.

My compose is:

[code]

[2017-09-01 19:11] joye-ramone commented on #37
Same for me. Was able to fix an issue with remove of %userprofile%\clrdbg

[2017-09-13 23:34] alexzaytsev-newsroomly commented on #32
I second that, particularly in case of VSTS, some documentation on a complete workflow - docker-compose project on dev machine and how to build the same on CI would be really helpful.

[2017-09-19 00:14] raboud commented on #13
@dmitriyse can you email exactly how you got this to work.....this is the scenario that ive been working on but i just get
invalid bind mount spec "\\\\Dev-04\\c\\code\\ConsoleApp1\\ConsoleApp1:C:\\app:rw": invalid volume specification:

robert.raboud@randreng.com

[2017-09-22 06:42] cemdev commented on #42
Well this is unfortunate. Docker uses hyper-v which precludes any other VM and basically locks the whole box down. Docker toolbox is the only workaround, but it doesn't even work. Once again, hampered by M$. I'm so moving to Go. Had enough of this over the years.

[2017-09-26 09:40] risogolo opened #44 "Docker compose execution idea"
I cannot find the possibility to change or override the command to execute docker-compose from visual studio. For example, I need to start (using F5) to environment by using this command "docker stack deploy -c docker-compose.yml xxx" and still need to be able to debug it. Is it possible? Can you please incorporate this idea to the next version. I think it uses "docker-compose up -d" and there is

[2017-09-26 15:12] MichaelSimons opened #45 "Unable to start debugging Docker containers"
_Copied from https://github.com/dotnet/dotnet-docker/issues/300 by @lczc1988_

## Steps to reproduce the issue
1.Log in to machine with azure AD account.
2.Start docker for windows
3.Create a asp.net core web api and click Docker to debug. Report error as below.

Starting: "docker" exec -i b7ca27fbf035 /clrdbg/vsdbg/vsdbg --interpreter=mi
rpc error: code = 2 desc = oci runtime error: exec failed:

[2017-09-27 03:01] brantburnett opened #46 "DockerCleanWorkspace Doesn't Cleanup Volumes Defined In docker-compose.yml"
If your docker-compose file defines virtual volumes to be shared between multiple containers, these are left in place during DockerCleanWorkspace.  The next build and run will still have data in these volumes, despite the expectation that the run should be clean.

If `docker-compose down` is instead run with the `-v` command line argument, the volumes will be deleted.

Example docker-compose.yml:

[2017-09-29 15:47] dbreshears commented on #43
This is fixed in the 15.4 release that is planned for next week.

[2017-09-29 18:08] jamason opened #47 "Windows Visual Studio Docker-Compose section missing files"
Visual Studio 2017 and Dockers for Windows on Windows 10.
VS version: 15.3.5
Docker version: 17.06.2-ce
Docker-Compose version: 1.14
When adding Docker Support to project
expected docker-compose.vs.debug.yml and docker-compose.vs.release.yml to be included under docker-compose.yml along with docker-compose.override.yml
### Actual behavior
the two files are missing
### Information

  - Diagnostic I

[2017-09-29 19:49] jamason commented on #47
Forgot to mention, there aris docker-compose.vs.debug.g.yml in object folder

[2017-09-29 23:01] rajkumar42 commented on #29
@libsamek logs would help the investigation.

If you are on Visual Studio 15.2 or lesser use https://github.com/Microsoft/MIEngine/wiki/Logging . On 15.3 or greater use the commands to turn logging on/off.

[code]
or
[code]

[2017-09-30 01:57] rajkumar42 commented on #38
@tebeco did you have to configure your browser IE/Edge/Chrome to work? Can you also check if Control Panel -> Internet Options -> Connections tab -> LAN Settings -> Proxy Server is set?

[2017-09-30 02:03] rajkumar42 commented on #28
@libsamek  which version of VS are you using?

[2017-09-30 09:24] tebeco commented on #38
@rajkumar42
just to be sure,

the code i added, READ the system proxy and it worked after that
So it means, yes my proxy was setup before i gave a shot
and the GetVsDvg.ps1 file try to do http without using / reading system proxy....

so my proxy is set (by a GPO in my company) every software works well unless the one that does not try to read that proxy
like this ps1 file

[2017-10-03 16:51] rajkumar42 commented on #38
@tebeco this has been fixed and will available in the future version of Visual Studio. Thanks!

[2017-10-03 17:40] tebeco commented on #38
Do you think going OpenSource would help développer to understand Docker especially case like this ?
Why is blocking the team for open sourcing it ?

[2017-10-03 17:43] tebeco opened #48 "Going Open Source"
i can’t attach my debugger because sharing drive C is forbidden by GPO

 my source code is on D:
Vs2017 is on c:
docker can only install on c: (even thought i tricked it to work for a short period on D:)

should i share C ? D ? both

open sourcing this code would be a HUGE bonus when dealing with issue like this
What are the blocker so you can OpenSource DockerTools for vs2017 ?
can we help you so

[2017-10-03 17:45] tebeco commented on #48
Also the last bug found on the power shell trying to download stuff for the debugger ...
i had to do reverse engineering and decompile your code to find an actual bug
that seems a bit overkill right ?

[2017-10-09 15:44] TotzkePaul commented on #24
I can't seem to figure out how to even do this in docker compose. I don't think you can you can use `%APPDATA%` directly so I use the full folder path. No errors but my secrets don't appear.  I'm not sure if the aspnetcore:2.0 docker image has
https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=visual-studio

csproj:
`<UserSecretsId>918f68d1-483b-46d1-8556-717af3673207</UserSecr

[2017-10-10 13:21] stebet opened #49 "Publish guidance on how to work with Docker for Windows on build agents."
I currently have a in-house hosted VSTS build agent and getting it to build projects that utilize the VS 2017 Docker tools has been a royal pain in the behind.

Some documentation and guidance on how to set-up a build agent that can build Windows Containers is sorely needed.

[2017-10-10 16:16] Eilon opened #50 "Mvc Web App template in docker generates incorrect URL"
_From @smitpatel on October 6, 2017 22:38_

Steps:
1. Create new ASP.NET Core Web Application
2. Choose Web Application template for 2.0
3. Add individual accounts auth
4. Enable Docker support for windows.

Restore packages/build solution etc.
Press F5
Expected output:
Website from template is opened in browser.
Actual output:
Browser fails to load website. The website URL in browser is http://17

[2017-10-10 16:16] Eilon commented on #50
@natemcmaster - any ideas on this? Presumably a tooling issue? Do you know where those issues go?

[2017-10-10 16:16] Eilon commented on #50
_From @natemcmaster on October 10, 2017 15:9_

Yes, I'm supposing this is a VS issue. You can use the Report an Issue feature in VS or try your luck here: https://github.com/microsoft/dockertools

[2017-10-10 16:29] dbreshears commented on #50
@Eilon, able to repro in our latest tooling.  We will investigate a fix.

[2017-10-10 18:33] aensidhe opened #51 "Customize build command for docker project."
Our project is quite complex and we can't use `docker-compose build` in any case due to bug in `docker-compose`: https://github.com/docker/compose/issues/3886

We have our own build script for docker-compose and I would like to use it instead of usual `docker-compose up --build` to start project.

Can I achieve that?

[2017-10-10 22:30] dbreshears commented on #50
@Eilon , @smitpatel,  we have a fix ready, slated to make it in 15.5 P2

[2017-10-12 00:23] haniamr commented on #51
I don't believe there's a straight-forward/safe way that you can achieve that. One way is to create your own executable named "docker-compose.exe", have it in the PATH env variable instead of the default one "C:\Program Files\Docker\Docker\Resources\bin\docker-compose.exe".

So given your exe works exactly as docker-compose.exe (same parameters and does the same thing), this *might* work.

[2017-10-12 00:33] haniamr commented on #45
Thanks @MichaelSimons for the detailed feedback. A couple of questions:
- What is your VS version? (Help -> About)
- When the issue does happen, do you have a workaround?

[2017-10-12 06:16] aensidhe commented on #51
I would like to have some hooks like in usual MSBuild C# projects. BeforeBuild/AfterBuild/Build, etc.

[2017-10-12 17:42] MichaelSimons commented on #45
@haniamr - please direct your questions to the original author @lczc1988.  I simply copied the issue from the https://github.com/dotnet/dotnet-docker repo.

[2017-10-12 17:53] haniamr commented on #47
That is by design, those files now are auto-generated and placed in obj folder.

[2017-10-12 18:05] haniamr commented on #41
Since this was addressed over here https://developercommunity.visualstudio.com/content/problem/102634/updating-to-153-broke-loading-of-the-docker-compos.html, I'll be closing this issue.

[2017-10-12 18:05] #41 closed

[2017-10-12 18:09] haniamr commented on #45
Sure, updated that.

[2017-10-12 22:06] haniamr commented on #51
That is MSBuild already so you can override any of the targets defined here:
%VSINSTALLDIR%\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Docker.Compose.targets

The only thing to note is that target names are not guaranteed to be the same in future releases.

[2017-10-13 19:44] brantburnett commented on #46
@haniamr

Yeah, that does make some sense.  But when I looked at it there were serious difficulties with adding my own target, especially considering the dynamically generated settings injected by the tool.

Couldn't it instead be added as a MSBuild property that indicates if you want this to happen on clean or not?  Then default it to the current behavior so that everything is backwards compatibl

[2017-10-14 20:45] pbering commented on #9
I have the same issue when I set the entrypoint in the compose file, it is always overridden by the entrypoint in docker-compose.vs.debug.g.yml. Is there a way to tell the tooling not to override this or some way defining which compose files that the tooling uses when building / starting? Right now I can't use the tooling since I need the ability to set the entrypoint during development.

[2017-10-16 14:50] kdlslyv opened #52 "Error when starting container from VS2017"
Hello,

I've recently started using the docker tools in Visual Studio 2017 15.4.

my docker-compose.yml looks like this:

[code]

While manually running docker-compose up runs fine, the issue is created by DockerTools itself.
The error generated by Visual Studio:

[code]

The generated docker-compose.vs.debug.g.yml, with the faulty line:

[code]

In short:

according to the error the line:
[code]

[2017-10-16 18:30] sgreenmsft commented on #52
Hi kdlslyv,

It turns out that defining an extra service and placing its dockerfile in the same folder as your csproj's dockerfile confuses the VS Docker tools.  Sorry about that.

You can work around this by placing testR_postgre's Dockerfile in its own, separate folder.

[2017-10-16 18:33] haniamr commented on #34
@kspearrin so the 3 projects are .net core? or one of them was net461?
Are you having this issue with that specific solution or in general?

[2017-10-16 19:10] kspearrin commented on #34
All 3 are ASP.NET Core but can target either framework. We target netcoreapp2.0 for docker.

[2017-10-16 19:11] maynardflies commented on #42
I agree with cemdev and should point out that most enterprises especially in my neck of the woods are still on Windows 7, and likely will be for a little while.  This creates a significant gap for those organizations who want to start working with Dockerized .NET Core applications.  MS would be well advised to drop this seemingly arbitrary restriction and enable their development community stuck b

[2017-10-16 20:27] haniamr commented on #46
Well, I'm not sure that it makes sense to be included as an MSBuild property since it is really a case specific scenario, I don't think it's a general use case (as of now at least).

Having your own target is pretty simple, here's an example of what your targets file might look like:
[code]

You'll have to import that file in your .dcproj and define CleanVolumesTask somewhere.

Since the only comm

[2017-10-16 20:34] haniamr commented on #34
Can you set the MSBuild project output verbosity to detailed (in Tools > Options > Projects and Solutions > Build and Run) and then provide the contents of the Build output panel?

[2017-10-16 22:53] kdlslyv commented on #52
Hey sgreenmsft,

Wow, thanks for that quick reply and an easy solution to work around that issue, I feared it‘d be more complicated than that.

Awesome!

[2017-10-20 17:31] #47 closed

[2017-10-24 20:51] grahamehorner opened #53 "DockerServiceUrl"
When creating a #aspnetcore 2.0 project that has #identity enabled the DockerServiceUrl in the .dcproj file in not valid and is a string that is combined URIs in the form of http://{ip}/https:localhost:{port}/ see https://github.com/grahamehorner/AspNetCoreTemplateDockerIssues/tree/master/WebApplicationLinuxWithAuth as example of a repo

[2017-10-30 19:44] #51 closed

[2017-10-30 19:44] #46 closed

[2017-11-03 10:30] micnyk commented on #43
Any updates on this issue?
When fix will be released?

[2017-11-03 11:18] brainwipe commented on #43
This was fixed in 15.4

[2017-11-03 15:38] dbreshears commented on #43
@brainwipe, thanks for the confirmation.   @micnyk,   this issue was fixed.   I'll close this issue for now but open another issue if still having problems after updating to 15.4

[2017-11-03 15:38] #43 closed

[2017-11-07 18:09] twsouthwick opened #54 "Add->Docker Support does not account for custom output paths"
I like to set up my projects so the obj and bin directories are all together instead of within the src files. I do this by adding a `Directory.Build.props` file to the top level directory next to the solution file with lines similar to this:

[code]

However, if a project has this and tries to add Docker support, then the resulting Dockerfile and docker-compose.yml do not produce a viable containe

[2017-11-07 21:25] dmarlow commented on #32
@pbering did you ever end up finding a fix to your problem? I'm running into the same thing:

[code]

[2017-11-08 07:53] pbering commented on #32
@dmarlow not exactly... ended up just stopping using those files. Later on in 15.4 the use of a custom entrypoint was also broken so can't use that anymore either (the tooling overwrites it)

[2017-11-13 11:06] lechuckcaptain commented on #33
I'm experiencing the same issue, I'm trying to use the same VS project (_basemicroservice_) in different containers:

[code]

With this configuration I got the following error starting the debug with docker-compose:

[code]

The problem seems related to VS is not able to resolve some variables:

- $container_paths_to_fallback_packages_ms_1$
- $nuget_user_folder_ms_1$
- $nuget_fallback_packages_vol

[2017-11-13 11:12] lechuckcaptain opened #55 "docker-compose (dcproj) projects doesn't support TFS integration"
It's not possible to checkout files into a docker-compose (dcproj) projects. The functionality is simply not available to the user (see screenshot).

![image](https://user-images.githubusercontent.com/341895/32722918-d75f160e-c86b-11e7-978d-58a18d1c13c7.png)

The developer needs to manually check-out the required files from Source Control Explorer

[2017-11-16 19:04] yanchenw commented on #53
Hi grahamehorner, this issue has already been fixed in latest Visual Studio 2017 preview release.
You can download the latest bits here: https://www.visualstudio.com/vs/preview/

Please let us know if you have further question.

Thanks
Yanchen

[2017-11-16 19:04] #53 closed

[2017-11-16 19:30] RunnX commented on #24
@TotzkePaul - I was having similar issues as you with the volume.
volumes:
      - C:\Users\FakeUser\AppData\Roaming\Microsoft\UserSecrets\:/.microsoft/usersecrets/

Needs to change to the following:
volumes:
      - C:\Users\FakeUser\AppData\Roaming\Microsoft\UserSecrets\:/root/.microsoft/usersecrets/

I found the details at http://www.natemcmaster.com/blog/2017/11/13/dotnet-watch-and-docker/

Re

[2017-11-16 20:27] dweggemans commented on #9
Is there any workaround available? I have a case where I have to run some 3rd party software in the project container. I am able to download and install it in the docker file, but I am unable to run its services on container startup in any way. It just executes my project and ignores whatever I've configured as CMD or ENTRYPOINT.

[2017-11-18 15:47] matjanos commented on #24
@RunnX very good! helped a lot!

I'd even extend it to be more machine independent and use %APPDATA% variable or $HOME:
[code]

More details at http://blog.matjanowski.pl/2017/11/18/managing-options-and-secrets-in-net-core-and-docker

Best, Kuba.

[2017-11-20 20:15] MichaelSimons opened #56 "Cannot run ASP.NET Docker app"
_From andrewb-ms on Nov9, 2017_
_Copied from https://github.com/dotnet/dotnet-docker/issues/336_

## Steps to reproduce the issue
1. Make a new Windows Server 2016 instance somewhere
2. Install Visual Studio 2017 on it
3. Install Docker for Windows
4. Make a new ASP.NET Classic or Core app, choose Add Docker, click run

## Expected behavior
Actually works, runs in docker

## Actual behavior
Genera

[2017-11-23 05:02] lilasquared commented on #33
@lechuckcaptain I'm having the same issue, did you figure out what was wrong?  My first two instances are not able to resolve the user folder or the nuget fallback folder but the third instance does resolve them

[2017-11-23 09:33] lechuckcaptain commented on #33
@lilasquared I'm still blocked on this side. Hoping it will be fixed on next release

[2017-11-23 10:36] CAH-FlyChen opened #57 "How can i debug a plugin?"
I have a app docker named docker-main.Then i have a plugin solution which contans three project project-a project-b porject-c. project-b and project-c depands on project-a
when in debug mode, the plugin solution can not run.because i wirte copy file command which not work in debug in dockerfile.
what should i do?

[2017-11-27 18:25] #52 closed

[2017-12-04 17:16] 21robin12 opened #58 "Will onecoremsvsmon Remote Debugging tools be made available independently of Visual Studio 2017?"
It looks like Visual Studio downloads a special version of the Remote Debugging tools to C:\Users\<user>\onecoremsvsmon when first running a project with Docker support. I want to include these tools in other Docker projects so that I can attach to Docker containers that are already running - my application consists of 10+ microservices, and running each of these through separate instances of Visu

[2017-12-06 16:47] 9Rune5 commented on #56
I suspect the same issue trips up my build agent that runs on Windows 2016.

[code]

[2017-12-06 19:04] 9Rune5 commented on #49
Your comment indicates that you actually managed to get it rolling? I'm stuck with a somewhat cryptic "error MSB4018: The "ResolveTargetOS" task failed unexpectedly." message.

[2017-12-12 05:46] tibmeister opened #59 "Support for Linux Docker Host"
I would love to see the removal of Docker on Windows in order to use this.  I do ASP.NET Core Web API on a Linux host using Docker, at this time it's all manual build and run, and I can't debug on that platform easily.

[2017-12-12 12:14] McMlok opened #60 "Visual Studio cannot run ASP.NET Core app in docker"
Hello,

I create new ASP.NET Core app from template and try tu run this app inside docker. But when I hit F5 I get error

1>docker ps --filter "status=running" --filter "name=dockercompose5249654611173997711_dockertest_" --format {{.ID}} -n 1
1>DockerTest -> D:\Projects\DockerTest\DockerTest\bin\Debug\netcoreapp2.0\DockerTest.dll
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSB

[2017-12-18 19:57] niemyjski commented on #52
I'm also running into this and it's very very annoying. I have one job project and the job exe's arguments define the job to run, I want to have docker-compose reuse an image and fire up X instances.

[2017-12-21 22:41] alexvy86 commented on #23
I see it's been a while since the issue was raised, but in case this helps anyone: VS Docker Tools apparently only compiles services that have a `build` section defined in the docker-compose file. so what I've been doing to debug a single service out of a bunch is to remove the `build` section of all the other ones (from `docker-compose.yml` and/or `docker-compose.override.yml`). As long as the ot

[2017-12-21 23:10] alexvy86 commented on #32
I've been running into the same issue as @pbering when trying to build the `docker-compose` project and I managed to figure out what was causing it in my case.

For clarity, here's the error again, as seen in the Build output in Visual Studio:

[code]

For certain scenarios, I wanted to use `docker-compose` just to start a bunch of containers from images that are already built (instead of creating

[2017-12-22 04:03] rukstar007 commented on #18
I have the same issue, the output window message is below:
You may only use the Microsoft .NET Core Debugger (vsdbg) with
Visual Studio Code, Visual Studio or Visual Studio for Mac software
to help you develop and test your applications.
-------------------------------------------------------------------
realpath(): Stale file handle
realpath(): Invalid argument
realpath(): Invalid argument
realpa

[2017-12-24 18:05] jcgillespie opened #62 "How can I pass additional arguments to my application?"
I have a .net core 2.0 console application that expects an argument. This works fine from docker and docker-compose, but fails when debugging because of the way the `com.microsoft.visualstudio.debuggee.arguments` label is generated.

Is there a mechanism for specifying arguments that I've missed? Perhaps using `launchSettings.json` or something in the `override.yml`?

Thanks!

[2017-12-27 11:02] CAH-FlyChen opened #63 "default asp.net core web debug error"
i create a default  asp.net core web app
enable windows docker support
F5
i got error

[code]

docker file is

[code]

docker-compose.yml
[code]
docker-compose.override.yml
[code]

docker-compose.vs.debug.yml
[code]
docker-compose.vs.release.yml
[code]

[2017-12-27 11:13] CAH-FlyChen commented on #63
code is here [https://github.com/CAH-FlyChen/test](url)

[2017-12-27 11:20] CAH-FlyChen commented on #60
i have the similar situation   https://github.com/Microsoft/DockerTools/issues/63

[2017-12-28 03:26] CAH-FlyChen commented on #63
i know what‘s wrong
need to change from microsoft/aspnetcore:2.0.4-nanoserver-sac2016
but i got another exception

docker  exec  b5e1a29c9f02 powershell -Command if ((Get-Process msvsmon -ErrorAction SilentlyContinue).Count -eq 0) {  Start-Process C:\remote_debugger\x64\msvsmon.exe -ArgumentList /noauth, /anyuser, /silent, /nostatus, /noclrwarn, /nosecuritywarn, /nofirewallwarn, /nowowwarn, /timeo

[2018-01-02 21:14] cluka opened #64 "I can't Add Docker Support in Asp.Net Core 2.0 Targeting Full .Net Framework 4.7"
If I create new Asp.Net Core 2.0 WebApi project that targets .Net Framework 4.7 I can't Add Docker Support to it. The option in context menu of the project odes not show Add->Docker Support.

[2018-01-09 14:07] ConradMostert commented on #37
Thanks, had to all three (reset credentials, remove images and deleted %userprofile%\vsdbg) before success

[2018-01-10 05:27] alexzaytsev-newsroomly opened #65 "Question - why build on docker, and not host-only on docker"
With the latest versions of docker tools, the dockerfile contains a whole bunch of containers, and i really struggle to understand why.
We copy all projects (and they are hardcoded into the dockerfile) to a container, then build, then copy the output to another container and then host.

Why is that? what is the reasoning the team had behind it?

My workflow is fairly simple:
1. Develop on Windows.

[2018-01-11 01:28] dbreshears commented on #65
We switched to a multi-stage build Dockerfile in the latest tools.     Even though this is the default scaffolded in Dockerfile, you can switch back to the old format if you choose and your scenario should continue to work.  FWIW, nearly all of this new Dockerfile format is only relevant when choosing the Release build configuration as we do things much differently in Debug configuration mentioned

[2018-01-11 04:41] alexzaytsev-newsroomly commented on #65
@dbreshears thank you for the info 👍
I guess the main use case for VS integration (Docker tools) is more to diagnose issues when the app doesn't work specifically in docker.

For most cases, this tooling is not necessary (it is faster to debug the app outside of docker).

[2018-01-11 08:19] CAH-FlyChen commented on #63
upgrade docker works fine.

[2018-01-11 08:19] #63 closed

[2018-01-12 11:41] mikebolland opened #66 "Docker login"
It seems there is no place to login to repositories, is this somewhere I can't see or just not supported yet?

[2018-01-12 20:40] dbreshears commented on #65
Sure.  To debug your application code or logic it may make sense to simply use IISExpress or run outside the container for optimal perf although we are making performance improvements here and there to get as close as possible.  The tooling certainly will be beneficial when composing multiple containers and attempting to get more production realism when debugging,  hence why we still volume mount

[2018-01-12 20:40] #65 closed

[2018-01-13 05:33] AceHack opened #67 "Consider Multi-arch container support"
Please add multi-arch support for docker tools for visual studio allowing targeting of multiple environments, basically all those .net core is based on like Linux, windows, arm, etc...

Also just to clarify, I want to be able to create multi-arch containers using one project, kind of like .NET has TargetFrameworks for .NET class libraries allowing to target multiple versions of .NET.

https://docs

[2018-01-15 04:02] AceHack commented on #67
More info
https://blog.docker.com/2017/11/multi-arch-all-the-things/

[2018-01-15 21:57] jamiegs opened #68 "Support for a pre-'docker build' command"
I'd like the ability to run a command prior to Tools for Docker building the containers.  The command is used to setup our developer's environment.  Maybe such a feature exists but I couldn't find it in any documentation.

It needs to happen before the container build because I'm writing out a .env file to pass some user-specific values in a .env file that get read into docker-compose.yml.

It wou

[2018-01-15 22:02] jamiegs opened #69 "Docker solution that works in VSCode and VS2017"
We're using .NET Core running in Docker.  We have some developers using Mac and some on Windows.  Mac devs are using VS Code and Windows users are using VS2017.

I'm finding it difficult to get a solution that works for both VSCode and VS2017 users working on the same code.

Is there any recommendations for this sort of setup?

[2018-01-16 16:52] dbreshears commented on #68
So for running a command prior to building the containers,  you should be able to go to Tools->Options->Container Tools->Settings and uncheck "Automatically start containers in the background".     Then go to the web or console project you have added Docker support to, right click and go to properties,   Open Build Events tab and add your Pre-build event command line.

We don't have an extensibili

[2018-01-16 19:43] jamiegs commented on #68
Thanks, I was able to get it working, however it seems that the "Automatically start containers in the background" setting needs set per user.. which will require all of our users to uncheck the box or they'd have some unexpected results.

Is there any way similar functionality, like PreBuildEvents, added to the dcproj file as we'd only want the command to run if the user chose to debug using dock

[2018-01-16 19:56] dbreshears commented on #68
Unfortunately, we don't have support in the .dcproj currently.    Your option at this point would be to update our Docker MSBuild .targets file to execute your command at appropriate time,  but then beware that we would likely overwrite your custom targets each time we release new tooling.

[2018-01-18 21:57] olivier-haddad opened #71 "Project assembly name is not taken into account"
In VS 15.5.4, suppose you have the following project:
Project name: "**ProjectName**"
Assembly Name (set in project Properties/Application form): "**CompanyName.ProjectName**"

The compiled dll will be named "**CompanyName.ProjectName.dll**"
but the project Dockerfile will contain: E**NTRYPOINT ["dotnet", "ProjectName.dll"]**
I suppose this is because VS 2017 uses the project name as the dll name.

[2018-01-19 22:50] haniamr commented on #45
Will close the issue for now, feel free to reopen if the issue is still there.

[2018-01-19 22:50] #45 closed

[2018-01-19 22:51] haniamr commented on #34
Closing the issue for now, @kspearrin please feel free to reopen if needed.

[2018-01-19 22:51] #34 closed

[2018-01-22 14:51] RehanSaeed opened #72 "Starting Dependency Containers (e.g. Redis, RabbitMQ) Fails"
If I add Redis or RabbitMQ to my `docker-compose.yml` or `docker-compose.override.yml` then VS fails to start Debugging with the error:

[code]

Here is my config file:

[code]

[2018-01-23 08:37] hgy59 commented on #60
same for me, but I have to run/debug the app on a machine in an isolated network environment (no internet access)

How can I find out what is requested?
Is there another docker image or nuget package to download?
working with private docker registry and local nuget repository.

I already downloaded vsdbg to and have onecoremsvscore in %USERPROFILE%.
Docker images microsoft/aspnetcore-build and mic

[2018-01-23 12:53] McMlok commented on #60
Today I update Docker For Windows to version 17.12.0-ce and now debuging works. I use Visual Studio 2017.6 preview 2

Maybe issue was in Firewall setings now I see two new rules for docker

[2018-01-24 16:36] AceHack opened #73 "Please allow different/multiple file names and overrides and folders"
I'm unable to rename docker-compose.yml or docker-compose.override.yml, these appear to be hard coded.  C# has a build action option per file that would be great to allow these kind of customizations.  I would like to support multiple overrides.  Right now I tried to add

    <None Condition=" '$(DockerTargetOS)' == 'Linux' " Include="docker-compose.linux.yml">
      <DependentUpon>docker-compose.

[2018-01-24 17:36] AceHack opened #74 "Please support the new LCOW (Linux Containers on Windows)"
This only support the legacy Linux containers not the new style

[2018-01-27 01:04] AceHack opened #75 "Please allow extra command line parameters to be passed to docker-compose"
It would be great to allow extra command line parameters

[2018-02-02 16:29] guilhermecreste commented on #40
Hello, I resolved the communication from Docker container to a local service by changing the network mode to "bridge". For example, inside docker-compose.yml file edited it to reference the new network model:

version: '3'

services:
  thenameoftheservice:
    image: thenameoftheimage
    **network_mode: bridge**
    build:
      context: .
      dockerfile: folderwheredockerfileis/Dockerfile

[2018-02-05 15:13] evil-shrike opened #76 "Subsequent docker-compose run from VS fails in case of named containers"
I have a docker-compose with several services where I specied names for containers.

Like:
[code]
If I run `docker-compose up` it works fine. I can start, stop and then start again.
But if I start debugging from VS by pressing F5 then docker-compose fails with error:

[code]
Well I understand in general what causes the error. It's the same case if I run `docker run --name <name>` for a named conta

[2018-02-05 16:07] RehanSaeed commented on #40
That didn't seem to work for me. I've added Docker support, used localhost in my connection string with a user Id and password instead of integrated security but I still get a timout.

[2018-02-05 16:08] RehanSaeed commented on #40
I'm using VS 15.5.2 and it's multi-stage builds where the yml has changed a bit.

[2018-02-05 21:42] guilhermecreste commented on #40
I see... Well, try to use the localhost IP Address 127.0.0.1, instead of localhost. Also, you can verify what is the network mode that your Docker container is using. Give a try with this command: docker inspect yourcontainername

You should see something like below in the output:
 "Networks": {
                "bridge": {

To verify what network you have for Docker, run this command: docker netwo

[2018-02-07 15:02] evil-shrike opened #77 "No Docker support for mstest projects"
There's NO Add -> "Docker support" command for MSTest projects.

If I add a Dockerfile into a mstest project and a service for it into my docker-compose DockerTools fails on build dcproj-project:
Object reference not set to an instance of an object.	docker-compose
Source: Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Docker.Compose.targets	2

[2018-02-12 16:32] sokol74 opened #78 "The command '/bin/sh -c apt-get install -y libgdiplus' returned a non-zero code: 100"
Hello guys.
I have some difficult issues, when attempt to build project with docker
1>Building rpd.loader.service
1>Step 1/9 : FROM microsoft/aspnetcore:2.0
1> ---> 21cdbb87454f
1>Step 2/9 : ARG source
1> ---> Running in 3e33c437740e
1>Removing intermediate container 3e33c437740e
1> ---> d4668730dcd3
1>Step 3/9 : RUN apt-get update
1> ---> Running in 75faae6bd09c
1>Err:1 http://deb.debian.org/debi

[2018-02-13 11:01] pernix84 commented on #37
In what order have you executed the steps, which helped to solve the problem? It seems I have the same problem, executed all steps, rebuilt the solution, but it doesn't seem to be working. However, the image is running correctly, but the VsDbg cannot be started.

[2018-02-13 12:13] sokol74 commented on #78
Somebody plz help me.
I have no idea how to resolve this issue

[2018-02-13 17:49] nicksterx commented on #37
Same issue. I have reset credentials, removed and recreated images, and deleted vsdbg.

Microsoft Visual Studio Enterprise 2017 Version 15.5.6

Docker version
Client:
 Version:       17.12.0-ce
 API version:   1.35
 Go version:    go1.9.2
 Git commit:    c97c6d6
 Built: Wed Dec 27 20:05:22 2017
 OS/Arch:       windows/amd64

Server:
 Engine:
  Version:      17.12.0-ce
  API version:  1.35 (minimum

[2018-02-14 11:40] pernix84 commented on #37
Sorry, I missed to add my docker versions as well.
Visual Studio Professional 15.5.6

Client:
 Version:       17.12.0-ce
 API version:   1.35
 Go version:    go1.9.2
 Git commit:    c97c6d6
 Built: Wed Dec 27 20:05:22 2017
 OS/Arch:       windows/amd64

Server:
 Engine:
  Version:      17.12.0-ce
  API version:  1.35 (minimum version 1.12)
  Go version:   go1.9.2
  Git commit:   c97c6d6
  Built:

[2018-02-14 15:54] nicksterx commented on #37
@pernix84 My application starts. And other dlls have their symbols loaded properly. It's the main application started by the docker container that doesn't have its symbols loaded.

[2018-02-17 06:20] mit-jamie-clayton commented on #34
Here is an example from a .net core 2.0 project with hangfire.io configured that may help @haniamr understand the scenario.

## Environment
Windows 10 enterprise v1709
VS 2017 v15.5.6 Enterprise
VS Build Tools 2017 v15.5.5 (2)
Docker Version 17.12.0-ce-win47 (15139)
.net core SDK 1.0.3, 1.0.4, 1.1.0 x64 installed

# Steps to reproduce
- Added Docker support to solution
- Tried to compile and run s

[2018-02-20 08:40] SvenPetroll opened #79 "Adding service with alpine based image results in failed build"
I have added a service that is based on an `alpine` image (nginx hosted angular frontend) to my `docker-compose.yaml` file. This `alpine` image doesn't include `/bin/bash`.

When I start my `docker-compose` project, it looks for the `dotnet` process inside this container and fails on build:

    1>docker ps --filter "status=running" --filter "name=services.dev.frontend" --format {{.ID}} -n 1
    1

[2018-02-22 16:34] tkoestler commented on #33
I've hit the same issue.  Since this bug was opened 6 months ago and there's been no movement I'm not going to hold my breath.

[2018-02-28 18:07] yanchenw commented on #75
There is one work around you can do right now.
Open the generated obj\Docker\docker-compose.vs.debug.g.yml, if you want to override anything in here, create docker-compose.vs.debug.yml alongside with docker-compose.yml, override anything you want there, in your case, you will want to override the com.microsoft.visualstudio.debuggee.arguments.

For example, if I want to add a parameter to my dotnet

[2018-02-28 21:38] yanchenw commented on #67
@AceHack Using platform specific image names is a design choice we made to make sure users know exactly what platform their images will be build against.

But if you want to take advantage of multi-arch image tags, you can easily change the base image name inside the generated Dockerfile from platform specific tags to multi-arch tags.

e.g. you can change the following tag in Dockerfile in a dotne

[2018-02-28 21:40] yanchenw commented on #79
@SvenPetroll  Can you share a sample docker-compose file with us to reproduce this issue?

[2018-02-28 21:48] yanchenw commented on #71
@olivier-haddad Thank you for reporting the issue. We'll fix this issue in next release.
At the same time, please change the ENTRYPOINT manually to point to the correct assembly name.

[2018-02-28 21:52] yanchenw commented on #72
@RehanSaeed I cannot repro this issue, is it possible that your Docker server is somehow non-responsive?

[2018-02-28 23:40] AceHack commented on #67
@yanchenw Your response is missing the point of my request.  What I'm asking is to create one docker file but produce multiple arch docker images from it, with one build command in VS.  I understand that I can target any specific platform image, I want to produce multiple platform/arch images in one build, just like you can with the TargetFrameworks.

[2018-03-01 10:49] MikhailTymchukDX commented on #9
Same problem.
I have simple .NET Core console app which expects some args.
But this .yml files just overrides entrypoint and it seems specifying `command` does not work too (@dazhao-msft correct me if I wrong).

I found kind of workaround here: https://stackoverflow.com/a/40730210/644496
In short, we have to set environment variables in docker compose and read it at the start:

**docker-compose.ym

[2018-03-01 10:54] Ben-m-s commented on #75
Hi @yanchenw, I am using VS2017 15.5.7.
When I add docker support to a .NET web application, the files docker-compose.vs.debug.g.yml and docker-compose.vs.release.g.yml are not created in the docker-compose project.
When the solution is built, the same files are not created in the -obj/Docker folder either.
Even, when I manually add them, they are ignored.

Is this a bug? How can we have control o

[2018-03-01 16:56] IharYakimush commented on #37
Got same issue.
Revolved by granting full control access to `%userprofile%\vsdbg` and `%userprofile%\.nuget` for `Everyone` user

[2018-03-01 17:37] yanchenw commented on #75
@Ben-m-s if your debugging is working, the files should be generated under the obj folder in the same directory where the docker-compose.dcproj is. Can you double check?

[2018-03-01 22:13] Ben-m-s commented on #75
Thanks for your quick response.

I was checking the "obj" folder under the website folder. I didn't realise that there was an "obj" folder  at solution level.

I also found that a manually created file named "docker-compose.vs.debug.yml" saved with the project "docker-complose.dcproj" (at solution level) is detected by VS and used while building the solution with the Debug configuration.

I had do

[2018-03-01 22:16] yanchenw commented on #75
@Ben-m-s I'm glad it works for you. Closing.

[2018-03-01 22:16] #75 closed

[2018-03-02 14:41] MichaelSimons opened #80 "unknown flag: --target"
_Copied from https://github.com/dotnet/dotnet-docker/issues/407 on behalf of @Yamdie_

## Steps to reproduce the issue
1. create project using VS 2017
2. add docker
3. build

## Expected behavior

## Actual behavior
Severity	Code	Description	Project	File	Line	Suppression State
Error		unknown flag: --target
See 'docker build --help'..

For more troubleshooting information, go to http://aka.ms/Docke

[2018-03-02 16:36] dbreshears commented on #80
@Yamdie,  Can you share some more information

- What Version of VS 2017 do you have
- What version of Docker For Windows do you have installed, is it in Linux or Windows mode?
-  What type of project are you creating,  .NET Core or .Net Framework, web or console?
-  Can you create the same project and not add docker support, does it run.  What if you add Docker support after validating it runs lo

[2018-03-07 10:21] Rast1234 commented on #34
Same problem. My project first targeted only core20 and built successfully with docker. Then i changed it to `<TargetFrameworks>net471;netcoreapp2.0</TargetFrameworks>` and it does not build, giving the same error. I understand that multi targeting is not well supported, but it would be nice to have docs on what's working and what's not.

[2018-03-08 00:51] alexvy86 opened #81 "Dockerignore file copied to .dcproj's folder instead of added from its location"
I noticed that when I try to add a `.dockerignore` file to the `docker-compose` project in VS, if the `.dockerignore` is in different folder than `docker-compose.dcproj`, the file gets copied to the project location, and that file is the one that gets added to the project. Is this expected? I end up with two files that need to be synced manually, and more importantly, my `docker-compose.dcproj` fi

[2018-03-09 20:19] leovolpatto commented on #42
Back to NodeJS and Linux environment...
MS--

[2018-03-10 20:06] AceHack opened #82 "Cannot use .env file"
I get the following error when trying to use an .env file in the same directory as my docker-compose.yml file.

The DOCKER_PRIMARY_VERSION variable is not set. Defaulting to a blank string.
The ASSEMBLY_VERSION variable is not set. Defaulting to a blank string.
The FILE_VERSION variable is not set. Defaulting to a blank string.
The BuildConfiguration variable is not set. Defaulting to a blank stri

[2018-03-13 20:07] MetaFight commented on #75
@yanchenw the original issue hasn't been addressed.

I would also like to specify additional docker-compose parameters.  At a bare minimum it should be possible to specify a number of override files using `-f docker-compose.override1.yaml -f docker-compose.override2.yaml` etc...

[2018-03-13 20:11] MetaFight commented on #73
I agree.  The `docker-compose up` invocation is overly restrictive.

Being able to specify override files should be a high priority item.  So much of docker-compose's power stems from that.

Also, being able to specify `-p projectName` would be useful.

[2018-03-13 20:13] MetaFight commented on #73
I'd like to add that setting the "Build Action" in the properties pane is probably not enough since, IIRC, the order in which overrides are specified is important.  So, if the "Build Action" approach is used then an additional "Override Order" would be needed as well.

[2018-03-14 03:06] byronv5 opened #83 "vs2017 debug error:error during connect: Get http...blabla...This error may also indicate that the docker daemon is not running."
My OP is win10 Home,I installed DockerToolbox.How to solve the bug?

[2018-03-14 03:34] TomGillen opened #84 "Release builds fail during dotnet restore"
1. Create a new project in Visual Studio 2017 15.6.2.
2. Right click on the project and add docker support.
3. Switch to Release, and hit compile.

The compile fails with the following:

[code]

The same error can also be reproduced in any build that attempts to build the docker image, including running `docker build` locally and on CI services such as Docker Cloud.

There will also be additional

[2018-03-14 09:06] christiansparre opened #85 "dotnet restore on 2.1 preview 1 fails with MSB3202 using the generated Dockerfile"
Just a heads up as I have not really been able to find anything mentioned about this. Just want to be sure it's on someone radar :)

When trying out ASP.NET Core 2.1 preview 1 with the current Docker tools for VS I'm running into the following. See the issue here for details: https://github.com/NuGet/Home/issues/6651

The error is:

`/usr/share/dotnet/sdk/2.1.300-preview1-008174/NuGet.targets(239,

[2018-03-14 15:15] TomGillen commented on #85
It is probably worth noting that, in #84, I am not trying to use the 2.1 preview, but the 2.0 release; yet I am getting the same error.

The Dockerfile is running the build in `microsoft/dotnet:2.0-sdk`, but the Nuget.targets error is coming from `/usr/share/dotnet/sdk/2.1.101/NuGet.targets`. Does the `2.0-sdk` image have the wrong sdk installed?

[2018-03-14 15:20] christiansparre commented on #85
I don't think it has the wrong sdk installed, but they update the 2.0 versions with new minors of the runtime and sdk and sdk **2.1.101** seems to be breaking this. I just experienced this demoing the eShopOnContainers sample to a coworker. See https://github.com/dotnet-architecture/eShopOnContainers/issues/543

Using `aspnetcore-build:2.0.5-2.1.4` in ASP.NET Core land works, what the equivalent d

[2018-03-14 19:41] WolfspiritM commented on #85
That is related with: https://github.com/aspnet/aspnet-docker/issues/388

[2018-03-15 08:15] kalexii opened #86 "Config transformation for DockerTools"
Hello, guys!

Here's a feature request (or an explanation request if that kind of thing is already possible, though I wasn't able to find any docs mentioning that):
It would be really great if docker-compose build would differentiate between build configuration, so that different settings would take effect (e.g. environment variables like ASPNETCORE_ENVIRONMENT specified in docker-compose.override

[2018-03-15 19:29] natemcmaster opened #87 "Generated Dockerfile does not copy .dcproj into the container"
The current VS tooling generates a Dockerfile that looks like this:

[code]

This file does not copy the .dcproj into the container, even though the .sln file references the .dcproj. This was done to workaround a different error, `error: MSB4236: The SDK 'Microsoft.Docker.Sdk' specified could not be found` which happens when the .dcproj is present. However, this means the project setup is malforme

[2018-03-15 19:49] natemcmaster commented on #84
This error was caused by changes in NuGet between the 2.1.4 and 2.1.101 SDK. We are working on a hotfix to the aspnet-docker image which includes a workaround for this error. (see https://github.com/aspnet/aspnet-docker/pull/389). In the long-run, we hope to eliminate the need to suppress MSB3202 (see #87)

In the meantime, you can apply this workaround locally to unblock your builds. Change any l

[2018-03-20 18:32] WolfspiritM opened #88 "Using a docker repository with port results in a wrong imagename in VS"
Hi,

I was using a local docker repository but that seems to break things when using a port for that.

I remember there was a bug that tags didn't get honored it seems like that issue is related and the fix for it is now breaking in my case.

For example I've set my docker-compose like that:
[code]

Visual Studio seems to cut on the first ":" and the final image in both cases ends up being:
 ```lo

[2018-03-21 14:36] WolfspiritM commented on #82
The .env file only works for me when loading the solution via the .sln file from explorer.
If loading the solution via visual studio itself it seems like VS doesn't properly set the working directory for docker-compose preventing the .env file from working...

I hope that gets fixed...

[2018-03-26 15:32] nphmuller opened #89 "network nat is ambigous"
When I create a new ASP.NET Web Application in VS 15.6.4 with Docker Support enabled, I immediately get the following build error:
[code]

`docker network ls` produces the following output:
[code]

Both nat network cannot be removed because:
[code]

According to https://github.com/moby/moby/issues/20648#issuecomment-188215208 duplicate network names in Docker are by design. So this might be a bug.

[2018-03-26 15:38] nphmuller commented on #89
Docker factory reset can be used as a workaround.
Factory reset still creates 2 nat driver networks for me, but with a unique name:
[code]

[2018-03-26 15:48] nphmuller opened #90 "Progress unknown when pulling images"
The docker CLI has a nice progress indicator when pulling images. The Visual Studio tools are missing this, which is especially noticeable when pulling big images. For example: the windows server images. This can take minutes, in which there is no visible progress.

[2018-03-27 11:17] nphmuller opened #91 "Unable to start debugging on the web server"
This happens when I create a new ASP.NET Web Application in VS 15.6.4 with Docker Support enabled.

I get the following output when I start a debugging session (F5)

[code]

docker version output:
[code]

[2018-03-27 11:25] nphmuller commented on #91
This always happens when adding Docker support for Windows. So it doesn't matter if the project targets .NET Full or .NET Core. No problem when using Linux containers.

[2018-03-27 11:41] nphmuller commented on #91
I also tried deleting the folders mentioned [here](https://docs.microsoft.com/en-us/azure/vs-azure-tools-docker-troubleshooting-docker-errors#unable-to-start-debugging) which didn't help.

[2018-03-27 21:32] dmaksim opened #92 "When debugging netcoreapp2.1 with docker support, VS does not stop on breakpoints"
Hello,

**Scenario / repro steps:**
1. In VS 15.7.0 Preview 2 -> create a new project -> ASP.NET Core 2.1 -> enable docker support (linux)
2. In the Dockerfile, replace default generated image names with:
`FROM microsoft/aspnetcore:2.1.0-preview1 AS base`
`FROM microsoft/aspnetcore-build:2.1.300-preview1 AS build`
3. Place a breakpoint in code, e.g. in Startup.cs -> `await context.Response.WriteAs

[2018-04-03 00:30] dazinator opened #93 "New ASP.NET project vs2017 - error."
Created a new asp.net website project with docker tools, and then when launching it I see an error.

![image](https://user-images.githubusercontent.com/3176632/38222629-d35f1866-36dd-11e8-8020-7dbd3ad96a56.png)

Note: I can browse to the address fine and it works - if I manually copy and paste the address into my browser.

##Steps

I have docker installed on windows 10 using windows containers:

!

[2018-04-04 16:34] bospoort commented on #89
The factory reset didn't work for me. I uninstalled Docker and then reinstalled. There were still two networks named nat. After uninstall, I had to remove all folders named Docker or .docker from Program Files, ProgramData, my profile etc. Then reinstall, and I had only one network named nat. Uninstalling Docker seems to leave a lot behind.
I'm also not sure if two nat networks is by design.

[2018-04-05 15:37] AceHack commented on #74
Any update on this?  Just tried with the new 2.1 version and still didn't work.  Thanks.

[2018-04-06 14:37] hbulens commented on #21
Is there any feedback on this one?

[2018-04-06 19:55] langboost commented on #93
Can you run "docker inspect webapplication1" (or whatever your image is named)? The only time I have encountered this error message is while messing around with different permutations of CMD and ENTRYPOINT in an aspnet based image. The inspect command will show exactly what is running as the container starts, which will help in reproducing the issue.

[2018-04-09 15:03] darthmolen commented on #85
This has killed me even attempting to use 2.1 in docker and if it still exists on release, I won't be able to use it then either.

Even following the spaghetti issues that are linked was hard to understand.

[2018-04-11 12:39] lnimong commented on #78
Hi,
I'm running into the same problem
did you solve it ?

[2018-04-11 15:42] rsaltrelli commented on #87
Hi Nate,

Sorry for butting in, but I'm encountering this issue while not building within a docker container.  I'm just trying to build on the host system.  Also, VS Code says "Unknown project type" for *.dcproj files.  Here's my `dotnet --info`:

[code]

So questions for you:
1) Is the VS Code issue related to the MSB4236 error?
2) Unless I'm misunderstanding something, it seems like the solution

[2018-04-11 16:37] natemcmaster commented on #87
You're hitting a separate issue from this one. MSB4236 happens on any project beginning with `<Project Sdk="Microsoft.Docker.Sdk">` cannot build with dotnet.exe because Microsoft.Docker.Sdk is only supported from msbuild.exe, not dotnet.exe. This will be fixed in the 2.1.300 SDK update (currently in preview).

You can workaround it by adding a dummy set of targets to your SDK. (see https://github.

[2018-04-11 16:48] rsaltrelli commented on #87
OK. I guess I'll take a look at 2.1.300.  Thanks!

[2018-04-12 10:00] mikebollandajw opened #94 ".Net Framework ASPNet Core Application Errors"
When attempting to create a docker enabled project which is using .Net Framework and ASPNet core the dockerfile generated is invalid and an error is throwing when attempting to run the project

Error		Value cannot be null. Parameter name: stream	docker-compose	C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Docker.Compos

[2018-04-13 12:46] randre70 commented on #42
One possible solution is to run visual studio ide (e.g. "C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\devenv.exe") from cmd where you first ran the output of "docker-machine env". At least you wont see this nasty error message on startup, debugging won't work, though. Argh, never mind, ... it just doesn't work

[2018-04-15 10:26] ccit-spence commented on #37
Same issues here, so far nothing as worked from above.  Reinstalled Docker, Reboots, New non AD user, Reset Permission, Add Share in Docker, New App API, New App MVC.

Manually running docker-compose up works.  Nothing from VS2017 has worked.

[2018-04-15 21:58] ccit-spence commented on #37
@nicksterx I have a new machine. Base VS2017 Enterprise with no extensions. Used the standard web MVC template and the standard API template for core 2.0.

Now that being said, I got it working finally.

1. Created a local account.
2. Log in to new local account and access the files of the AzureAD user, press continue.
3. Restart
4. Now I can click the share in Docker preferences and it works.
6.

[2018-04-15 22:39] mattwcole commented on #37
I tend to run compose projects without the debugger attached (CTRL-F5) and there is no issue there. Any time I run with the debugger however I get the error above. This has been consistent on different machines, projects (including unaltered VS templates) and versions of VS and Docker for Windows for almost a year now.

[2018-04-17 15:14] TribeDataWorksJim commented on #89
I have tried factory reset, reinstalling (and tried to find all occurrences of the folders), but am still having this issue.

[2018-04-17 15:28] dbreshears commented on #89
You might try this network cleanup script.   It has helped with similar issues in the past -> https://github.com/MicrosoftDocs/Virtualization-Documentation/tree/master/windows-server-container-tools/CleanupContainerHostNetworking

.\WindowsContainerNetworking-LoggingAndCleanupAide.ps1 -Cleanup

[2018-04-18 16:07] MichaelSimons opened #95 ".NET Core Docker enabled project doesn't work with the 2.1-preview2 images"
**Repo Steps**
1. Create a new  `ASP.NET Core Web Application`
1. Choose  ` Web Application` and `Enable Docker Support`
1. Navigate to the generated Dockerfile and change the .NET base images to use the 2.1-preview2 images.
    1. `FROM microsoft/dotnet:2.1-aspnetcore-runtime AS base`
    1. `FROM microsoft/dotnet:2.1-sdk AS build`
1. F5

**Actual Results**
![image](https://user-images.githubuser

[2018-04-18 19:37] smalgin commented on #33
Just run into this issue. I will attend MS Build in May and ask about this in person.

[2018-04-19 11:31] amang2205 commented on #37
I am impacted by this as well. Specifically, I can start the application without a debugger, but if I want to attach a debugger to the container, that fails.

[2018-04-20 20:53] mjrousos commented on #54
Any thoughts on this? It seems like volume mounting the output directory (instead of the project root) would solve the immediate problem here. I don't know enough about the Docker tools to know if not setting the working directory to the project root would cause other problems or not, though.

[2018-04-23 10:42] dmaksim commented on #92
I've made some progress.

I've managed to get the web app (.net core 2.1 preview 2) to debug correctly. Specifically, I installed `libunwind8` package on the `microsoft/dotnet:2.1-aspnetcore-runtime` image. I've noticed that this package is missing from `microsoft/dotnet:2.1-***` docker images (comparing to 2.0 images), and it turns out that this is required for the debugger to attach correctly to

[2018-04-24 19:40] mjrousos opened #96 "Template Dockerfiles should use more specific tags"
Creating a new ASP.NET Core 2.0 MVC project and adding Windows Docker support produces a Dockerfile with microsoft/aspnetcore:2.0-nanoserver-1709 as its base image

[code]

The problem is that the image the 2.0-nanoserver-1709 tag refers to changes over time as new 2.0 updates are released. In my case, a new project wouldn't run because I had an older 2.0-nanoserver-1709 image on my dev machine th

[2018-04-25 08:59] dazinator commented on #82
Same problem. Not sure if it matters but I am logged into windows with a standard (non admin) user account, and then running VS as Administrator.

[2018-04-25 10:58] dazinator opened #97 "--no-cache (docker-compose)"
When docker-compose is invoked, how can we pass additional arguments like  `--no-cache` ? I just got burned because I amended a powershell script that is run as part of a docker build. After cleaning the solution and running the docker project again - docker compose built the docker file and brought it up - but it used the previously cached layer for that powershell RUN step meaning my changes to

[2018-04-25 23:06] rbanks54 opened #98 "MSBuild failing to parse a valid compose file"
When I try to build a .dcproj I've recently started seeing this error:

[code]

The top part of the dockerfile is as follows:
[code]
Where the first element of the `environment` section is causing the problem.

The docker-compose.yml file is perfectly fine and everything works as expected using `docker-compose up`

P.S. I did recently install the latest `2.1.300-preview2-008533` dotnet core SDK, b

[2018-04-26 01:03] sd00887 commented on #37
会卡在%userprofiles%/vsdbg exists ,deleting，我的同事受到了此影响，对此的解决方案是重启Docker for windows 服务，然后再次运行调试，一切运行良好~~

[2018-04-26 16:01] dbreshears commented on #95
There is a vsdbg fix that is needed to fix debugging on 2.1 images.   The updates are in testing and should be available in the next few days I would think.

[2018-04-27 18:28] whitestrannik commented on #33
The same here (

[2018-04-27 18:58] #95 closed

[2018-05-02 06:52] bplasmeijer commented on #89
same here on (Version 18.05.0-ce-rc1-win63 (17439))
docker run --rm --platform linux busybox echo hello --network d9e5b31562b8
docker.exe: Error response from daemon: network nat is ambiguous (2 matches found on name).
docker network ls
NETWORK ID          NAME                DRIVER              SCOPE
d9e5b31562b8        nat                 nat                 local
029ff73b534f        nat

[2018-05-02 06:53] bplasmeijer commented on #89
reinstall and prune network didn't work for me

[2018-05-02 09:05] stevejgordon commented on #98
I'm seeing the same issue on 2.1.300-preview2-008530 on windows. and Visual Studio 2017 15.7 preview 4.

[2018-05-02 20:32] pellea commented on #98
Same error here with the latest VS2017 preview (15.7.0 preview 5).

[2018-05-03 15:34] KevM commented on #98
I am having the same error appear for an (old school dotnet framework) e.g. `FROM microsoft/dotnet-framework:4.7.1-windowsservercore-1709` project.

When I add any additional service to the `docker-compose.yml` file.

[2018-05-03 15:46] KevM commented on #98
I too had this problem. I was able to work around it by using the alternative notation:

[code]

[2018-05-03 16:02] pellea commented on #98
This notation isn't working for me. I already tested it and I got the same error.

[2018-05-03 18:16] KevM commented on #98
Try the following. This works for me. I think the underscores are causing the problem.

[code]

[2018-05-03 19:41] haniamr commented on #98
@pellea one possible workaround you can try is to define those variables in `docker-compose.override.yml` instead and see if that works.

[2018-05-04 10:47] pellea commented on #98
My bad, the workaround works.

I didn't remove the '-' before the line of each env key/value.

[2018-05-04 10:52] stevejgordon commented on #98
I can confirm that the workaround works for me too.

[2018-05-07 17:49] pysco68 commented on #98
Same here, worked all fine until I installed VS 15.7.0 today. The notation from @KevM solved the issue.

[2018-05-08 05:48] MichaelSL opened #99 "VS2017 Docker debugging failed: Failed to create the certificate"
Created new NET Core MVC application on clean installed Windows 10 Pro 1803.

Trying to start debugging and get:
`Adding the certificate to the Trusted Root Certficates store failed with the following error:
Failed to create the certificate.`

Already created a local account, removed `%userprofile%\vsdbg` and `%userprofile%\onecoremsvsmon`

VS info:

[code]

[2018-05-09 07:57] SeriousM opened #100 "How to stop VS2017 preparing the docker images?"
I use VS2017 (15.7) with Win10 (1803) and Docker (18.03).
My solution contains a Docker-Project (dcproj) which defines how my docker container should start.

Whenever I open Visual Studio or change code it automatically starts preparing the container.

[code]

[2018-05-09 08:14] dbreshears commented on #100
Yes.  Look under the following options

  Tools->Options menu   and then Container Tools->Settings

[2018-05-09 09:41] SeriousM commented on #100
Oh thank you, I was just blind I guess... was searching for Docker settings :/

[2018-05-09 09:41] #100 closed

[2018-05-09 12:37] andrehe001 commented on #89
same for me with docker version 18.05.0-ce-rc1-win63 (17439). Any help or fixes in the queue?

[2018-05-09 16:15] kazha commented on #42
You can make it work with linux containers using oracle virtualbox on Win10 home.
[Stackoverflow ](https://stackoverflow.com/questions/44406422/docker-installation-issues-on-windows-10-home-edition) has a beautiful description on how to achieve it.
Just enable virtualization, if it isn't already.
Set up toolbox (legacy).
Share drive C in virtualbox.
And everything should works. At least it does fo

[2018-05-10 07:20] tbertenshaw commented on #89
same here with 18.03.1-ce-win65 (17513)

[2018-05-10 21:44] jmeberst opened #101 "Remote Debugging a container using a Transparent Network Driver"
I'm trying to debug my application running on a container that I've set to use a transparent network driver.
I'm getting an error because the remote debugger doesn't know how to find the container.

What should I change in the compose file(s) to properly expose the container to the debugger?

My docker-compose.override.yml

[code]

[2018-05-13 07:36] fals commented on #89
I have the same problem:

Docker version 18.03.1-ce, build 9ee9f40

NETWORK ID          NAME                                       DRIVER              SCOPE
0aa6fcfc5fc9        bridge                                     bridge              local
225fbdbda06e        dockercompose7610429240741085608_default   bridge              local
1e6fca6d8459        dockercompose7610429240741085608_default   br

[2018-05-13 18:27] hbiarge commented on #99
I can reproduce this one.
In a solution with two Asp.Net Core projects, both of them with support for docker. If both have an **UserSecretId** it works perfectly, but if you delete the **UserSecretId** for one of the projects (in the .csproj file) you get this _Failed to create the certificate error_.
Tested in two different solutions with the same result.
Hope this helps.

[2018-05-14 18:40] jmeberst commented on #101
Just to provide an update, it seems like if I expose port 4022, the debugger is able to occasionally connect to the container. I can also attach the debugger after I start the process in the container through PowerShell and it has no issues.

It seems like the process times out just before the container can start the process to be debugged.

[2018-05-14 21:38] haniamr commented on #99
@hbiarge thanks for sharing, if that's the case, then the error is expected since we use the **UserSecretId** to store the local certificate export password, so when trying to export it into the container it fails if that's not found.

[2018-05-14 22:14] haniamr commented on #97
I'm afraid there's no straightforward way to achieve this at the moment. You can override the build task responsible for calling `docker-compose build` which is non-trivial but can be done. Here's an example: https://github.com/Microsoft/DockerTools/issues/46. Hope this helps!

[2018-05-14 22:36] haniamr commented on #94
@mikebollandajw thanks for reporting. This scenario where you target .net framework in an ASP.NET Core Web app is not supported (i.e. not containerizeable), may I ask what's your VS version? We blocked that from the UI if you have the latest 15.7.

[2018-05-14 22:37] sriwantha commented on #80
I get the same error.
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Docker.Compose.targets(363,5): error : unknown flag: --target

The problem is the docker build does not know the parameter called --target.
For example, when I type

docker build -help

I don't see --target as an option/parameter.

What Version of VS 20

[2018-05-14 22:44] haniamr commented on #90
@nphmuller thanks for the feedback. There are 2 occasions when the tools will pull images:
- On project load if you have that enabled under tools -> options -> Container Tools
- When you debug/build the project

In the first case, there's a command window that will be minimized by default which is basically executing `docker pull {imageName}` and you can track the progress there or abort the downl

[2018-05-15 07:34] mikebollandajw commented on #94
hi yes this doesnt seem to be an option any more!

[2018-05-15 07:34] #94 closed

[2018-05-15 09:15] dazinator commented on #97
Ok thanks for the reply.
Please consider making this straightforward in the future! It's easier for me to run `docker-compose` manually from the command line and bypass the dockertools projects system completely, than it is for me to create  override the custom build task :-)

[2018-05-16 23:31] MichaelSL commented on #99
Sorry for the late answer. Debug started after recent Docker update.
- NET Core version: `2.1.200`
- User is admin and has permissions to both directories.
- No User Secrets used - just a new web application project.

Everything is fixed for me. @Eltargrim did you manage to resolve your issue?

[2018-05-17 12:18] dls314 opened #102 "Cannot locate specified Dockerfile error new for me with VS 15.7.1"
In a newly created asp.net core web api project with docker support targeting linux, I get an error that I didn't get before upgrading either to Visual Studio 15.7.1 or to Docker for Windows 18.05.0-ce-win66.

Repairing VS and restoring docker to defaults haven't helped so far.

[code]

[2018-05-17 12:50] dls314 commented on #102
I think it was Docker for Windows 18.05.0-ce-win66. Reverting to stable as suggested in the related issue works for me.
https://github.com/docker/for-win/issues/2041

[2018-05-17 12:50] #102 closed

[2018-05-17 14:28] williamhbell commented on #42
Hi,

To develop with Docker within a secure network, which does not have a direct route to the Internet, it is not possible to install Docker for Windows.  The Docker for Windows installer requires access to the Internet.  Therefore, one can only use the Docker Toolbox.  The Docker Toolbox can be installed correctly without an Internet connection, but Visual Studio does not recognise that it exist

[2018-05-17 15:46] devarg commented on #37
Same issue here but from visual studio appears this message

[code]

and then debugger does not attach nor keeps running

[2018-05-18 15:15] jbt00000 commented on #99
I'm getting the same issue....
Visual Studio Enterprise 15.7.1
.NET Core 2.0
ASP.NET Core Web Application
Docker (OS=Linux)

Happens on first run... Without adding 1 line of code.

[2018-05-18 19:52] Fredoid commented on #89
Same probem with Docker version 18.03.1-ce, build 9ee9f40, Windows 10 and Windows Containers.
`docker network ls` shows 2 networks nat.

[2018-05-19 00:02] hodgsopg opened #103 "Cannot locate specified Dockerfile: DockerTest\Dockerfile"
I installed docker for windows (edge version) Version 18.05.0-ce-win66 (17760).
I have Visual Studio 15.7.1.
I created a dot net core console app.
I added Docker support to the project targeting Linux.
When I try and run it is says this:
`1>------ Build started: Project: docker-compose, Configuration: Debug Any CPU ------
1>docker ps --filter "status=running" --filter "name=dockercompose1809389845

[2018-05-20 21:19] Fredoid commented on #89
I've just found a solution in [this topic](https://social.msdn.microsoft.com/Forums/vstudio/en-US/a49c5cf8-b089-4421-bb12-ffa84f63a65c/docker-network-ls-is-showing-2-nat-networks?forum=windowscontainers)

Simply run this following ps script to clean keys named "nat" and restart your computer.

[code]

Works on Windows 10 Pro with Docker version 18.03.0-ce-win59, build 0520e24302.

Thanks

[2018-05-21 08:31] haniamr commented on #97
Surely, thanks for the feedback. We will certainly take that under consideration.

[2018-05-21 08:31] #97 closed

[2018-05-21 09:57] veuncent commented on #98
Note: don't forget to put a space between keys and values:
Yes:
[code]
No:
[code]

[2018-05-21 10:49] Sam-Vimes commented on #103
I have the same problem, with an existing solution that was working fine, until I installed the VS 15.7.1 update and the 18.05.0-ce-win66 (17760) Docker update.

[2018-05-21 12:47] STDGA opened #104 "Specifying "--compatibility" flag with docker-compose project"
Hi,
I am developing on windows 10 machine and because Windows 10 supports only "HyperV" isolation and  it is limited to 1GB memory by default,i created my docker compose file like this:

[code]

Docker 3.x supports swarm mode and if i want to use mem_limit features from docker compose 2.x then i must pass the --compatibility flag to docker compose (see the discussion here: https://github.com/docke

[2018-05-21 18:28] Bartmax commented on #99
having the same error here. multiple proj, only 1 with docker support. running vs as elevated.

[2018-05-21 20:57] aauronn commented on #103
Same for me

[2018-05-21 23:09] haniamr commented on #99
@jbt00000 are you seeing that error on a .NET 2.0 app?
@Bartmax  You do not have to run VS as an admin, how about the user used in Docker Shared Drives? Can you make sure it has permissions to:
- %APPDATA%\Microsoft\UserSecrets
- %APPDATA%\ASP.NET

[2018-05-22 04:47] albertusgouzalixrelements commented on #99
Hi there, same here, I have ensured that the local user has read / write permission to:
- %APPDATA%\Microsoft\UserSecrets
- %APPDATA%\ASP.NET

however it also failed on creating the certificate. It ran fine if I create the web application without an authentication, however it not able to create the certificate when I use the web app with individual user account.

[2018-05-22 04:49] jbt00000 commented on #99
I downgraded to VS 15.6.7 (which I needed to do because SSDT doesn't work on 15.7.1...) and now it works.

[2018-05-22 05:05] albertusgouzalixrelements commented on #99
sounds like an issue with the latest version of VS and the preview, will try the earlier version, thank @jbt00000

[2018-05-22 08:35] Sam-Vimes commented on #103
I eventually fixed it by doing both of the following:

- In `docker-compose.yml`, I changed instances of
[code]
to
[code]
(in other words I moved the "folder" portion of the path to the `Dockerfile` to the `context` element instead).
- Performing a solution clean, followed by a manual delete of all `bin` and `obj` folders.

[2018-05-22 11:08] nphmuller commented on #90
@haniamr Thanks! It's probably the 2nd case then, since I didn't see a command window,

[2018-05-23 02:29] haniamr commented on #99
I managed to reproduce the issue. A workaround you can try is to remove the following from `docker-compose.override.yml`:
[code]

[2018-05-23 18:34] haniamr commented on #103
Looks like an issue with docker-compose 1.21.2: https://github.com/docker/compose/issues/5969

[2018-05-23 18:37] haniamr commented on #104
It is not possible to pass specific arguments to docker-compose, however you can override the build task with your own (which is tricky and non-trivial), see https://github.com/Microsoft/DockerTools/issues/46 for an example.

[2018-05-23 23:19] WolfspiritM opened #105 "Allow yaml anchors in docker-compose"
Hi,

I'm trying to make a big compose file a bit more readable by combining globally used environment variables and labels into extension fields: https://docs.docker.com/compose/compose-file/#extension-fields.

[code]

This breaks the Visual Studio docker integration:
[code]

Also using anchors for other parts of the docker-compose fails in some cases aswell for example this tells me labels-anchor

[2018-05-24 00:19] albertusgouzalixrelements commented on #99
Hi @haniamr
The workaround seems to work great, thanks for that.

I have also confirm that the previous version of Visual Studio works as well, it seems only affecting 15.7.1 and 15.7.2 at this stage. and @MichaelSL  has confirmed Version 15.8.0 Preview 1.0 works as well, so i guess this should be fixed on the next release?

[2018-05-25 08:34] Fredoid commented on #89
Hi, Sometimes it is mentioned `Get-NetNat` PS function, but in my case this function always a return empty result. The script above worked nice twice.

I my case this problem appeared when I unstalled and re-installed Docker. Two times, and same issue on both case.

[2018-05-25 18:11] haniamr commented on #99
@albertusgouzalixrelements thanks for the confirmation, yes it will be fixed on the next release.

[2018-05-26 18:27] STDGA commented on #104
Thanks a lot, I got it to work, as you said it was not a trivial task.

I have another question, may I publish the code to GitHub, it would be useful for others.
I don't know how the licensing works, so if you can confirm it is no problem i would like to share it with others.

Thanks again.

[2018-05-27 02:05] alihaidrz commented on #99
Version 15.8.0 Preview 1.0 has the same issue i just downloaded it and it has the exact same behavior

[2018-05-27 23:11] albertusgouzalixrelements commented on #99
@alihaidrz MichaelSL are able to get around the issue with Version 15.8.0 Preview 1.0, have you tried to update the docker to the latest version?

[2018-05-28 08:19] alihaidrz commented on #99
yes docker has the later version here is the information for visual studio:

Microsoft Visual Studio Enterprise 2017 Preview
Version 15.8.0 Preview 1.1

[2018-05-30 07:49] hodgsopg opened #106 "Please change the docker-compose.exe command line"
1. This currently loads:
      docker-compose.yml
      followed by docker-compose.override.yml
      followed by the generated docker-compose (e.g. docker-compose.vs.debug.g.yml)
2. Could you change it so the override file is last:
      docker-compose.yml
      followed by the generated docker-compose (e.g. docker-compose.vs.debug.g.yml)
      followed by docker-compose.override.yml
3. Or add an

[2018-05-31 15:21] DinnyMN commented on #98
Running into this same issue but I am unsure how to convert nested variables into the working format.
[code]

[2018-06-02 13:43] TorbenJ commented on #103
Got the same issue with Visual Studio 2017 15.7.3 and 18.05.0 (didn't write down the exact version, but it was one of the edge channel).
To fix it I uninstalled 18.05 and installed a stable version (18.03.1-ce-win65 17513) from the official website.
Now it works without modifying the docker-compose.yml file.

[2018-06-02 17:51] alexvy86 commented on #87
@natemcmaster I think maybe this can be closed now...? I just tried adding Docker support to both a Console App and a Web Application with VS 15.7.2, and the Dockerfiles switched from using the`*.sln` file to using the `*.csproj` files directly, so the issue of the `*.dcproj` file not being there became a non-issue going forward, right? This is how the Dockerfiles look right now.

**Console App**

[2018-06-02 18:01] Eneuman opened #107 "Unicode characters in volume path not handled correctly"
I posted a bug report at Docker Compose regarding unicode characters in user profile path, but I'm not sure if the problem is with VS Tooling or Docker Compose.

Can someone from tooling please take a look and see if this is a tooling problem or compose problem?
If it's a compose problem just close this issue.

https://github.com/docker/compose/issues/5998

[2018-06-04 03:27] natemcmaster commented on #87
Yes, the Visual Studio team fixed this by changing the way Dockerfiles are generated. For anyone who generated the file with an older version of Visual Studio, they will need to update manually. I recommend resolving the MSB3202 warning instead of suppressing it, and upgrading to .NET Core 2.1, which has support for the .dcproj file.

[2018-06-04 03:27] #87 closed

[2018-06-04 20:21] TroelsL commented on #98
Also ran into this issue after VS2017 automatically updated my project. This worked before:

    environment:
          - VIRTUAL_HOST=devices.example.com
          - LETSENCRYPT_HOST=devices.example.com
          - LETSENCRYPT_EMAIL=me@example.com

Changing to this fixed it:

        environment:
          VIRTUAL_HOST: devices.example.com
          LETSENCRYPT_HOST: devices.example.com

[2018-06-05 06:41] Eneuman commented on #107
Closing this as problem been confirmed in docker compose

[2018-06-05 06:41] #107 closed

[2018-06-06 23:45] SleepyDeb commented on #59
Same ISSUE, there is no way to docker-compose using a remote docker instance

[2018-06-07 11:38] mphadeuspacy commented on #43
I am getting the same issue on VS version 15.7.3

[2018-06-07 11:41] mphadeuspacy commented on #43
![errorvs](https://user-images.githubusercontent.com/6725803/41097485-683d08dc-6a58-11e8-8cc4-187567393595.PNG)

See attached with error messages

[2018-06-07 23:40] haniamr commented on #104
Thanks @STDGA for sharing this, i'm glad it worked! Honestly, I'm not sure I have the answer to that, @dbreshears any thoughts?

[2018-06-08 22:14] AlphaGit commented on #43
@mphadeuspacy I'm finding this same issue in VS 15.7.3 too.

A workaround I've been able to use is to ensure that Dockerfiles are **not** at the root level of a project.

So, if your docker-compose contains this:

[code]

Move the dockerfile into a subfolder:

[code]

[2018-06-10 03:59] Eltargrim commented on #106
Yes! I wasted entirely too much time trying to figure out why my multi-stage dockerfile would not work and it's because of this. The VS DockerTools ignore most of my DockerFile and only run the first FROM section.

This is a huge problem, the default DockerFiles generated by VS when you 'Add Docker Support' don't work if you are relying on anything that doesn't exist in that base docker image.

[2018-06-10 12:00] philip-hodgson commented on #106
Actually there is a workaround for this.

1. add files docker-compose.vs.debug.yml and docker-compose.vs.release.yml into your docker compose project
2. copy the contents of docker-compose.vs.debug.g.yml and docker-compose.vs.release.g.yml into these files
3. make the changes you want to make
4. remove the leaf lines from these files that have not changed.

The docker-compose.vs.debug.yml and dock

[2018-06-10 22:15] Eltargrim commented on #106
@philip-hodgson Thank you so much - this workaround works great!

For anyone else who runs into this, I initially ran into problems of docker complaining about a version mismatch between the compose files when I created a new docker.compose.vs.debug.yml file and copied the contents from the docker-compose.vs.debug.g.yml file. This was solved by copying the actual docker-compose.vs.debug.g.yml file

[2018-06-11 07:57] mdonogma commented on #43
visual studio for Mac. upgraded to latest version of visual studio 7.5.2

Create a new asp.net mvc project then added docker support then tried to run docker project.

Failed.

What is going on?
 I tried moving docker file to subfolder - still doesn't work using a newly created mvc core project.
Can we please bring some stability to the docker support for visual studio for Mac as it has taken many

[2018-06-11 07:59] mdonogma opened #108 "docker not working with visual studio for Mac - version 7.5.2"
[NetCOreMVCTest.zip](https://github.com/Microsoft/DockerTools/files/2089110/NetCOreMVCTest.zip)
visual studio for Mac. upgraded to latest version of visual studio 7.5.2

Attached is exact clean project created using visual studio for those who want to retro using exact project I have.
[NetCOreMVCTest.zip](https://github.com/Microsoft/DockerTools/files/2089112/NetCOreMVCTest.zip)

Create a new asp.

[2018-06-11 08:03] mdonogma commented on #108
[NetCOreMVCTest.zip](https://github.com/Microsoft/DockerTools/files/2089113/NetCOreMVCTest.zip)

[2018-06-11 08:03] #108 closed

[2018-06-11 21:30] mdonogma opened #109 "docker not working with visual studio for Mac - Visual Studio version 7.5.2"
Docker tools not working with latest visual studio for Mac. version 7.5.2

Create new mvc .net core project
added docker support
set docker project as startup
run
(attached copy of solution)
[newnetcoremvc.zip](https://github.com/Microsoft/DockerTools/files/2091798/newnetcoremvc.zip)

error
/Library/Frameworks/Mono.framework/Versions/5.10.1/lib/mono/msbuild/15.0/bin/Microsoft.Common.CurrentVersion

[2018-06-11 21:50] dbreshears commented on #109
Thanks for the report.  We will investigate

[2018-06-11 23:12] arroyc commented on #109
@mdonogma, Can you please let us know which .net core version you are using while creating the project? Is it .net core 2.1 or 2.0?

[2018-06-12 07:22] mdonogma commented on #109
It shouldn’t matter as docker supports both.

The dockerfile in the attached solution should have the version

Sent from Outlook
________________________________
From: Arjun Roy Chaudhuri <notifications@github.com>
Sent: Tuesday, June 12, 2018 9:12:25 AM
To: Microsoft/DockerTools
Cc: Michael McDonogh; Mention
Subject: Re: [Microsoft/DockerTools] docker not working with visual studio for Mac - Visu

[2018-06-12 11:27] mdonogma commented on #109
What is interesting is the same project works with docker on a windows machine. So looks like an issue with dockertools with vs for Mac

Sent from Outlook
________________________________
From: Devin Breshears <notifications@github.com>
Sent: Tuesday, June 12, 2018 7:50:02 AM
To: Microsoft/DockerTools
Cc: Michael McDonogh; Author
Subject: Re: [Microsoft/DockerTools] docker not working with visual

[2018-06-13 09:31] penzeliz commented on #34
After finding this issue description, I wanted to eliminate the multi targeting - and took a few good minutes to realise that although using `<TargetFrameworks>netcoreapp2.0</TargetFrameworks>` is semantically correct, the problem still happens.
I had to use `<TargetFramework>netcoreapp2.0</TargetFramework>` - so drop the **s** ... I hope this saves time to others too...

[2018-06-13 20:42] MichaelSimons opened #110 "VS for mac"
_Copied from https://github.com/dotnet/dotnet-docker/issues/590 by @steveoh_

VS for mac and vs 2017 create two different dockerfiles.

I'm surprised they look different. Are they equal?

### VS for Mac
[code]

### VS2017 Windows
[code]

[2018-06-14 04:16] cilerler opened #111 "BuildNumber as argument in Dockerfile"
I would like to add build number in Dockerfile and want to make sure that it will be supported by DockerTools.  What would be the best practice?

## *.csproj
[code]

## Dockerfile
[code]

[2018-06-14 07:54] prochnowc opened #112 "Multiple Solutions with multiple services and one docker-compose project"
We have very big project consisting of ~10 micro services. Each micro service lives in it's own solution.
The project structure is like this:

Root
|- Common
|--| Common.Lib1
|--| Common.Lib2
|- Service1/
|--| Service1.sln
|--| Service1.Lib/
|--| Service1.App/
|- Service2/
|--| Service2.sln
|--| Service2.Lib/
|--| Service2.App/

How is it possible to add docker support to the whole project?

I tri

[2018-06-14 08:14] kazha commented on #112
Not sure why you would want to build all other services from Service1 as it has to live it's own life. However I would suggest to build compose from root dir. check if your config is correct and path to Dockerfiles for each project are valid.
should be something like this
container_name: Service1
    build:
      image: Service1
      context: ./Service1
      dockerfile: Dockerfile
where context

[2018-06-14 08:46] prochnowc commented on #112
@kazha The problem is that all containers are built automatically when i run the docker-compose project.
I already tried to put docker-compose in root dir. But as already said - it bails out because the build seems to copy sources before container build to some place. When building Service1 which in turns builds container for Service2 the sources cant be found (probably because Service2 is not in

[2018-06-14 09:06] kazha commented on #112
Check your docker-compose.yml (the one in the root dir) and verify the paths defined for "dockerfile" and "context". Works for me at least Linux container with default Dockerfile

[code]
If all seems ok, i'd suggest to post actual error.

[2018-06-16 12:50] andreujuanc commented on #94
Looks like .Net is getting fragmented.. Just got this issue today.

[2018-06-16 15:12] tsangste opened #113 "Debugger instability when inspecting a DynamicProxy type with high field count"
When using EFCore 2.1 with lazy loading(https://github.com/aspnet/EntityFrameworkCore/issues/10509) and debugging in docker it causes the debugger to become unstable when trying to evaluate/inspect a DynamicProxy type. But when debugging without docker and evaluating/inspecting a DynamicProxy type it seems to work fine.

I am using Visual Studio 2017 15.7.3 and docker-ce 18.03.1.

[2018-06-16 16:29] tsangste commented on #113
After some extra investigation it seems that small entities are less prone to this problem and as a entity because larger (i.e. more fields) it seems to increase the waiting time to evaluate/inspect the DynamicProxy type.

The entity that is failing to load has around 100 fields but potentially more as it has an inheritance structure.

[2018-06-16 22:40] sanderdegroot commented on #112
Check the contents of your obj/Docker/publish/ directory (relative to the Service2 project directory). If it's empty, that's why it's failing. Running a **Release** build of your project should cause your compiled binaries to get put there.

The reason for this is because of the `COPY ${source:-obj/Docker/publish} .` line in the default Dockerfile seen in @kazha 's comment above mine. `${source:-o

[2018-06-16 23:02] sadegr opened #114 "Cleans don't delete contents of <application project folder>\obj\Docker\publish"
Release builds in Visual Studio of projects with Docker support cause the build output files to be copied to obj\Docker\publish (relative to the application project folder) in certain scenarios (this happens when Docker support is added to a new .NET Framework console application, for example, but not with .NET Core console applications). One project type in which this happens is a default .NET fr

[2018-06-17 00:23] sadegr opened #115 "Support deploying services to swarm from Visual Studio"
This is a feature request, not a bug report. With the Docker Engine on the host running in swarm mode, when building or debugging a docker-compose project (.dcproj), Visual Studio runs `docker-compose` commands to deploy the services defined in the docker-compose.yml file(s).

A message will appear in the Docker output window after Visual Studio calls `docker-compose up`:
[code]

There is no way a

[2018-06-17 01:47] sanderdegroot opened #116 "Unable to Add New Item to docker-compose project"
Right-click the docker-compose project (.dcproj) in the Solution Explorer, Add > New Item... In the window that opens, the Add button is disabled and no installed or online file types show up. The only way I've been able to add a new .yml file is by creating the file manually in the directory and manually editing the .dcproj file to include the new file.

We should at least be able to add .yml (do

[2018-06-17 12:45] cilerler opened #117 "nuget.config"
`Add Docker support` should generate a Dockerfile that copies root level **nuget.config** and should remove it before it becomes a published Docker image's layer.

A sample scenario would be PAT in a Nuget.config file https://github.com/Microsoft/vsts-tasks/issues/6135

[2018-06-17 20:52] dazinator commented on #99
@haniamr  - so is the workaround for now to remove https completely? I assume that is what you mean by remove the mappings?

[2018-06-17 21:37] sadegr opened #118 "Can't add new folder to docker-compose project"
When I right-click on the docker-compose project (.dcproj) icon in the Solution Explorer and select Add > New Folder, the project's title becomes editable, and no new folder gets created in the project. A new folder named "New Folder" will get created in the solution folder, but it won't be added to the project.

[2018-06-18 14:06] ppumkin commented on #103
@TorbenJ  I have this issue with 15.7.3 and 18.03.1-ce-win65 17513 - what is the fix?

[2018-06-18 14:17] ppumkin commented on #103
Turns out the message is a false positive?

The actual error message is above this one

[code]

[2018-06-19 02:15] sanderdegroot opened #119 "Configurable path to executable in container for debugging"
Simplified example - I have the following docker-compose file, located at C:\Development\Solution\docker-compose.yml:
[code]

Note that the build context is the directory C:\Development\Solution (in the default docker-compose file that gets generated when Docker support is added to a project, the build context is the project folder, C:\Development\Solution\Project in this case).

When I build this

[2018-06-19 08:37] artem-leonov opened #120 "docker-compose project failed on build without giving any reasons"
I have an issue with building docker-compose project. It just starting to fails on build after a while. In build log no information, but "Done building project "docker-compose.dcproj" -- FAILED.", no messages more about this error. Docker log has no errors too.
Last time I restored Visual Studio and it resolved issue on short time. I have Visual Studio 15.7.4 and Docker for Windows 18.03.1-ce-win6

[2018-06-19 10:57] artem-leonov commented on #120
This time restoring of Visual Studio had no effect.

[2018-06-19 18:27] belchevgb opened #121 "Multiple docker-compose.yml files"
Hi all, I have 2 issues.
The first one: I want to have multiple custom named docker-compose files in the .dcproj, for example:
`<ItemGroup>
    <None Include="dev.env" />
    <None Include="docker-compose.first.yml">
      <DependentUpon>docker-compose.yml</DependentUpon>
    </None>
    <None Include="docker-compose.second.yml">
      <DependentUpon>docker-compose.yml</DependentUpon>
    </None>

[2018-06-20 09:28] joachimaumann commented on #37
I have VS2017 14.7.4 and its not working for me. VS builds the container and its also running but I can not access it with the debugger. The message I get from the console is:

[2018-06-20 15:44] dbreshears commented on #37
Tested 15.7.4 with  .NET Core 2.0 and Docker CE (Stable) Version 18.03.1-ce-win65 with Linux containers. and didn't see any issues.   Ensure that you are on that version of Docker.  Things to try:

Delete %userprofile%\vsdbg
Ensure Docker for Windows is in Linux mode
Reset credentials in Docker for Windows for the shared drives.
Create a new .NET Core 2.0 MVC Web application and add Docker support

[2018-06-22 00:06] steveoh commented on #121
I've noticed that visual studio will run docker-compose.yml docker-compose.override.yml which is a docker compose convention. They also tack on some stuff from the obj folder. I think your request is still valid. I would like to see docker compose files be configurable per build configuration so debug and release targets can modify the resulting containers.

[2018-06-22 00:08] steveoh commented on #106
is this why this output still runs in as the development environment?

[code]
Hosting environment: Development
Content root path: /app
Now listening on: http://[::]:1337
Application started. Press Ctrl+C to shut down.
[code]

[2018-06-22 00:42] steveoh opened #122 "Cannot change hosting environment while debugging"
[code]

hosting env is still Development

[2018-06-22 06:35] belchevgb commented on #121
Well for the build configurations I've tried to add to the .dcproj docker-compose.vs.debug.yml and it works. I think the same works for  docker-compose.vs.prod.yml but again is strict convention. I think it should be better if the tool uses a pattern for matching compose files like "docker-compose.*.yml".

[2018-06-22 11:58] JoostvdB94 commented on #9
@oleksii-udovychenko Did you find a working workaround?
I'm using a custom `entrypoint.sh` to do some adjustments in the hosts file of my docker container (at runtime), so i need this entrypoint too.

[2018-06-22 12:46] oleksii-udovychenko commented on #9
@JoostvdB94 I don't use visual studio for building and running containerised projects. I just run them through docker-compose from the console and then attach debugger to one of the containers.

[2018-06-22 23:40] cmjchrisjones commented on #103
I had this issue, tried @Sam-Vimes fix but my solution wouldn't clean or build.

It turns out I had previously added a second project to my solution which also had docker support, however I deleted it again however my docker-compose.yml and docker-compose.override.yml still had references to these images and hey presto, my solution built :)

[2018-06-25 14:44] JohnGalt1717 opened #123 "Save doesn't Redeploy per the docs on wwwroot nor cshtml files"
https://docs.microsoft.com/en-us/azure/vs-azure-tools-docker-edit-and-refresh

According to that a simple save of a file should cause docker to redeploy and then hitting refresh in the browser should just work with a aspnet core site.

But it doesn't. Nothing happens until you stop and start again.

(In general the docker tools are very poorly documented, don't work out of the box and have poor in

[2018-06-26 00:48] NickDarvey opened #124 "Add support for Azure Functions"
@jeffhollan [said](https://docs.microsoft.com/en-us/azure/vs-azure-tools-docker-edit-and-refresh) that this is your problem. Can we get support for development of Azure Functions in much the same way we can do [ASP.NET Core development](https://docs.microsoft.com/en-us/azure/vs-azure-tools-docker-edit-and-refresh)? Refresh-and-continue and everything?

[2018-06-26 21:47] MichaelSimons opened #125 "Docker publish image is broken in VS.net 15.7.4 + ASP.NET Core site"
_Copied from https://github.com/dotnet/cli/issues/9564#issuecomment-400472066 by @JohnGalt1717_

## Steps to reproduce
1. Create an empty ASP.NET Core website
2. Select the project
3. From the Project Menu choose Docker Support
4. Choose Linux.
5. Note standard build doesn't work until you change the docker-compose.yml to have context: <Project Name> and dockerfile: Dockerfile.
6. Right click on t

[2018-06-27 06:39] rupreetg opened #126 "Docker for Windows service not starting: Error response from daemon: open \\.\pipe\docker_engine_windows: The system cannot find the file specified"
Docker on windows 10 not starting. Below is the error getting on 2 of my machines.

Diagnostic ID:
A6ABB255-88C8-4BCF-ADA8-8CF60B615552/2018-06-27_12-01-29

Error response from daemon: open \\.\pipe\docker_engine_windows: The system cannot find the file specified.

   at Docker.Backend.DockerDaemonChecker.Check(Func`1 isDaemonProcessStillRunning) in C:\gopath\src\github.com\docker\pinata\win\src\D

[2018-06-27 06:50] rupreetg commented on #126
Simple docker info also not working. Only solution to this is reinstall.

PS C:\WINDOWS\system32> docker info
docker : error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.37/info: open //./pipe/docker_engine: The system cannot find the
file specified. In the default daemon configuration on Windows, the docker client must be run elevated to connect. This error may also
indicate that

[2018-06-27 21:20] JohnGalt1717 commented on #125
You're right. Edge channel changes everything I guess....

[2018-06-27 21:23] JohnGalt1717 commented on #77
Really there's no support for running tests in the docker environment at all.

And VS.net 2017 15.8 completely changes how docker works (no more compose files)

This needs to work so that tests can be run (optionally in VS.net) in the docker instance, with debugging and reporting of results.

And it needs to be easily enablable on vsts to run the unit tests, then if successful, build, and publish

[2018-06-28 14:40] MichaelSimons opened #127 "Debug Net Framework 4.7.1 class libraries using Docker for Windows and Linux containers"
_Copied from https://github.com/dotnet/dotnet-docker/issues/607 by @oscarllopmediola_

## Steps to reproduce the issue
1. Create an ASP.NET Core web application project with support for Docker using Linux containers
2. Create a C# class library in  the .NET Framework 4.7.1 with a static test method, for example:

[code]

3. Include a breakpoint in the instruction `string b = "b"`
4. Include a refe

[2018-06-29 00:48] ibocon opened #128 "Cannot create container for service server"
## Description of the issue

Cannot create container for service server

Error Message:
The DOCKER_REGISTRY variable is not set. Defaulting to a blank string.

## Context information (for bug reports)

I change my Windows edition from Home to Enterprise.
I got an error from Docker for Windows because of Docker Toolbox's system environment variable.
Therefore, I delete Docker related system environ

[2018-06-29 07:50] geedsen commented on #126
Same here for me:

Error response from daemon: open \\.\pipe\docker_engine_windows: The system cannot find the file specified.

   at Docker.Backend.DockerDaemonChecker.Check(Func`1 isDaemonProcessStillRunning) in C:\gopath\src\github.com\docker\pinata\win\src\Docker.Backend\DockerDaemonChecker.cs:line 63
   at Docker.Core.Pipe.NamedPipeServer.<>c__DisplayClass9_0.<Register>b__0(Object[] parameter

[2018-06-29 14:30] aderderian commented on #37
I have been impacted on this with Linux Containers as well. It definitely has something to do with Azure AD accounts. I tried to create a local account but due to my machine being joined to Azure AD I could not login to it and grant my new local user access to my %users% folder. I ended up having to create a local user with the same name as my Azure AD account and that "seemed" to work, but it is

[2018-07-01 18:52] julKali opened #129 "docker-compose.yml contains bad path to Dockerfile"
When auto-generating the docker-compose.yml, the dockerfile is specified automatically like so:

`dockerfile: [Project Name]\Dockerfile`

With Windows containers this works fine but if you compose this using Linux containers, it fails with "Cannot locate Dockerfile".

Replacing the \ with a / solves the issue.

[2018-07-03 09:42] MarxiRo opened #130 "The DOCKER_REGISTRY variable is not set. Defaulting to a blank string."
Hi

I'm new for docker

I am having trouble with launching .NET Core 2.1 project on Docker container. When I try to run docker
it fails.

The error log is :

Severity	Code	Description	Project	File	Line	Suppression State
Error  The DOCKER_REGISTRY variable is not set. Defaulting to a blank string.
Building webapplication3
Service 'webapplication3' failed to build: Get https://registry-1.docker.io/v

[2018-07-03 13:20] jeroenwo opened #131 "Build fails when using Alpine image with .NET Core 2.1"
## Steps to reproduce the issue
1. Create new ASP.NET Core web application project
2. Select ASP.NET Core 2.1
3. Select API as the project template
4. Enable Docker support (OS: Linux)
5. Change the Dockerfile to use Alpine images:
[code]
6. Build solution

## Expected behavior
The API runs and returns a result.

## Actual behavior
A build error:
[code]

## Additional information
If I comment the

[2018-07-05 17:22] martinmani commented on #130
Any solution for this?

[2018-07-05 18:32] haniamr commented on #122
Thanks for reporting this, I managed to reproduce the issue in VS for Mac version 7.5.3 (build 7).
After doing some investigation, it seems that the way we start the debugger overrides the environment variable “ASPNETCORE_ENVIRONMENT” to “Development” although it gets set correctly in the container.

I’m working with the VS for Mac team to understand more on what’s causing that, in the mean time a

[2018-07-05 19:39] haniamr commented on #130
Hi @MarxiRo, what happens if you run this command directly:
`docker pull microsoft/dotnet:2.1-aspnetcore-runtime-nanoserver-1709`

If you still get the unauthorized error, then I'd suggest running `docker login` and try again (although pulling this image shouldn't require authentication).

[2018-07-05 19:43] haniamr commented on #99
@dazinator yes that's correct. The issue here is that scaffolding should only generate the certificate mappings for dotnet core 2.1 and not 2.0, as that's the only supported version for https in containers at the moment.

[2018-07-05 19:48] haniamr commented on #99
I'll close the issue since it's fixed in 15.8 Preview 3 (latest public preview), please let me know if you're still facing it and I can investigate further.

[2018-07-06 06:10] jaishmathews commented on #130
I had this issue and has resolved after taken below steps.
1. Run Visual Studio as Administrator
2. Your running Docker host should logged-in to your DockerHub account. This is very important

The main reason for this issue is Visual Studio couldn't download nano server image from docker. So always make sure that you logged in to your dockerhub account from running host. You can verify this throug

[2018-07-09 21:50] haniamr commented on #129
Hi @julKali,

Thanks for reporting this. Can you please share with me your VS version?
I can't seem to reproduce this issue on the latest versions.

Thanks!

[2018-07-09 22:21] haniamr commented on #128
Hi @ibocon,

Thanks for reporting this. It seems that the nuget package folders defined in that project are not based on Windows specifications for some reason, you can double check that under `{PathToRepo}\SolutionName\ProjectName\obj\{ProjectName}.csproj.nuget.g.props`.

The properties we use are `NugetPackageRoot `and `NugetPackageFolders` so you need to make sure that those paths are correct.

[2018-07-10 00:03] haniamr commented on #127
Thanks for reporting this. In order for the debugger to load the symbols in this scenario, the class library's debugging information should be _portable_ (Properties -> Build -> Advanced -> Debugging Information).

Please give it a try and let me know how it went.

[2018-07-10 10:52] skrusty opened #132 "docker-compose - incompatible - The application is not installed VS2017"
Hi,
Recently I opened a project that uses docker, and all docker support seems to be missing from the project. docker-compose shows incompatible and i am unable to run the project in docker.

I've repaired VS2017, removed and re-installed the docker (container) tooling, and yet still no luck.

![image](https://user-images.githubusercontent.com/8448201/42505786-b5c79b00-8437-11e8-96d4-dad7efc32949.

[2018-07-10 17:32] haniamr commented on #126
Closing the issue since that doesn't seem to be Visual Studio related, I'd start over here: https://github.com/docker/for-win/

[2018-07-10 17:32] #126 closed

[2018-07-10 20:52] haniamr commented on #131
Hi @jeroenwo,

Thanks for reporting this. We do not officially support alpine images with Docker tools in VS at the moment, and as you mentioned there's still work in progress with regards to debugging as well.

However, as a workaround to get your project to build and run (without debugging), you can install bash in the dockerfile by adding this: `RUN apk add --no-cache bash` since the tooling de

[2018-07-10 21:07] haniamr commented on #119
Hi @sanderdegroot,

Thanks for reporting this. You can create a file named "docker-compose.vs.debug.yml" in your docker-compose project (you'll have to add it manually) with the following contents:

[code]

Doing so, this file will be the last in the chain of files when docker-compose commands are called so it always takes precedence.

[2018-07-10 21:11] haniamr commented on #124
Thanks for pointing that out, it is definitely under consideration but there isn't a specific date for it as of this moment.

[2018-07-10 22:16] medvedevua commented on #60
My problem was with "limited" network - through mobile phone, as soon as switched into unlimited WiFi - magic happened and all docker builds started

[2018-07-11 04:50] ibocon commented on #128
Hi @haniamr ,

Thanks to reply to issue.

[code]

I can't notice any issue with `NugetPackageRoot` or `NugetPackageFolders` path...

[2018-07-11 11:46] elanderson commented on #84
I'm having this issue in Visual Studio 15.7.4 as well.

[2018-07-11 19:07] haniamr commented on #128
It is temp but I'm not sure if it gets deleted on clean (did a trial and it didn't), however the path does look normal to me. Would you share with me the full output for the build log? Also the generated docker-compose.vs.debug.yml file that you can find under obj\Docker.

[2018-07-11 20:57] sanderdegroot commented on #119
@haniamr Thank you!!!

[2018-07-11 20:57] #119 closed

[2018-07-12 05:49] ibocon commented on #128
Here is  my

[code]

[2018-07-12 12:06] mattmeye opened #133 "using docker on a tfs build agent"
hello,
i want to use docker on a tfs build agent. it is a vm without virtualiziation feature (vm in vm not working).
Actually a solutions with a docker project will only be build when i am logged in on the vm via rdp.

i think docker is not running as a system service.

How can i solve this problem?

[2018-07-12 17:57] haniamr commented on #128
Alright, it looks to me that the problem might be docker related, since the generated file seem to have the correct paths.

One test you can try is to create a simple docker-compose file and dockerfile with the following contents:

[code]

 `FROM hello-world as base`

Then open a cmd in that directory and run: `docker-compose up`

Will that work?

[2018-07-16 09:45] skrusty commented on #132
Hi, i reinstalled everything, and made no different.

Oddly, I then right-clicked on the file, and clicked reload. At which point i got a prompt telling me i needed up update the file. Clicked OK and it all worked. This didn't happen until I clicked reload on the file.

Wasn't obvious at all. But at least it is working now.

Cheers anyway.

[2018-07-16 09:45] #132 closed

[2018-07-16 19:19] arebelong commented on #99
Hi, the issue continue to exist in  15.8 Preview 4. I have created a new project and I get

These are the settings used for the new application. Please note I needed to update the nuget to latest version for the application to run.

![image](https://user-images.githubusercontent.com/10637563/42778540-b6c28b0e-893d-11e8-8e0a-2d08555ca731.png)

[2018-07-17 11:35] neoGeneva opened #134 "Allow DotNetFramework ASPNET Core projects to be dockerized"
Currently targeting DotNetFramework (e.g. net471) and build an ASPNET Core project isn't able to be dockerized, it's disabled in the UI, and if a dcproj and Dockerfile are set up manually then the following error is thrown:

[code]

And that's because the `Microsoft.Docker.Templates.windows.dotnetframework.aspnetcore.docker-compose.vs.debug.yml` template doesn't exist in Microsoft.Docker.dll

Curr

[2018-07-17 12:19] dmitriykanarskiy commented on #89
Hi, i don't know which of this helped, but i've got rid of duplicate 'nat' networks as follows:

1. Stop service docker
2. Unregister service docker
3. Stop service `HNS`
4. Delete all instances of registry keys with the name of 'nat' network
5. Delete "`C:\ProgramData\Microsoft\Windows\HNS\HNS.data`"
6. Delete "`C:\ProgramData\docker\network\files\local-kv.db`"
7. Restart computer

Hope this will

[2018-07-17 18:47] TribeDataWorksJim commented on #89
That finally fixed my issue. I believe it was step 5 or 6 that done it! Thanks!!!

[2018-07-18 17:19] maroy1986 commented on #37
@dbreshears I have the exact same issue here, did you found a solution since your last post?

[2018-07-23 07:43] hamed-vojdani opened #135 "visual studio 2017 compose failed, invalid volume specification"
windows 10 64 bit version 1803( build 17134.5),
VS version 15.7.4,
using docker for windows 18.03.1-ce in windows container mode,
when building docker compose project i got error.
here is VS output image created successfully
but composing failed with this error
` invalid volume specification`

while full console output is :

`1>------ Build started: Project: docker-compose, Configuration: Debug An

[2018-07-23 21:47] msanjaka commented on #34
Same issue

[2018-07-23 21:47] msanjaka commented on #34
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the NuGet Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
Running restore with 8 concurrent jobs.
Reading project file C:\Temp\Test9\WebApplication1\WebApplication1\WebApplication1.csproj.
Reading project file C:\Temp\Test9\Web

[2018-07-23 23:44] katharosada commented on #75
I got hit by this too. I've added a `docker-compose.vs.debug.yml` file for now and it works but it would be great to have a less magical solution.

[2018-07-24 23:19] siebigteroth opened #136 "Support multiple tags for a docker image"
Currently, the publishing profiles for using a custom docker registry, only support "Unique Tagging". When publishing an asp.net core project as docket image to a custom docker registry, a new tag is generated. E.g.:

![image](https://user-images.githubusercontent.com/5673854/43170842-7d142b68-8fa7-11e8-842c-6a4b46b1a3f2.png)

But it should also be possible to add additional tags (e.g. latest). Es

[2018-07-25 04:59] funcelot opened #137 "BUG: Unknown Error: 0x92330062"
Steps to reproduce:

1. Docker is reset do defaults, done preparing share for drive C (https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/visual-studio-tools-for-docker?view=aspnetcore-2.1)

2. Create  a new ASP.NET Core weboproject and select to use Docker Linux container.

![image](https://user-images.githubusercontent.com/383256/43180306-0f28ba18-8fe0-11e8-920c-13c6cac0f254.png

[2018-07-25 06:58] ibocon commented on #128
Hi, sorry fore late respose.

result of

First try,
[code]
Second try,
[code]

Third try,
[code]

[2018-07-27 22:19] dbreshears commented on #37
No I have not?  What errors do you see? I assume you tried all the steps above with the latest 15.7 update of Visual Studio 2017 along with latest "Stable" channel of Docker For Windows.?      After F5, do you get a %userprofile%\vsdbg folder with the debugger there?    If a container is created , can you log into the container with "Docker exec -it <containerid> bash" and do you see a \remote_deb

[2018-07-27 22:29] aderderian commented on #37
Is there a way to do a screenshare for this? I would love to help you guys out, but pulling log files seems not productive.

Arra Derderian
President & CINO
www.cloudconstruct.com<http://www.cloudconstruct.com/>
arra@cloudconstruct.com<mailto:arra@cloudconstruct.com>
617-201-6138

[cid:D822F33A-2D8C-408A-B8B5-A51892BD3875]

From: Devin Breshears <notifications@github.com>
Sent: Friday, July 27, 20

[2018-07-29 00:42] TroelsL opened #138 "Dockerfile generated with absolute path"
When enabling docker support (Linux) via the Project menu, I end up with the following Dockerfile:

[code]

The line

[code]

Should be:
[code]

Obviously, the path greatly depends on the machine building it. I also believe the casing should be correct, as I am building on Linux.

Also, why the
[code]

[2018-07-29 13:32] MartyIce opened #139 "docker-compose failing on ResolveProjectInputAndOutput - Parameter name: path1"
I was attempting to follow the instructions located here to "container enable" a legacy WCF project:

https://github.com/dotnet-architecture/eShopModernizing/wiki/02.-How-to-containerize-the-.NET-Framework-web-apps-with-Windows-Containers-and-Docker

Everything seemed to complete correctly, but when attempting to run my project (where docker-compose is now the startup project), I see the following

[2018-07-29 14:17] MartyIce commented on #139
Don't know whether it's related, but poking around I see that "DockerComposeProjectPath" is not defined - is this the cause, and if so, where should this be defined?

![image](https://user-images.githubusercontent.com/5083039/43367280-25aea2d8-9310-11e8-9055-f231144568e7.png)

[2018-07-30 17:43] los93sol commented on #60
This issue is intermittent for me and extremely frustrating as it is killing my productivity.  It happens randomly, can be debugging just fine, stop, try to start again and boom, "An error occurred while sending the request".  Interestingly what I have noticed is that when it works I typically see vsdbg is latest, skipping download, but when it fails I never see any message about vsdbg because it

[2018-07-31 16:29] nicksterx commented on #37
I think this issue might relate to how containers are built from docker-compose and including the vs debugger.

Jetbrains added support for debugging in docker with Rider and gives some insight about how it might work with Visual Studio.

https://blog.jetbrains.com/dotnet/2018/07/18/debugging-asp-net-core-apps-local-docker-container/

[2018-08-01 15:36] steveoh commented on #122
any movement on this?

[2018-08-01 18:02] viskin commented on #139
In my case, OutputPath is undefined for task DockerResolveProjectInputAndOutput when using configuration name other than Debug or Release.

[2018-08-02 10:49] brunis commented on #13
@dazhao-msft i think you removed that support. Even i have the debug.g.yml and release files you ignore them. You have hardcoded ones in /obj/Docker/ that you overwrite if i change them, please advise?

[2018-08-02 14:14] los93sol commented on #60
Bueller?

[2018-08-02 17:58] dbreshears commented on #13
@brunis,  we look for docker-compose.vs.debug.yml  or docker-compose.vs.release.yml without the ".g" and will append them.

[2018-08-02 18:09] brunis commented on #13
@dbreshears thanks, not sure why that .g. was in the guide i read.. i will see if i can locate it and correct it.

[2018-08-02 18:16] dbreshears commented on #13
@brunis , Great.. will close this issue then

[2018-08-02 18:16] #13 closed

[2018-08-02 22:07] sgreenmsft commented on #138
Thanks for letting us know about this issue path issue.  We have fixed the code and we'll include the fix in an upcoming release of Visual Studio.

Regarding "COPY . ." - in a multistage build, your code is compiled inside of the container.  In an attempt to ensure that all necessary files are present in the container when compilation occurs, we copy the entire contents of the docker build context

[2018-08-03 07:57] TroelsL commented on #138
@sgreenmsft Excellent response time, thanks. I really like this functionality - it removes much of the tediousness of setting up docker deployment in all the new projects that is the inevitable result of using microservices. With this, setting up deployment with GitLab CI can be done in 2 minutes.

And thanks for the explanation on "COPY . .". It isn't needed in my case, but it doesn't hurt either

[2018-08-03 14:51] #138 closed

[2018-08-06 04:44] ibocon commented on #128
@haniamr is there any updates?

[2018-08-06 15:34] bwateratmsft commented on #128
Hey @ibocon, I'm filling in for Hani while he is temporarily out. I suspect I may have found your issue. There is an environment variable called [COMPOSE_CONVERT_WINDOWS_PATHS](https://docs.docker.com/compose/reference/envvars/#compose_convert_windows_paths) which changes the paths in your docker-compose.yml from Windows-style to Unix-style when building the container. When I set that variable to

[2018-08-07 08:52] brunis opened #140 "Debugging fail - 403 Forbidden"
I dont know how this is possible, my .NET app launches with the default entrypoint:
C:\\remote_debugger\\x64\\msvsmon.exe /noauth /anyuser /silent /nostatus /noclrwarn /nosecuritywarn /nofirewallwarn /nowowwarn /timeout:2147483646

Pretty sure that means anon access or any user allowed, but still VS gives me 403 Forbidden

How do i get access to the event viewer, so i can get some useful info?

do

[2018-08-08 09:05] oscarllopmediolanum commented on #127
@haniamr. Thanks for your help.
Now i'm able to debug it as expected.

[2018-08-08 18:37] steveoh commented on #122
any movement on this?

[2018-08-09 13:02] IntegrationCrm commented on #99
I am also getting a similar error, also in 15.8 Preview 5, after creating a new Web Application project with Docker Support.

Failed with a critical error.

The error occurs during Step 4 of 4

As above, I am able to get it working by removing the SSL port mapping

[2018-08-10 15:40] bwateratmsft commented on #135
This looks like it could be the same as #128, see my response there: https://github.com/Microsoft/DockerTools/issues/128#issuecomment-410750259

[2018-08-11 01:14] gruberchris commented on #130
I am using Visual Studio 2017 v15.7.6 and Docker for Windows CE 18.06.0 (19098) on Windows 10.

every night i come home from the office, boot up my PC and open my latest project in Visual Studio. And every night I try to debug my ASP.NET CORE 2.1 project with my docker-compose project as the startup project and every night it fails with this error message reported here:

*The DOCKER_REGISTRY varia

[2018-08-11 08:10] hamed-vojdani commented on #135
I changed COMPOSE_CONVERT_WINDOWS_PATHS from 1 to 0 and container creation was successful.
thank u very much

[2018-08-11 08:10] #135 closed

[2018-08-11 16:17] Heurazio commented on #99
Same Problem with the latest Version 2.1

[2018-08-13 17:40] los93sol commented on #60
Mic check.....1......2.....

[2018-08-13 18:57] bwateratmsft commented on #60
@los93sol , you are on the right track with vsdbg. Part of the Docker compose project build task is to try to get the latest copy of vsdbg from `https://aka.ms/getvsdbgps1`, if the files in your user profile are more than a day old. Likely, there is some issue preventing your machine from connecting to aka.ms, either consistently or intermittently (could be firewall, internet connectivity, securit

[2018-08-13 19:39] los93sol commented on #60
There is definitely something intermittently blocking it, but I don’t understand why.  It happened again today and I actually went to the aka.ms site in my browser without issue, VS continued to have issues though.  I finally downloaded the file and placed it in my temp directory and it took off after that.  I am behind a corporate proxy and I’m assuming that has something to do with it, but if VS

[2018-08-15 03:04] gnagagit commented on #130
Created simple asp.net core angular 6 app in Visual Studio 2017 15.7.5. With docker(Linux) enabled https disabled, using Windows 10 OS.
SolutionName/ProjectName: Angularaspnetcore , Use developer command prompt
npm install -g @angular/cli
cd..
ng new Angularaspnetcore
cd Angularaspnetcore
Build Angularaspnetcore solution from Visual studio with DEBUG mode, builds without any issues. I see the dev

[2018-08-15 12:13] da1rren opened #141 "Value cannot be null, Parameter name: stream"
Hey,

We recently added a new container to our compose project using the following configuration:

[code]

I can then see this in the output:
[code]

If I point the dockerfile parameter at another file it seems to work.  Futhermore if I prefix the dockerfile path with a '\\' I am able to build.  However when attempting to run docker-compose blows up.

This issue appears to have only started when I

[2018-08-15 12:17] da1rren commented on #141
I should add C:\Projects\Repositories\Onboard.Api\src\Onboard.Api\Onboard.Api.Functions\Dockerfile does exist

[2018-08-15 13:52] lee-alderdice commented on #130
Firstly, I am completely new to Docker and Container orchestration so apologies if this is a bit 101 but I am getting this same error having created a vanilla .NetCore 2.0 MVC Web App with Individual Account authentication and nothing further.

`docker run microsoft/dotnet` as per @haniamr above doesn't error but that is about it.

Is there are workaround?  I had been trying to setup this up throu

[2018-08-17 12:48] gregnightingale commented on #60
This also plagues me.  I am using VS on a Macbook pro. and I am also running CNTLM proxy which is the only way to get reliable connection to the internet via our horrible BlueCoat proxy restricted network.  I get so frustrated with this issue, that I have to switch to a "guest" wifi network to get the docker-compose project to run.

[2018-08-22 13:32] JPThorne commented on #106
Has there been any official resolution of this issue? Any feedback from the devs on linked issues? Not really sure what the point of 'add docker support' in VS is if it's just going to ignore anything the dev puts in the local files?

[2018-08-23 09:52] Krimsar opened #142 "Failed to launch debug adapter"
Since upgrading to the newest version of Visual Studio 2017, I cannot run newly created .Net Core projects with docker support. I get the following error on two separate machines:

![grafik](https://user-images.githubusercontent.com/3831785/44518060-96984900-a6c9-11e8-88ca-57140a1f74c7.png)

Unfortunately there is no additional information in the output window. Just the successful build:

`1>-----

[2018-08-23 12:58] Rocinante89 commented on #142
I'm having this exact same error too. I didn't get the message about drive sharing however and I still can't run the project

[2018-08-23 15:58] Krimsar opened #143 "Visual Studio hangs / freezes while creating an api project with docker support"
Sometimes the IDE hangs / freezes when I try to create a new .Net Core Api project with docker support.

After restarting the IDE, reloading the project and trying to run it, the project gives the following error:

![grafik](https://user-images.githubusercontent.com/3831785/44536952-e3961280-a6fd-11e8-94a1-f9235565297d.png)

Visual Studio 2017 Version: 15.8.1
Docker Version: 18.06.0-ce-win72 (1909

[2018-08-23 15:58] Krimsar commented on #142
@Rocinante89 I think I only got the message when I started VS as Administrator. Maybe that helps?

@bwateratmsft Unfortunately there wasn't. There was no "Debug" in the "Show output from" drop down. Only "Build", "Build Order" and "Package Manager"

After disabling and re-enabling C under docker drive sahres, I can now create and run new docker api projects without admin.

[2018-08-23 20:33] bwateratmsft commented on #143
This issue occurs because the Microsoft.VisualStudio.Containers.Tools.Targets NuGet package hasn't finished being restored yet. Unfortunately, F5 isn't prevented before restore has finished. You'll need to wait until NuGet restore finishes, then try again.
If it still is persisting, it's possible it failed to add the NuGet package to the project; try adding Docker support again to the same project

[2018-08-23 20:35] bwateratmsft commented on #142
@Krimsar If you see the issue reoccur please let us know. So far I haven't been able to reproduce it on this side.

[2018-08-23 21:09] Krimsar commented on #143
@dbreshears It's .NET Core 2.1

@bwateratmsft F5 was not involved. I managed to reproduce the freeze right after starting visual studio and creating a new project and also with creating several new projects, one after another.

Here's a dump right after starting visual studio, no F5 involved:
[devenv_freeze_on_new_project_without_heap.zip](https://github.com/Microsoft/DockerTools/files/2316190/dev

[2018-08-23 21:39] OneCyrus commented on #74
too bad there's no progress on LCOW support. any feedback from the product group would be greatly appreciated.

[2018-08-24 08:26] MulderLiu commented on #130
I am using Visual Studio 2017 v15.8.1 and Docker for Windows CE 18.06.0 (19098) on Windows 10.

Under Release condition, I will encounter this error **"The DOCKER_REGISTRY variable is not set. Defaulting to a blank string."**
but Debug is OK!!!!

[2018-08-24 10:37] MulderLiu opened #144 "The DOCKER_REGISTRY variable is not set. Defaulting to a blank string. in Docker Release"
I am using Visual Studio 2017 v15.8.1 and Docker for Windows CE 18.06.0 (19098) on Windows 10.

在Debug 使用docker 一切正常
同样的code 在 release 模式下就会爆出 **The DOCKER_REGISTRY variable is not set. Defaulting to a blank string**的错误
我有查看 output info
**发现在release 模式下有一下error 出现,但debug时不会**

Using docker in Debug everything works fine
The same code will pop up in release mode **The DOCKER_REGISTRY variable is no

[2018-08-24 10:38] MulderLiu commented on #144
Dockerfile:

[code]

[2018-08-24 14:40] bwateratmsft commented on #144
@MulderLiu Can you share your .csproj file?

[2018-08-24 15:01] bwateratmsft commented on #143
@krimsar Yes, the freeze is a separate issue from the F5. The F5 one I was referring to was the "doesn't know how to run the profile Docker"--every time I've seen that one it goes away once the Nuget restore finishes.
Regarding the freeze, I took a look at your dump files. I can't say with certainty what is deadlocked, but I do notice that ReSharper is holding an awful lot of blocking threads, inc

[2018-08-24 22:01] paulostradioti commented on #121
I'm also having this problem. Did anyone find a workaround?

Thank you

[2018-08-25 23:36] simeyla commented on #99
Can someone explain exactly what Visual Studio is trying to do.
I know what a development certificate is, but is that what the problem is here?
Can't I just install it manually?

I'm completely new to Docker and it is quickly becoming insanely frustrating trying to put all the pieces together.

I removed the line from override, and the EXPOSE line and still getting:

I have VS 15.8 RTM. I don't ev

[2018-08-25 23:59] Heurazio commented on #99
I was able to solve the problem by recreating the project. Somehow, the certificate and/or it's thumbprint got deleted/corrupted but there still was the `https` entry in the `docker-compose.override.yml`. After recreating the project and copy over all needed files, everything worked fine again.

[2018-08-27 09:16] brad-jones commented on #9
@oleksii-udovychenko do you have any pointers for attaching the debugger with Visual Studio? It's easy as with Visual Studio Code, eg:

[code]

Just trying to figure out how to do it with Visual Studio for my Windows buddies (I'm predominantly a Linux dev).

[2018-08-27 15:07] bwateratmsft commented on #144
Hey @MulderLiu , the HintPath references in your csproj won't be able to be resolved inside the container when running in release mode.  In debug mode, we build the project in the host machine and map volumes to run it in the container. But in release mode, we build the project in the container itself. Those paths won't work in the container, especially since it is a Linux container. You can repla

[2018-08-28 00:06] dbreshears commented on #9
@brad-jones ,  you should be able to create a file named "docker-compose.vs.debug.yml and add this to the docker-compose project,  overriding the entrypoint as necessary..   You can start by grabbing the <project>\obj\Docker\docker-compose.vs.debug.g.yml  and renaming it to remove the ".g" file.   If this is found in the project we will pass along to docker-compose after the other arguments.

[2018-08-28 15:57] bgever opened #145 "Custom service name per project"
When I use Visual Studio for Mac with the **Add | Add Docker Support**, then the 'docker-compose' project and `docker-compose.yml` files get created.

In those files, the name of the service seems to match the name of the project.
For example, with project 'MyNamespace.ProjectName', I would see the `mynamespace.projectname` service in `docker.compose.yml`.

Can I customize the name of the service

[2018-08-28 17:08] arielmoraes commented on #76
I'm facing the same issue here, I have a container created outside visual studio and I just need it to start when I debug my application as I have persisted data inside the container's volume.

[2018-08-28 18:55] bgever commented on #145
I've tried that, but unfortunately in that case when I click the "play" button or choose **Run | Start Debugging** nothing happens in VS for Mac. Not even errors.

[2018-08-28 20:09] dbreshears commented on #145
Are you in a web project?  I did notice one other place you might need to update in case of a web project. Double click the docker-compose project and bring up the properties?  Under launch browser, ensure Startup Service is set to the correct name of the  service without the namespace.

With these 3 places updated I am unable to repro with version 7.6.1 of VS For Mac. What version are you on?  Do

[2018-08-29 03:50] bgever commented on #145
Thanks for looking into this Devin. Indeed VS for Mac (7.6.1) doesn't build or debug at all once I rename the services. When I change the names back, then it works again. It's almost as if there is no response to the debug commands.

You can find my repo here: https://github.com/bgever/container-vote
It's a demo project for a talk I'm doing today.

[2018-08-29 06:52] prisar commented on #98
@haniamr removing
[code]

from `docker-compose.yml` worked for me. I kept it in `docker-compose.override.yml` also.

[2018-08-29 15:53] dbreshears commented on #145
That is odd.   I'll check around and see what could cause this?

So, I cloned the repo, changed all the service names to strip containervote. in both docker-compose.yml and docker-compose.override.yml .   Set Docker-compose project as startup.  Hit  Debug / Play button started up about 7 containers.  Web doesn't come up by default and need to look into that but navigating to http://locahost I am a

[2018-08-30 07:50] li0nsar3c00l commented on #99
Same problem with VS 15.8.2, docker 18.06.1-ce-win73 (19507). Can somebody tell me, which VS preview version has a fix?

[2018-08-30 12:50] candoumbe commented on #34
@haniamr
Any update on this ? I have same issue here with a webapi targeting netcoreapp2.0 and netcoreapp2.1

@kspearrin
the only thing I did for now was to unload the docker-compose project from visual studio

[2018-08-30 15:59] Heurazio commented on #99
@arielmoraes , @li0nsar3c00l : Look at my answer [above](https://github.com/Microsoft/DockerTools/issues/99#issuecomment-416004105). Maybe this can help you. I hat this issue a few times when creating a new project.

[2018-08-30 16:06] arielmoraes commented on #99
@Heurazio, already tried that, even with a fresh new project I'm getting the error.

[2018-08-30 16:26] bwateratmsft commented on #34
@candoumbe , what version of VS are you using?

[2018-08-30 16:36] candoumbe commented on #34
@bwateratmsft
I'm using VS 2017 update 15.8.1

[2018-08-30 16:44] bwateratmsft commented on #34
@candoumbe If possible, can you try this as a workaround:
1. Unload the docker-compose project (or remove it)
2. Right click your web app, do Add > Docker Support

Beginning with 15.8 we added support for Docker without any docker-compose project, we simply build and run from the dockerfile. Please note that this action will rewrite your dockerfile so if you need custom changes in the dockerfile,

[2018-08-30 16:50] alexvy86 commented on #34
@bwateratmsft is Docker-support-without-docker-compose-project specific to AspNetCore projects? Yesterday I added Docker support to a .NET Core console application using VS 15.8.2 and it still created the docker-compose project...

[2018-08-30 16:52] bwateratmsft commented on #34
@alexvy86 Yes, that is true currently

[2018-08-31 09:55] bgever commented on #145
Found the problem. Now on 7.6.3.1, and using **Help | Diagnostics | Mark log** reveals in `Ide.<date>.log` the following. Note it only showed up in the logs once I did the mark.

So it seems the IDE still sends the full project name as service name. (I did a restart of VS after the change for good measure)

And the unhandled exception explains why nothing happened.

[code]

[2018-08-31 10:08] labarilem commented on #9
@dbreshears , I have added a _docker-compose.vs.debug.yml_ file in my docker-compose project:

[code]

Its content is based on the _\obj\Docker\docker-compose.vs.debug.g.yml_ file you mentioned. The only difference is the _entrypoint_ property, which I have edited manually.

Still, the issue persists: when debugging with Docker, VS uses the _\obj\Docker\docker-compose.vs.debug.g.yml_ file which is

[2018-08-31 16:03] dbreshears commented on #9
That certainly looks correct.  Can you ensure your startup project is the docker-compose project.  In 15.8 we added a single project docker experience, when I unloaded and reloaded docker-compose project when testing this just now,  it gets reset to my WebApplication and therefore just does docker run in stead of compose.  Also, are you on "Debug" solution config in VS when you F5?  Can you share

[2018-08-31 16:31] dbreshears commented on #145
Can your create a branch of you modified solution that repro's this?    I struggled to repro it earlier but maybe I didn't update the same as you have

[2018-09-01 03:48] wzowee commented on #129
`[Project Name]\Dockerfile` was on linux containers for me up until the latest upgrade to Docker - 18.06.1-ce-win73 (19507)

After this I had to switch `\ to a / and it's working - thanks @julKali lost hours on this prior to reading your issue here.

[2018-09-01 03:55] wzowee opened #146 "No docker-compose project created when enabling docker support on new Project"
When I create a new ASP.Net Core project in Visual Studio Community edition and select to enable docker support there is no docker-compose project created.

This reproduced on 15.8.1, and 15.8.2.

A Dockerfile is generated and placed in the project, but no docker-compose project so no ability to run in Docker Compose.

![image](https://user-images.githubusercontent.com/5781975/44942138-70bc2400-ad

[2018-09-05 08:49] Vhab commented on #34
@haniamr This issue is still happening when targeting multiple frameworks.

[2018-09-05 13:18] msanjaka commented on #34
vs 2017 community version.  

Thank you.
Best Regards,
BVMV SANJAKA 

    On Thursday, August 30, 2018 12:26 PM, Brandon Waterloo [MSFT] <notifications@github.com> wrote:

 @candoumbe , what version of VS are you using?—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-05 15:27] bwateratmsft commented on #146
Hey @wzowee, beginning in 15.8 we do not create a docker-compose project by default when you add Docker support (see [here](https://blogs.msdn.microsoft.com/visualstudio/2018/08/14/visual-studio-2017-version-15-8/) for more information). You can still add it by doing Add > Container Orchestrator Support if you really need it, but you can debug with just the single project.

[2018-09-05 15:30] bwateratmsft commented on #34
@msanjaka If you go to Help > About Microsoft Visual Studio, which version do you see? e.g. 15.7.5, 15.8.1, etc.

[2018-09-06 08:35] bgever commented on #145
Sorry, missed your reply.
See https://github.com/bgever/container-vote/tree/service-rename

[2018-09-06 13:14] tomkerkhove commented on #121
This is a big problem, at least we should be able to rename `docker-compose.yml` to something we like or makes more sense and not hardcode this.

Would be great to have this fixed.

[2018-09-07 13:48] nicksterx commented on #37
You could you post you docker-compose.yml?
On Thu, Sep 6, 2018 at 9:22 PM sega19 <notifications@github.com> wrote:

[2018-09-07 14:27] sega19 commented on #37
Sorry, I don't have the original yaml. I tweaked it buy putting some spaces before and after the colon, and the problem went away. None of the output windows showed a problem. Trying to do a project clean did show some sort of error. Never looked at the Errors list to see it something was being shown there.

[2018-09-07 15:54] radhikaswift commented on #37
Hi  Team ,I am new to docker.Configured docker for windows and developed docker file which builds nginx server to host angular application successfully.Now planning to call docker file in TFS build definition.I have added docker task to run command in Build deinftion but getting issue

018-09-07T15:44:05.6305242Z ##[debug]Absolute path for pathSegments: C:\Build\agent\agent\worker\Modules\Microsof

[2018-09-07 17:33] krotkiske commented on #99
Having the same issue.

[2018-09-09 11:08] eluchsinger commented on #143
So what's the status on this issue? I can't create a project with Docker support. I have got both problems described here. There is no Nuget Package called `Microsoft.VisualStudio.Containers.Tools.Targets`, but I have one called `Microsoft.VisualStudio.Azure.Containers.Tools.Targets`.

[2018-09-10 12:43] HaoTsien commented on #130
I'm using VS 2017 for mac and Docker and I can see same error "The DOCKER_REGISTRY variable is not set. Defaulting to a blank string".

[2018-09-10 15:46] bwateratmsft commented on #143
@eluchsinger These should both be fixed in VS 15.9 Preview 3 when it is available.

[2018-09-10 16:01] #127 closed

[2018-09-10 16:03] #146 closed

[2018-09-11 03:06] xcheng75 opened #147 "Adding the certificate to the Trusted Root Certificate store failed with the following error: Failed with a critical error."
Visual Studio 2017 15.8.2
Asp.net core web api project, after configured https, using Docker debug, got: "Adding the certificate to the Trusted Root Certificate store failed with the following error: Failed with a critical error"

Docker version: 18.06.1-ce
Visual Studio 2017 Ran as Administrator

![netcoredockercertificateerror](https://user-images.githubusercontent.com/12519678/45336010-8dff9980

[2018-09-11 04:43] aaronmorgan commented on #142
Had the same problem after previously working fine during the same VS session. Restarting VS didn't correct the problem.
I was running VS in Admin mode, restarted without Admin mode and the issue came right.

[2018-09-11 06:16] nur858 opened #148 "VS debugger won't start when Dockerfile in a subdirectory."
I have `Dockerfile` in `WebApplication1/docker/`.  VS builds container fine but it doesn't attach debugger when dockerfile is in subdirectory.  As soon as I move dockerfile to project root (WebApplication1/Dockerfile) , everything works as expected including debugging.

docker-compose.yml:
-----------------------
[code]
VS version : 15.7.5
Docker version: 18.06.1-ce-win73

[2018-09-11 07:38] daze99 commented on #99
I don't think this issue should be closed, as many (including me) still have this problem.

[2018-09-11 08:55] Rocinante89 commented on #142
In my case I believe it was because I am using the alpine image of aspnetcore and that isn't supported by debugging as of yet

[2018-09-11 09:58] li0nsar3c00l commented on #99
I created a new admin account with password and ensured the user had rights to read/write the folder, but it still didn't worked. I solved this issue by replacing the docker user account with my global admin account I was developing on after adding a password to it. Not sure if this was a proper solution or if I just fucked up the permissions.
Regarding the behaviour @Heurazio noticed: I can confi

[2018-09-11 14:43] bwateratmsft commented on #148
Hey @nur858, this behavior is by-design. It is possible and desirable to have a docker-compose project that can start containers without attaching--for instance, a MySQL container for storage--so, Visual Studio only attaches to a container if it can associate a service (in the docker-compose) to a project in the solution. The only way to do this is if the Dockerfile is in the same folder as the cs

[2018-09-11 14:43] #148 closed

[2018-09-11 14:46] bwateratmsft commented on #147
Hey @xcheng75, this looks similar to a bug we found (and have fixed for VS 15.9 Preview 3, when it releases). Does the full path to your project file contain a space?

[2018-09-11 16:26] nur858 commented on #148
Thanks @bwateratmsft for quick response.  Any chance this can be made configurable? It possible to add linting rules, specification testing to docker and to keep them in a folder along with dockerfile is desirable from code organization point of view.

[2018-09-11 16:33] dbreshears commented on #141
Sorry for the late reply.  I have been unable to repro with the a simple test of web + webapi project setup similarly.  Are you able to share a repro solution?

[2018-09-11 17:00] cjekin commented on #142
My Windows password had changed, but the Docker drive mapping hadn't. Just unticked the shared drive in settings, applied and reticked. It asked me to re-enter my password. Restart Docker and Visual Studio and the issue resolved.

[2018-09-11 18:08] #17 closed

[2018-09-11 18:08] #19 closed

[2018-09-11 18:08] #20 closed

[2018-09-11 18:08] #22 closed

[2018-09-11 18:08] #25 closed

[2018-09-11 18:08] #26 closed

[2018-09-11 18:08] #28 closed

[2018-09-11 18:08] #30 closed

[2018-09-11 18:08] #31 closed

[2018-09-11 18:08] #35 closed

[2018-09-11 18:08] #38 closed

[2018-09-11 18:08] #44 closed

[2018-09-11 18:08] #48 closed

[2018-09-11 18:08] #50 closed

[2018-09-11 18:08] #55 closed

[2018-09-11 18:08] #57 closed

[2018-09-11 18:08] #18 closed

[2018-09-11 18:08] #23 closed

[2018-09-11 18:08] #29 closed

[2018-09-11 18:08] #32 closed

[2018-09-11 18:08] #40 closed

[2018-09-11 18:08] #49 closed

[2018-09-11 18:08] #56 closed

[2018-09-11 18:08] #64 closed

[2018-09-11 18:08] #66 closed

[2018-09-11 18:08] #72 closed

[2018-09-11 18:08] #79 closed

[2018-09-11 18:08] #83 closed

[2018-09-11 18:08] #86 closed

[2018-09-11 18:08] #88 closed

[2018-09-11 18:08] #91 closed

[2018-09-11 18:29] #59 closed

[2018-09-11 18:30] #42 closed

[2018-09-11 18:33] #85 closed

[2018-09-11 18:33] bwateratmsft commented on #85
Root issue is fixed now. aspnet/aspnet-docker#388

[2018-09-11 18:34] maynardflies commented on #42
That's it?  No comment, no platitudes, no attempt at reconciliation, just an unceremonious closing of the issue with a wontfix label?  What do you have to say to your users who are still stuck in an enterprise environment using Windows 7 for whom this is still a blocking issue?

[2018-09-11 18:35] xcheng75 commented on #147
Thanks for your reply! @bwateratmsft
The full path to my project file does not contain a space.

[2018-09-11 18:36] bwateratmsft commented on #42
We have no plans to support Docker Toolbox at this time.

[2018-09-11 18:37] haniamr commented on #140
@brunis thanks for reporting, can you please provide repro steps and VS version?

[2018-09-11 18:39] maynardflies commented on #42
Do you support Windows 7 being used in software engineering/devops environments in your enterprise customers?  What is the solution for them since D4W is only usable on Windows 10 Pro+?  Last I checked you set your EOL for business customers of Windows 7 to 2020.

[2018-09-11 18:43] tebeco commented on #39
sooooo
it won’t be open source ?

[2018-09-11 18:44] tebeco commented on #39
it’s not stale as nobody from the maintainer wanted to take the point ?

[2018-09-11 18:44] galvesribeiro commented on #39
Yeah... looks like...

[2018-09-11 18:46] tebeco commented on #39
this is a so bad idea
@bwatertmsft please look at how dotnet core and vscode got enhanced

reopen that issue, remove the stale flag
and please tell the product owner to come here and explain public why this should not be opened

please let everyone help you

[2018-09-11 18:47] haniamr commented on #134
@neoGeneva thanks for reporting, this scenario is not supported at the moment and that's why it is blocked from the UI.

We'll add that work item in our backlog and triage it accordingly.

[2018-09-11 18:47] xcheng75 commented on #147
Do we have any work around for this above issue? i have tried to manually add the certificate into my root trusted certificate store, but the certificate seems missing something, after i opened the certificate i can see it says "Windows does not have enough information to verify this certificate." After refreshed the browser, the https url is still not taking the certificate.

Where can i find the

[2018-09-11 18:49] bwateratmsft commented on #147
Hey @xcheng75, let's try removing the development certificate so it gets recreated.
1. Open mmc, add the Certificate Manager for **user** (not machine/computer).
2. Go to Personal > Certificates
3. Look for a certificate issued to "localhost", friendly name like "ASP.NET Core HTTPS development certificate"
4. Delete that certificate
5. Relaunch Visual Studio and try again

[2018-09-11 18:52] bwateratmsft commented on #39
We can see that this is still a relevant issue so we're going to reopen and discuss.

[2018-09-11 18:53] tebeco commented on #39
from what i see

this should come from you

[2018-09-11 19:03] haniamr commented on #122
@steveoh apologies for the delayed response, this should be fixed in the latest 7.6 version. Please verify and let me know if you still face any issues.

[2018-09-11 19:04] lisaguthrie commented on #42
On Windows 7, you can still use Visual Studio to write code. You can use the VS Docker tools to create/edit a Dockerfile for your project. You can use that Dockerfile to build/run containers outside of Visual Studio. You can use Visual Studio to manually hook up a remote debugger to an application running in a container. All of this is fully supported today. The piece that we have no plans to supp

[2018-09-11 19:08] haniamr commented on #129
@wzowee I don't think it would be related to a "Docker for Windows" issue, however that would be a scaffolding problem when creating the project. I can't repro the issue so it'd be helpful if you can share your Visual Studio version.

[2018-09-11 19:28] dbreshears commented on #142
I was able to repro this as I changed my password yesterday.   I can confirm that resetting drive sharing, restarting both Docker and VS resolved it for me as well.

[2018-09-11 19:28] #142 closed

[2018-09-11 19:29] haniamr commented on #74
There's an open work item to do the changes necessary to support LCOW, I'll update this issue accordingly as soon as it's completed.

[2018-09-11 19:33] haniamr commented on #123
@JohnGalt1717 thanks for reporting. If you're still facing this issue, can you please share your VS version?
For the startup project issue, the dc-proj should be automatically set as the startup project after adding docker support, this isn't the case in your environment?

[2018-09-11 19:45] xcheng75 commented on #147
@bwateratmsft

The docker-compose generates a unique ip address each time i initiate docker-compose debugging tool. i do not have any certificate with friendly name like "ASP.NET Core HTTPS development certificate" in certlm.

[2018-09-11 19:54] bwateratmsft commented on #147
@xcheng75 that's correct, however, to use HTTPS some certificate must be used, so the dotnet build tools (dotnet dev-certs in particular) creates a self-signed certificate issued to localhost, installs to the user certificate store so it is trusted, and uses that for SSL. Unfortunately, because the IP address won't match "localhost", it will still present a subject name mismatch warning in the bro

[2018-09-11 19:57] bwateratmsft commented on #148
@nur858 I will file a work item to suggest changing this.

[2018-09-11 20:28] dbreshears commented on #137
I haven't been able to repro this by running bookshelf.zip in 15.8.2.   However I did hit  #142 which I was able to workaround.  Does this error happen during project creation or on Build or F5?

[2018-09-11 20:35] neoGeneva commented on #134
Great, thanks @haniamr

[2018-09-11 21:36] haniamr commented on #147
@xcheng75 did restarting VS help? If not, please execute the following commands (that's what VS is doing to trust/export the certificate into the container) and share with us the output:
1. `dotnet dev-certs https --trust --check`
2. `echo Trust check: %errorlevel%`
3. `dotnet dev-certs https --trust -ep "%APPDATA%\ASP.NET\https\TestCert.pfx" -p TestPassword`
4. `echo Trust/Export: %errorlevel%`

[2018-09-11 21:41] haniamr commented on #130
@gruberchris I'd be happy to help if you can provide me with the build output logs at the time of failure.

[2018-09-11 21:54] AceHack commented on #67
@bwateratmsft why was this closed?

[2018-09-11 22:17] xcheng75 commented on #147
Yes, i can see TestCert.pfx in %APPDATA%\ASP.NET\https\ but visual studio 2017 still gives the same error and could not launch https url attaching debug to it,  the docker host machine is a VM inside of Mac.... i am on my company internal network....

![image](https://user-images.githubusercontent.com/12519678/45390625-c48bf180-b5d4-11e8-8373-52d23cf727dd.png)

[2018-09-12 01:34] haniamr commented on #99
Re-opening since the issue is still happening, although I believe it might be a different scenario.

So here is what VS is doing when you F5 an ASP.NET Core Web App 2.1 with Https and docker enabled:
1. Check if the development certificate exists and trusted or not
2. If (1) is false, then prompt the user to trust the certificate
3. Export the certificate to %APPDATA%\ASP.NET\https\{WebAppName}.pf

[2018-09-12 01:38] haniamr commented on #98
@prisar thanks for the confirmation, I'll be closing this issue since the fix is already in the latest public version.

[2018-09-12 01:38] #98 closed

[2018-09-12 15:08] bwateratmsft commented on #67
@AceHack we closed some issues that hadn't been updated in some time. Since this is still relevant I'm happy to reopen it.

[2018-09-12 15:12] krotkiske commented on #99
1. Its 2.1 or 2.0
2+3. I get the error message directly. i do not get a prompt.
4. Yes
5.
 a. blank
 b. Trust check: 0
c. Done prompted me.
d. Trust/Export: 9009
e. Done
f. Successfully saved Kestrel:Certificates:Development:Password =
TestPassword to the secret store.

Ran again and still fails. critical error

On Tue, Sep 11, 2018 at 9:34 PM Hani Amr <notifications@github.com> wrote:

[2018-09-12 15:13] krotkiske commented on #99
I also do not have a certificate under either personal or trusted by that
name. it created a certificate called localhost.

On Tue, Sep 11, 2018 at 9:34 PM Hani Amr <notifications@github.com> wrote:

[2018-09-12 15:14] krotkiske commented on #99
I did not get a dcproj from initial setup i had to add it afterwards from
the add container orcehestration support option.

On Tue, Sep 11, 2018 at 9:34 PM Hani Amr <notifications@github.com> wrote:

[2018-09-12 17:15] bwateratmsft commented on #91
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:15] bwateratmsft commented on #88
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:15] bwateratmsft commented on #86
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:15] bwateratmsft commented on #83
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:15] bwateratmsft commented on #81
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:15] bwateratmsft commented on #79
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #72
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #71
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #68
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #66
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #64
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #62
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #59
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #58
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:16] bwateratmsft commented on #57
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #56
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #55
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #50
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #49
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #48
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #44
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #40
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #38
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:17] bwateratmsft commented on #35
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #32
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #31
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #30
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #29
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #28
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #27
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #26
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #25
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #24
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:18] bwateratmsft commented on #23
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #22
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #20
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #19
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #18
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #17
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #16
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!