[2018-09-12 17:19] bwateratmsft commented on #15
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #14
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #12
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:19] bwateratmsft commented on #8
This issue is being closed as an inactive issue. If you wish to keep it active, please re-open with any additional context for our consideration, we are happy to take a look!

[2018-09-12 17:33] bwateratmsft commented on #80
@sriwantha , is this actually [Docker Toolbox](https://docs.docker.com/toolbox/toolbox_install_windows/), not [Docker for Windows](https://store.docker.com/editions/community/docker-ce-desktop-windows)? Which version of Windows are you developing on? Please note that Docker Toolbox is not supported, only Docker for Windows.

[2018-09-12 17:37] bwateratmsft commented on #48
Changing close to duplicate of #39

[2018-09-12 20:15] xcheng75 commented on #147
There is no certificate with friendly name of "ASP.NET Core HTTPS development certificate" in my certlm.

[2018-09-12 22:36] tanaka-takayoshi commented on #30
@bwateratmsft I have no idea why you say "inactive" because I'm waiting for Microsoft since I've created this case. I've been expecting open sourcing since Microsoft has made a public announcement. It could help me developing a VSIX tool.
In addition, I'm not able to reopen the closed issue in this repository.

[2018-09-12 23:02] steveoh commented on #122
i haven't tried but when or if I do, I'll come back here.

[2018-09-12 23:02] #122 closed

[2018-09-13 07:34] dejvid-smth commented on #27
What additional information do you need ? The problem still stands and is relevant. This issue should not be closed.

[2018-09-13 10:44] becio commented on #104
I need this flag too because I have a container that eats a lot of memory and I want to test how it behaves locally by setting a limit, I can't find an easy way of doing this from VS, there should be an option in the settings to enable this compatibility mode, until that I have to test this from outside VS by switching to swarm mode and using command prompt.

[2018-09-13 14:08] bwateratmsft commented on #30
@tanaka-takayoshi You're correct, it makes sense that this is not inactive. However it is a duplicate of #39 so I have changed the label from stale to duplicate.

[2018-09-13 14:12] bwateratmsft commented on #27
@dejvid-smth You are correct, this issue is still relevant so I am reopening it. Thank you!

[2018-09-13 14:20] alexvy86 commented on #81
@bwateratmsft what additional information do you need? I think the issue is pretty clear in the original post.

[2018-09-13 16:14] alexvy86 commented on #117
Just a clarification, as to why a step for removing the nuget.config file is not necessary:

Running `docker build` will only output one image (and its layers), the one built during the last stage in the file (in this case, `final`). The layers generated for the `build` and `publish` stages don't get into the published image. And the last stage never brings the nuget.config file into it.

Also, I'

[2018-09-13 17:06] tanaka-takayoshi commented on #39
I come from the duplicated issue. I have been waiting for open source since Microsoft announced.
https://blogs.msdn.microsoft.com/stevelasker/2016/11/22/visual-studio-docker-tools-support-for-visual-studio-2015-2017/

[2018-09-13 17:06] tanaka-takayoshi commented on #30
fair enough.

[2018-09-13 22:01] lisaguthrie commented on #39
Thanks for all the feedback. We're still discussing this request. The Docker tools have deep dependencies on the internals of Visual Studio, so this not a trivial ask, but we fully understand the desire for extensibility and enhancements. We will keep this issue open for now, and we will update it as we decide how to move forward.

[2018-09-14 05:35] tebeco commented on #39
@lisaguthrie
 thx a lot for the answer, that beein a yes or a no but at least now we have some feedback

[2018-09-14 06:10] ukian commented on #37
the problem for  us was the short oneline error when we try and debug. Here's whats happening. if the app in %userprofile% are two directories. The short name shoulf have code in. If it is missing Or a day or two  stale it goes to   anothher url and usinng a magic url it retrieves thevsdbg files. the error refers to it not findikng the file as VSS version is in it.

We dont have a full solution we

[2018-09-16 06:33] Varorbc opened #149 "OSError: Can not read file in context: *.dbmdl"
There is a database project in our solution, and the following error message will appear when building the docker:
OSError: Can not read file in context: *.dbmdl

[2018-09-19 08:11] kavhad opened #150 "build hangs during docker-compose build image phase in Visual Studio 2017"
Visual studio 2017 build hangs when building a solution with docker-compose project.

Microsoft Windows [Version 10.0.17134.285]
Docker version 18.06.1-ce, build e68fc7a

docker-compose.yml
[code]
.env file
[code]

When build hangs, the following lines shows up in docker logs (C:\ProgramData\Docker\service.txt):

[code]

If I remove the ${DOCKER_REGISTRY} parameter in the docker-compose.yml file b

[2018-09-19 08:46] MarkDixonTech commented on #99
The Issued To and Issued By will be localhost but the Friendly Name will be ASP.NET Core HTTPS Development certificate

[2018-09-19 08:52] MarkDixonTech commented on #99
I have managed to get this working by manually importing the file at %APPDATA%\ASP.NET\https\{WebAppName}.pfx into my certifcate store at CurrentUser/Personal/Certifcates

I also ran the following:

 - dotnet dev-certs https --trust -ep "%APPDATA%\ASP.NET\https\{WebAppName}.pfx"
       -p TestPassword

       - cd "{Directory where your .csproj lives}"
       - dotnet user-secrets set Kestrel:Cert

[2018-09-19 09:16] MarkDixonTech commented on #99
And if anyone is trying to do this on Service Fabric it had to go into the Local Machine certificate store instead

[2018-09-19 15:02] bwateratmsft commented on #150
Hey @kavhad , I'm not able to reproduce your issue, but it looks similar to this issue:  moby/moby#35888. This user reported the same symptoms (timeout, then error), and has that same error message, "Got an API for which error does not match any expected type". Unfortunately, that issue is still open.

[2018-09-19 15:44] kavhad commented on #150
Ok, but one thing I noticed is that the docker service log is slightly different when I removed the DOCKER_REGISTRY parameter usage in docker-compose.yml,
a plus character didn’t appear in this location: ... /v1.30/build?t=+x%2test&q .
I wonder if this is causing issues and is due to windows end of line characters in .env file which is messing up the resulting call to build.

[2018-09-19 15:53] bwateratmsft commented on #150
@kavhad Great catch. That plus character there would be decoded as a space. Additionally, it may be a red herring, but where I would have expected a %2**F** (which is '/') between "x" and "test", instead it's just %2.
Try rearranging the .env file and trying different line ending formats. It's possible that it's misinterpreting a \r as a space and encoding a +, or something like that.

[2018-09-19 17:36] kavhad commented on #150
Sorry the **F** was there, bad cut&paste operation on my part :)

I realized my error, I had previously set the DOCKER_REGISTRY as environment variable in the windows system wide environment variables and It had been incorrectly set to a space character then. Oddly running docker-compose build didn't use the version of the variable set in the local .env file. Considering the .env file is local int

[2018-09-19 17:44] bwateratmsft commented on #150
No problem. I'll close this, glad I could sorta help!

[2018-09-19 17:44] #150 closed

[2018-09-19 20:33] arielmoraes commented on #99
Sorry for the late response, but it seems that the certificate is not being create in the correct folder, in my machine when I start a new project using HTTPS the folder which is expected to contain the certificate is empty.

[2018-09-20 13:48] s-leonard commented on #130
I've had this error many times and the thing that fixes it for me, is to right click on the solution and add a new asp.net core api with docker support.

Then clicking Debug works. After that I remove the project from the solution and remove the folder in file explorer.

Finally I remove the service from the docker-compose.yml file AND the docker-compose.override.yaml below it.

I know this seem t

[2018-09-21 08:09] da1rren commented on #141
@dbreshears I'll try create a replication of the issue.  But I've been able to get it working by either doing either:

[code]

Or

[code]

Something really weird is going on the with particular directory/file but it doesn't appear to be affecting docker-compose from the command line.

[2018-09-22 00:49] Neuroglia commented on #37
I had the exact same problem. For me, removing the package 'Microsoft.VisualStudio.Web.CodeGeneration.Design' from my project solved it. I had an exception of the kind: Failed to find the assembly Microsoft.VisualStudio.Web.CodeGeneration.Design ... I missed it because, unlike most exceptions in the debug output, it basically is a one-liner. Hope this helps others in need!

[2018-09-22 00:50] Neuroglia commented on #37
The exception was:
Error:
  An assembly specified in the application dependencies manifest (ProductManager.deps.json) was not found:
    package: 'Microsoft.CodeAnalysis.CSharp.Workspaces', version: '2.8.0'
    path: 'lib/netstandard1.3/Microsoft.CodeAnalysis.CSharp.Workspaces.dll'

[2018-09-26 13:06] mtawara commented on #142
I am getting this exact same error too. I have tried everything in these comments, but the error is still occurring.

[2018-09-26 18:43] haniamr commented on #99
@krotkiske thanks for your feedback, I believe your issue might be permissions related, how different is the machine configuration (i.e. domain joined or not, user accounts, etc.) where it doesn't work and the one it does?

@MarkDixonTech thanks for pointing that out, it depends on where your %APPDATA% points but the roaming folder shouldn't be a problem, I've tested it on both roaming and local a

[2018-09-26 22:29] haniamr commented on #147
@xcheng75 thanks for getting back on this, I've recently re-opened an old issue with the same description so will close this one as duplicate and track this [here](https://github.com/Microsoft/DockerTools/issues/99) instead.

Please take a look at my latest comment there, I'd be happy to schedule a Skype call if you're still facing the issue.

Thanks!

[2018-09-26 22:29] #147 closed

[2018-09-27 06:07] gitlsl opened #151 "how add -H in docker build"
default build will get error
`docker build -f "E:\vsproject\TestDemo\WebApplication1\Dockerfile" -t webapplication1:dev --target base "E:\vsproject\TestDemo"`

next is I need
`docker -H tcp://192.168.34.211:2375 build -f "E:\vsproject\TestDemo\WebApplication1\Dockerfile" -t webapplication1:dev --target base "E:\vsproject\TestDemo"`

but how can I add this?
thanks a lot

[2018-09-27 06:51] gitlsl commented on #151
DOCKER_HOST    add this to `PATH`  is ok
`
1>docker run -dt -v "C:\Users\Administrator\vsdbg\vs2017u5:/remote_debugger:rw" -v "E:\vsproject\TestDemo\WebApplication1:/app" -v "C:\Users\Administrator\.nuget\packages\:/root/.nuget/fallbackpackages2" -v "C:\Program Files\dotnet\sdk\NuGetFallbackFolder:/root/.nuget/fallbackpackages" -e "DOTNET_USE_POLLING_FILE_WATCHER=1" -e "ASPNETCORE_ENVIRONMENT=Deve

[2018-09-27 13:31] msnelling commented on #131
I also encountered this issue when using the alpine based images and used the workaround suggested by @haniamr, however I now see there is another error in the use of `pidof`.
[code]

[2018-09-27 14:27] bwateratmsft commented on #151
Hey @gitlsl ,

Using a remote machine as the docker host is not supported by default as volume mapping is much more complicated. Volume mapping is necessary to use Debug mode in all cases, and in Release mode as well if you're using ASP.NET Core 2.1 + HTTPS. There may be a way to enable volume mapping (perhaps using a network drive?) but we have not investigated or tested this.

[2018-09-28 00:10] haniamr commented on #131
@msnelling thanks for reporting that, it's definitely helpful to know what areas we need to work on to fully support Alpine-based images. The task is in our backlog and I'll update this issue here whenever the changes become ready.

[2018-10-01 18:36] haniamr commented on #149
@Varorbc thanks for reporting, so it's a database project with docker enabled? Or is it a web project with a *.dbml file in it? I've tried the latter and it works fine.

[2018-10-01 23:09] Varorbc commented on #149
@haniamr thank you.A total of 2 projects, one database project, one web project, the database project is not quoted by the web project

[2018-10-01 23:38] haniamr commented on #149
So you manually added a dockerfile to the database project and referenced that in the yaml files, correct? I'm not sure why you'd want to containerize a database project with dbml file(s) that is not referenced by a web project?

In general, we do not support "Database projects" and that's why you won't see the option enabled through the UI but if you give me more info on the use case I'll be happ

[2018-10-02 14:19] Varorbc commented on #149
No, we have a lot of projects in our solution that happen to have a database project, and that's the kind of error that happens when we build a container image for a web project.

[2018-10-02 17:39] haniamr commented on #149
Can you share a sample code for that scenario so that I can better understand the issue?

[2018-10-02 17:48] mparker commented on #99
While trying to figure out problems trying to run a Service Fabric project locally (no docker involved), I came across this thread. I got past it and thought I'd add my comment, in case it helps anyone.

The fix for me was to create a new user account with no spaces in the name. I'm guessing that whatever commands that are run in the background don't use quotes around the path, so references to %A

[2018-10-02 18:06] haniamr commented on #139
@MartyIce "DockerComposeProjectPath" should be defined in every project that is containerized as an MSBuild property, something like:
`<DockerComposeProjectPath>..\docker-compose.dcproj</DockerComposeProjectPath>`

Please verify this property exists and I'll be happy to look further if you still have any issues.

@viskin are you still seeing this issue? I couldn't repro it, if you still see it ple

[2018-10-03 10:18] goldengrisha commented on #149
I suppose his context in docker-compose or in docker file points to the root of the app, while vs' process holds this file that's why it can't be copied by docker daemon.
My local workaround is reload db project.

[2018-10-03 10:31] Varorbc commented on #149
@goldengrisha @haniamr I guess that's why you're talking, but my docker file was created through vs, so it needs to be solved fundamentally.

[2018-10-03 14:38] Rast1234 commented on #42
I'm not sure if it's mentioned or linked in this thread, but i see a lot frustrated users so i'll just leave it here:

* Install Docker Toolbox which is **not** legacy and works fine with Virtualbox
* Run the Docker Quickstart Terminal (shortcut is created by installer in start menu). It is basically bash with some startup magic.
* Run Visual Studio **from inside this terminal**. It will get all t

[2018-10-03 15:54] bwateratmsft commented on #42
Docker Inc is extremely clear that Docker Toolbox is legacy. The note at the top of the [overview doc page](https://docs.docker.com/toolbox/overview/) is "**Legacy desktop solution.** Docker Toolbox is for older Mac and Windows systems that do not meet the requirements of Docker for Mac and Docker for Windows..."

[2018-10-03 16:53] cemdev commented on #42
older Windows systems like Windows 10 Home?

[2018-10-04 00:51] PhoenixPan commented on #42
Docker Toolbox is a solution to legacy, not a legacy itself.

It's ok if the team doesn't want to do backward compatibility works, I understand, I also prefer to work on the new, exciting stuff. But I don't think it's nice that you just came back to emphasize whether Docker Toolbox is a legacy and ignore all other good pieces @Rast1234 brought up. Something like his comment is exactly what the tea

[2018-10-05 07:36] Rast1234 commented on #42
By the way, i updated VS and docker toolbox and now running a project with Docker does not work, resulting in the same error. Cleaning a project with docker support gives the same.
But running and debugging **docker-compose project** works! Add container ochestrator support by right-clicking on desired `csproj`, it will create new `dcproj` called docker-compose. Set it as startup project and confi

[2018-10-08 05:56] farrelhardenberg-WDFC commented on #137
I have the same issue, funny enough... I'm able to run && debug the exact same solution from VSCode without any issues. Wondering if this is due to a specific version of VS2017...

[2018-10-08 19:29] espray commented on #124
Azure/Azure-Functions#845
Azure/azure-functions-core-tools#477

[Developer Community -- docker-compose build error: "Value cannot be null. Parameter name: stream"](https://developercommunity.visualstudio.com/content/problem/254807/docker-compose-build-error-value-cannot-be-null-pa-1.html)

[2018-10-10 02:48] gianlazz commented on #99
I would also like to chime in and report that I've followed along with the instructions and am still at a blocking point in development on this issue with VS 15.8.6

[2018-10-13 22:37] RicardoArndt commented on #99
Não é possível que esse erro ainda esteja acontecendo, até desisti de criar o projeto com docker e vou criá-lo normalmente.

[2018-10-17 19:08] dmikov commented on #105
Any updates on that? This is most basic functionality of yml, not even docker.

[2018-10-20 19:38] RicardoArndt commented on #99
Hello guys, i'm brazilian sorry my english.
I resolve my problem creating new account in windows but not with spaces in account name, the folder "Users/{yourname}" not have spaces example "Ricardo Arndt" -> Error, "RicardoArndt" -> OK

[2018-10-22 06:01] kinl99 commented on #139
same here, can anyone advice on a workaround?

[2018-10-22 15:20] bwateratmsft commented on #99
@RicardoArndt This is very helpful info, it might help us find the bug. Can others try to see if this helps?

[2018-10-22 22:11] PrefixAM commented on #99
VS 15.8.7, .Net core 2.1. Had "cannot find container to attach" issue. Container related issue was resolved by moving the project from the subfolder to a root level, debugging, the moving back (as it described here: https://developercommunity.visualstudio.com/content/problem/314882/single-project-docker-experience-breaks-if-using-s.html )
Once it was fixed, got certificate related issue. Tried to

[2018-10-27 12:56] babenkov-aa commented on #130
File path exceeds 255 characters

[2018-10-27 13:10] babenkov-aa opened #152 "The command '/bin/sh -c dotnet publish Server.csproj -c Release -o /app' returned a non-zero code: 1"
Hello!

When I build the application, I get errors.
Error only when building a release.
I do not know where to look for the problem.

1> ---> Running in 50f48a84b2be
1>Microsoft (R) Build Engine version 15.8.169+g1ccb72aefa for .NET Core
1>Copyright (C) Microsoft Corporation. All rights reserved.
1>  Restore completed in 70.1 ms for /src/Server/Server.csproj.
1>  Restore completed in 65.32 ms for

[2018-10-27 21:43] leandroferreira1985 commented on #99
@krotkiske Eu estava enfrentando o mesmo problema aqui. Eu resolvi mudando o nome da pasta do meu usuário (C: \ Users \ UserName). A pasta tinha um caractere "espaço", por exemplo: C: \ Users \ ** User Name **. Depois de substituir o nome da pasta para C: \ Users \ ** UserName **, o Visual Studio conseguiu gerar o certificado automaticamente.
Dê uma olhada no caminho físico para% APPDATA%, ele ser

[2018-10-28 12:08] babenkov-aa commented on #152
Problem solved, thanks.

[2018-10-28 12:08] #152 closed

[2018-10-28 23:55] kpabich commented on #89
Worked for me!
Thank you.

[2018-10-29 23:12] dzins opened #153 "Visual Studio for Mac running / debugging container does nothing"
VS For Mac V 7.6.10 (build 27)
Docker for Mac V 18.06.1-ce-mac73 (26764) stable channel

Create a new asp.net core web app (mvc)
Right click and add docker support
Build the .net project (this works fine)
Build the docker-compose project (this works fine)

Select Run - > Start Without Debugging or Start Debugging or hit F5 or hit the play button, nothing happens, nothing at all, there is nothing l

[2018-10-30 12:43] SpoonsJTD commented on #151
I have worked around this by removing the Docker for Windows install dir from the env path, and adding a docker.bat into the env path that calls docker.exe directly using the -H option and passing all other options to the exe. As bwateratmsft explained, it does break debugging, but I switch the debugging over to use IIS Express for dev testing, then do full testing after deploying the image to a s

[2018-10-30 15:21] bwateratmsft commented on #153
Thanks @dzins , this is a known issue that we are investigating with high priority.  Many folks have reported this so you are not alone.  We are currently tracking it primarily [here](https://developercommunity.visualstudio.com/content/problem/366580/cannot-run-debug-docker-compose-project.html).

[2018-11-05 08:44] mbp opened #154 "Docker is required even when not part of the build configuration"
Consider having a solution with a project, that you add Container Orchestrator Support for. A `docker-compose` project is being added. Good.
But what if I don't want to require other users to have Docker installed, to build the solution? I go to Configuration Manager and disable the checkbox on ´docker-compose` in Build column.

However, somehow Docker is still required, because users get this err

[2018-11-05 12:23] Misiu opened #155 "Can't publish to custom repository that doesn't have https"
I have a custom repository that I want to deploy my docker image to.
I've added my custom repository URL into Docker Settings:
![docker_insecure_repository](https://user-images.githubusercontent.com/1741838/47997596-aafeb600-e0fc-11e8-898e-a18a10398c4a.png)
I've created a simple ASP.NET Core 2.1 project in Visual Studio 15.8.9.

This is my Dockerfile:

[code]

this is my pubxml file:

[code]

When

[2018-11-05 16:11] bwateratmsft commented on #154
Hey @mbp , unfortunately there's not currently a workaround; however if your project is .NET Core web, you can remove the Docker-Compose project and then do Add > Docker support again. Beginning in 15.8 we have a single-file Docker experience where Compose is not used at all; and as long as Docker is not the active launch profile, it shouldn't be needed at all.

We are aware of this shortcoming in

[2018-11-05 16:13] bwateratmsft commented on #155
Hey @Misiu , this is related to this [Developer Community issue](https://developercommunity.visualstudio.com/content/problem/361165/publishing-docker-image-to-custom-registry-fails.html), and should be fixed together with it.

[2018-11-05 19:21] Misiu commented on #155
@bwateratmsft thank You for the link :)

[2018-11-06 05:51] pritamhere commented on #89
tried this and it fixed my issue after restart. running on windows 10.

[2018-11-06 07:14] mbp commented on #154
Thanks for your reply. We have a mix of both ASP.NET Core and .NET Core Console applications ("background services"), and we would prefer to use the same workflow for both of them. Looking forward to a more unified solution.

[2018-11-06 20:05] rgcooper2 opened #156 "Error message when starting project with SSL"
Whenever SSL is enabled and the project is started, the error message 'Unable to install the ASP.NET Core development certificate tool (dev-certs)." appears.

[2018-11-07 10:33] rgcooper2 opened #157 "Error starting project with docker-compose"
After enabling container orchestrator support and selecting docker compose and linux as per https://docs.microsoft.com/en-us/dotnet/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/visual-studio-tools-for-docker, I get the error below while building the project.

The project runs fine with IIS or as a single docker container but fails when running with docker compose

[2018-11-07 12:10] rmccabe24 commented on #99
I am also having this issue in VS2017.

Taken from Output window (Docker):

[code]

Build succeeded and then the Docker stuff failed.

VS version: 15.8.4

[2018-11-07 12:25] rmccabe24 opened #158 "Docker Compose option for Console Applications as well as Web Apps"
Not sure how to raise a feature request, so will try here.

When I scoffold up a new .net Core Web project in Visual Studio, I get a checkbox for "Enable Docker Support".  I'd like to see this for a .net Core Console application also and that, when checked, I get a dcproj included in my solution for the console application.  This would be handy!  Currently I have to copy my dcproj out of a web app

[2018-11-07 16:01] bwateratmsft commented on #158
We have some of this planned for Visual Studio 2019. There won't be an "Enable Docker support" checkbox, since there's not a second form after the Create Project page (it goes directly from selecting the project type, .NET Core Console, to the opened project, since there's no template selection), but you will be able to right click the project after creation and do Add > Docker Support and/or Add

[2018-11-08 06:49] chetanchougle commented on #91
@nphmuller   Yes i can confirm the same issue on VS 2017 . The containers and images get created but are unable to attach for debugging i tried to restart the Ethernet Nat but no use.

[2018-11-08 11:55] rmccabe24 commented on #158
Excellent!  Looking forward to having it included :)

[2018-11-08 11:56] #158 closed

[2018-11-09 15:11] quasipolynomial commented on #142
After restarting VS, Docker (checking and unchecking shared drives) and Windows multiple times this did not work for me.

I was receiving some HRESULT error in VS, after the above prompt.

I then deleted the vsdbg folder (which is used as a volume), then received a new error in VS saying that docker did not have permissions to use a shared drive, then redid the drive sharing and it worked.

[2018-11-13 22:16] joetherod commented on #121
seems to working in 15.9

[2018-11-14 17:57] laconictae commented on #106
I've spent entirely too much time trying to find a workaround to this... currently my issue is that no volumes I specify in docker-compose.yml or docker-compose.override.yml are actually used when VS fires off `docker run`. I believe it's related to the generated docker-compose files that VS creates, but no amount of editing those or moving them (as suggested by philip-hodgson above) has had any e

[2018-11-14 21:21] sowsan opened #159 "Docker Compose (Orchestration support) WCF service project in VS 2017"
Not finding the "Add --> container orchestration" support in VS 2017 for a project based out of "wcf service". Its showing up for the "wcf application" though. Any idea how can i add orchestration support for a project "wcf service"?

Version : VS 2017 15.8.9 Ent Edition WCF Server Project based out of .NET framework 4.6

[2018-11-17 07:42] #121 closed

[2018-11-20 20:59] haniamr commented on #121
thanks @joetherod for the confirmation!

[2018-11-22 07:56] jitendrasankhla commented on #34
I am having the same error after adding multiple targets as <TargetFrameworks>netcoreapp2.0;Net461</TargetFrameworks>

Here is the logs from my build output >

`Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the NuGet Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
Running

[2018-11-23 04:36] evilroxx commented on #118
same

[2018-11-28 10:19] mbp commented on #154
@bwateratmsft with regards to addressing it soon, can I ask if that means "Add Docker support" (no compose) will also work for non-ASP.NET Core projects?

[2018-11-28 23:32] dbreshears commented on #154
@mbp ,  yes, in a future release we plan to add the same single Dockerfile support to .NET core console projects

[2018-11-30 21:54] haniamr commented on #159
Thanks @sowsan for reporting this. So the project you have is basically a class library (i.e. WCF Service Library), correct?  If that is the case, we do not support class libraries at the moment.

[2018-11-30 22:00] haniamr commented on #157
Thanks @rgcooper2 for reporting this. This looks more like a docker-compose related issue.
One test you can try is to create a simple docker-compose file and dockerfile with the following contents:

docker-compose.yml

[code]
dockerfile
`FROM hello-world as base`

Then open a cmd in that directory and run: `docker-compose up`

Will that work?

[2018-11-30 22:15] haniamr commented on #156
Thanks @rgcooper2 for reporting this. Which .NET Core version are you using for your app? Also an output of `dotnet --info` would be useful.

[2018-12-03 11:47] pasisavolainen commented on #34
Same issue, Enterprise 15.9.3.

I cannot find "Add Docker" anything on solution nor the project. With or without docker-compose.dcproj loaded. The project is a commandline application.

[2018-12-03 16:34] espray commented on #124
FYI: From VS Support -- We have fixed this issue and it's available in VS 15.9 https://visualstudio.microsoft.com/downloads/ and 16.0 upcoming release. Thank you for your feedback!

![image](https://user-images.githubusercontent.com/5826764/49387192-dc13db80-f6e6-11e8-8be7-c9027b908199.png)

[2018-12-05 15:23] bwateratmsft commented on #34
@pasisavolainen , in 15.9.3 for console applications, you need to do right click the project and do Add > Container Orchestrator Support, and choose Docker Compose (or any other orchestrator that's available).

[2018-12-07 08:05] marriottr commented on #99
Everything was good for me until I installed VS2019 V16.0.0 Preview 1.0. Now I get this problem in VS2017 as well and can no longer run any netcore web project.

[2018-12-10 20:55] joergjo opened #160 "How are "docker run" settings determined?"
(Windows 10 1809, VS 2018 15.9.3, .NET Core SDK 2.2.100)

I've retrofitted an existing APS.NET Core 2.1 project (now updated to 2.2) to work with the the Docker Tools in VS 2017 15.9.x, i.e.
* include a plain vanilla Dockerfile like the one the Docker Tools create
* added ` <DockerDefaultTargetOS>Linux</DockerDefaultTargetOS>`to the `.csproj` file
* included the `Microsoft.VisualStudio.Azure.Conta

[2018-12-11 16:13] bwateratmsft commented on #160
@joergjo , are you able to share your CSPROJ file and your Properties\launchSettings.json? Most of the information for the run command is computed from data in those two files. If I had to guess, I suspect the missing piece is in the launchSettings.json.
However, were you unable to do right click project > Add > Docker Support rather than manually configuring those things?

[2018-12-11 20:52] joergjo commented on #160
Case closed. While copying and pasting the two files, I also checked the `launchSettings.json` from my working reference project. It turns out you use the HTTP and SSL port specified in `iisSettings` for `docker run` port publishing. Since my project had been set up way back without HTTPS support, `iisSettings.iisExpress.sslPort` was set to 0. After setting it to a valid port, HTTPS worked immedia

[2018-12-11 21:04] bwateratmsft commented on #160
That makes sense, thanks!

Regarding the version of the Targets NuGet package, it's up to you really. You can upgrade, it should be harmless as long as the major version isn't changed. Worst case, if things do go awry, it's easy to roll back to a stable version.

[2018-12-12 15:00] #160 closed

[2018-12-12 21:43] philipktlin commented on #89
I have the same issue on a testing machine.  When running e2e tests, we will uninstall and install docker (moby) and this issue happens randomly.  I would like to ask, does anyone know what the root cause is.

[2018-12-15 00:16] EriksonBahr commented on #106
@laconictae the volumes are defined on "obj\Docker\docker-compose.vs.debug.g.yml". If you want to override it you need to add this same file content but named as **docker-compose.vs.debug.yml** in your docker-compose project, then you can remove anything you want...

I had a different situation where I also spent quite few time: My project root path was "F:\Git\c#\myProject\" where I realized the

[2018-12-19 12:49] watsonsong commented on #9
I met the similar error, I use the visual studio docker tools, can add some argument to the ENTRYPOINT like this:
ENTRYPOINT ["dotnet", "MyApp.dll", "-e", "CONFIG_"]

But when I start to debug, the arguments I add is missing

[2018-12-19 18:40] Lfwinster commented on #42
I have repeated every steps you listed and it did not work for me.

[2018-12-31 10:20] AndriyChernetskyy commented on #130
This really works! Strange solution but it works. I think the reason is because port could be used by some other tool. Thanks for solution!

[2019-01-04 18:22] gaziqbal commented on #75
Agreed, the workaround is unintuitive. If there are no plans to support this then we should disable the "Application arguments" textbox in the project properties Debug pane.

[2019-01-04 18:24] gaziqbal commented on #75
The workaround is unintuitive and it would be great to address this. Alternately, if there are no plans to support this then please consider disabling the "Application arguments" textbox in the project properties Debug pane.

[2019-01-10 23:48] drewtech commented on #75
I'll add my name to the list of calling to support this in project Debug properties.   We are starting to dockerize many command line apps now, and this limitation is just another thing to remember.

[2019-01-18 10:32] SWarnberg opened #161 "How to set build context in Visual Studio"
We have s solution with a directory structure as this (partially):

[code]
When building from command-line and VSTS, the build context is set to \Source, like:

`docker build . -f Web\WebApp1\WebApp1\Dockerfile`

This works well. However, when trying to debug with Docker, or right-click the Dockerfile and select "Build Docker Image", Visual Studio sends it's own build context. It's not the directo

[2019-01-18 16:36] bwateratmsft commented on #161
Hey @SWarnberg,

Yes, this is possible! You can set a property in your WebApp1.csproj, DockerfileContext, to accomplish this. For example, with the directory structure you have:

[code]

Regrettably the documentation around properties like this is lacking, and we are working on that.

[2019-01-23 01:51] Zenexer commented on #99
Can confirm this error appears if VS2019 preview is installed.  Can't find a way around it.  I think when I run `dotnet`, it's the 2.2 preview that's being invoked, and of course that cert is already trusted.

[2019-01-23 02:11] Zenexer commented on #99
I've uninstalled VS2019, uninstalled every version of .NET Core SDK, reinstalled the latest stable verison of .NET Core SDK, and still I get this error.  I can't figure out the issue.  The certificate gets installed just fine--Visual Studio gives an error regardless.  Even if it's already installed, nope, error.

[2019-01-23 06:33] marriottr commented on #99
Yes with 2019  preview installed.

On Wed, 23 Jan 2019, 01:51 Paul Buonopane <notifications@github.com wrote:

[2019-01-23 07:56] alandball commented on #38
@rajkumar42 Hi, I'm still finding this to be an issue with the latest update of VS2017(15.9.5).

To fix this, I separated the  DownloadAndExtract function in the script to Download(), and Extract(). '-s    Skips any steps which requires downloading from the internet.' This does not indicate that it will also skip the install. I have added an additional parameter for skip install.

[2019-01-23 17:14] bwateratmsft commented on #93
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:14] #93 closed

[2019-01-23 17:15] bwateratmsft commented on #101
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:15] #101 closed

[2019-01-23 17:15] bwateratmsft commented on #96
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:15] #96 closed

[2019-01-23 17:15] bwateratmsft commented on #92
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:15] #92 closed

[2019-01-23 17:15] bwateratmsft commented on #90
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:15] #90 closed

[2019-01-23 17:15] bwateratmsft commented on #78
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:15] #78 closed

[2019-01-23 17:15] bwateratmsft commented on #54
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:16] bwateratmsft commented on #33
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:16] #33 closed

[2019-01-23 17:17] bwateratmsft commented on #77
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:17] #77 closed

[2019-01-23 17:17] bwateratmsft commented on #116
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:17] bwateratmsft commented on #115
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:17] #115 closed

[2019-01-23 17:18] bwateratmsft commented on #114
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #114 closed

[2019-01-23 17:18] bwateratmsft commented on #113
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #113 closed

[2019-01-23 17:18] bwateratmsft commented on #112
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #112 closed

[2019-01-23 17:18] bwateratmsft commented on #111
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] bwateratmsft commented on #110
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #110 closed

[2019-01-23 17:18] bwateratmsft commented on #109
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #109 closed

[2019-01-23 17:18] bwateratmsft commented on #103
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #103 closed

[2019-01-23 17:18] bwateratmsft commented on #125
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #125 closed

[2019-01-23 17:18] bwateratmsft commented on #120
This issue is being closed as an inactive issue. If you wish to keep it active, please let us know, we are happy to take a look!

[2019-01-23 17:18] #120 closed

[2019-01-23 17:29] cilerler commented on #111
I appreciate if you may open it back since I'm still hoping for a response... 😇 Thanks in advance

[2019-01-23 17:33] bwateratmsft commented on #111
Hey @cilerler , I'm sorry this wasn't looked at earlier. For this you wouldn't need a build number in the Dockerfile. The "dotnet build" takes that csproj, so it would include any properties in it already, including the build number. No changes should be needed to the dockerfile.

[2019-01-23 18:44] cilerler commented on #111
@bwateratmsft thanks for the reply.  Unfortunately it sets to `0.0.0` instead of the number I would like to provide.

[2019-01-23 21:10] bwateratmsft commented on #161
I'll mark this issue as closed now, please let us know if you think it should be reopened.

[2019-01-23 21:10] #161 closed

[2019-01-23 23:42] tkoestler commented on #33
It does seem that whatever the cuase of this was it has been fixed. I just happened to try. It again yesterday and it worked. Of course the same breakpoints hit on all the instances so it’s a little hard to debug this way. I recommend running containers outside VS and using DebugHostAdapter.Launch from multiple instances of VS for a better experience.

[2019-01-23 23:43] smalgin commented on #33
Nice! I will try.

On Wed, Jan 23, 2019, 3:42 PM tkoestler <notifications@github.com wrote:

[2019-01-24 03:55] bwateratmsft commented on #111
@cilerler , where does the true value itself come from? It seems like this should work with the default-scaffolded "dotnet build" (i.e., without having /p:BuildNumber) command in the Dockerfile, as long as an actual value can be obtained either from the .csproj or an accessible .props file.

[2019-01-24 04:58] cilerler commented on #111
it can not. Consider a build system _(such as VSTS or lets call it SuperCI for the sake of not talking about how VSTS works)_ has a special way to generate a special number that needs to be set as build number.  It is not known at development time, it is at build time on a CI server and no developer involves. Project file knows how to applied it IF it is provided as an argument. If that parameter

[2019-01-24 05:56] tobecon commented on #37
I am Chinese Developer . and I have this problem also .
eventually . I Found the possible reason .
1. the VS will First execute a ps1 script which located in  %userprofile%\AppData\Local\Temp\GetVsDbg.ps1
2. then I try to debug this ps1 Script File in vs code
3. and I found the Script will download a zip file  which named https://vsdebugger.azureedge.net/vsdbg-16-0-11220-2/vsdbg-linux-x64.zip
4. B

[2019-01-24 05:59] 1015450578 commented on #37
https://developercommunity.visualstudio.com/content/problem/222255/docker%E4%B8%8D%E8%83%BD%E6%AD%A3%E5%B8%B8%E5%90%AF%E5%8A%A8%E8%B0%83%E8%AF%95.html

The solution may works for you

[2019-01-24 09:27] mlassbo opened #162 "Developer certificate not found when project file name differs from project assembly name"
The developer certificate file that is generated by DockerTools is named after the Web/Api-project file name, e.g. Api.csproj generates a certificate with filename Api.pfx.

When Kestrel tries to find the developer certificate [it assumes the certificate file name is HostingEnvironment.ApplicationName + ".pfx"](https://github.com/aspnet/AspNetCore/blob/68cc5e7846240bacc146854dfc6a175e30ff0f60/src/

[2019-01-24 15:57] bwateratmsft commented on #111
That makes sense, since VSTS/others would set it as an environment variable, but that variable isn't inherently available in the Docker container.  I'll reopen this issue and we can examine it as a possible enhancement.

[2019-01-25 22:02] Zenexer commented on #99
I've opened a bug report in the Visual Studio Developer Community regarding side-by-side installation of VS15 and VS16: https://developercommunity.visualstudio.com/content/problem/435856/side-by-side-installation-with-visual-studio-2019.html

[2019-01-25 22:17] Zenexer commented on #99
First attempt the following:

1. Right-click on your ASP.NET Core project in Solution Explorer.
2. Choose Manage User Secrets.
3. secrets.json will open.  There should be a `Kestrel:Certificates:Development:Password` key.  If there isn't, you found the culprit.  Save your project, close secrets.json, and run the project.  The entry should now be added to secrets.json automatically.

If that doesn'

[2019-01-29 15:59] bwateratmsft commented on #131
@JoshSchreuder Yes, we have begun making some of the needed changes to support Alpine, including that change to the kill command.  Beginning in VS 2019 Preview 3, which will release soon, we'll also have the changes needed to use the correct debugger for Alpine images.

[2019-01-31 21:05] hammypants commented on #98
@haniamr This is an issue in VS 15.9.6 when using the same valid format for build arguments.

Build:
[code]
[code]

In `docker-compose.yml`
[code]
The `args` part of the file does not support said format. I would [expect to be able to use it](https://docs.docker.com/compose/compose-file/#args).

Should I make this a new issue?

[2019-02-01 12:21] H286424 commented on #130
I am not able to build my .net core 2.1 app, getting same issue "The DOCKER_REGISTRY variable is not set. Defaulting to a blank string."
Do we need to set the docker_Registry variable in system environment variables?

[2019-02-07 16:35] bwateratmsft commented on #131
I'm marking this fixed now since [VS2019 Preview 3](https://visualstudio.microsoft.com/vs/preview/) should be available very soon. You can view some more information about how to use the features in the  solution for the [Developer Community ticket](https://developercommunity.visualstudio.com/content/problem/256756/new-container-tools-in-158-cant-debug-alpine-docke.html).

[2019-02-07 16:35] #131 closed

[2019-02-13 22:38] pthelusma opened #163 "Unable to load symbols when debugging via docker"
With an existing dotnet core 2.2 web api application, I am unable to debug the application via Docker in Visual Studio. I am able to do this with a brand new project without an issue. The application runs without an error, but I am noticing that when loading the dll produced by the project, the debug window shows that the dll was built without symbols, but I am not sure how to proceed. I have upgr

[2019-02-17 13:59] TheRealVira commented on #37
I have been getting the same debugging Error: "Cannot find container to attach, check if the correct container is running or not."

Have been following the steps of @joye-ramone [comment](https://github.com/Microsoft/DockerTools/issues/37#issuecomment-398798208) and get the following a very long output log (the las few lines):

[code]

[2019-02-17 14:01] TheRealVira commented on #37
Like, it does not even try to run it on docker..

[2019-02-17 14:18] TheRealVira commented on #37
However, starting `docker build - < Dockerfile` directly inside CMD does work...

[2019-02-18 10:26] watsonsong commented on #9
So the `entrypoint` is replaced by the `docker-compose.vs.debug.g.yml` to `tail -f /dev/null`, it means when I launch by docker-compose in visual studio, it actually not run on docker at all?

[2019-02-19 16:06] bwateratmsft commented on #9
@watsonsong When we launch the container in VS, we use that "tail -f /dev/null" command as a way to keep the container alive indefinitely.  The app really is running in the container, but it is done via a "docker exec" call rather than the entrypoint.  In the case of F5 (debug), we docker exec VSDBG and instruct it to run the app; in the case of Ctrl+F5 (launch w/o debug), we docker exec the app d

[2019-02-19 19:35] julielerman opened #164 "An error occurred while attempting to build Docker image."
latest VS2017: 15.9.7
ASP.NET and Web Tools 2017: 15.9.04012.0
Docker Desktop 2.0.0.3 (31259) set to Windows Containers
Docker is running
Hyper-V is on

Create new project from ASP.NET Core 2.2 API template with Enable Docker Support checked

This is the default DockerFile code:

[code]
I can debug with WebApplication1 targeted. i can debug with IIS Express targeted. But with Docker targeted I get

[2019-02-19 19:44] bwateratmsft commented on #164
Hey @julielerman, this Github repo is for the Visual Studio tools for Docker. It looks like this issue is with Docker Desktop, although, different from the one you linked. Can you create an issue there in [https://github.com/docker/for-win](https://github.com/docker/for-win)?

[2019-02-19 19:44] #164 closed

[2019-02-19 19:50] julielerman commented on #164
Thanks. Looks like even though I was logged into the docker for destktop app, I had to log in via the CLI

[2019-02-20 02:49] watsonsong commented on #9
@bwateratmsft So is there a way I can modity the docker-compose.vs.debug.yml and edit the command line argument for my app?

[2019-02-20 08:56] vpereira01 opened #165 "Added a change/release log to Microsoft.VisualStudio.Azure.Containers.Tools.Targets"
Hi,

Can you please add some kind of change/release log to the Microsoft.VisualStudio.Azure.Containers.Tools.Targets package?

I was just checking my solution for outdated packages and found I have an 1.0.2xxxx version instaled and now a 1.4.4 is available. Checking the NuGet galleray package provides no information on what has changed and how is this package version related/dependent on the Visua

[2019-02-20 16:24] bwateratmsft commented on #9
@haniamr Do you know of a way to do that?

[2019-02-21 08:26] SychevIgor commented on #121
@haniamr so, as I understood- there is no plans to add mentioned improvements to vs2017, right?
agree, dev should use the latest/greatest tools, but there are 2 problems. licencing and vs2019 not yet GA.

[2019-02-21 11:25] SychevIgor commented on #99
The same issue for me:
But it's not working for a one project, but if I will a new project- it will work.
Running under administrator- didn't solve the issue.
I had never try vs 2019 previews or rtm on this machine.

Microsoft Visual Studio Professional 2017
Version 15.9.7
VisualStudio.15.Release/15.9.7+28307.423
Microsoft .NET Framework
Version 4.7.03190

Installed Version: Professional

Applicat

[2019-02-23 14:38] rcervantes commented on #104
@STDGA hey impressive, I'm really interested about see that implementation, I need to customize my docker implementation too, I don't want to install and configure Kubernetes just for a memory limit handling in non-swarm scenarios, do you have any public documentation about that? or can you share with me the changes you performed? thank you.

[2019-02-25 12:08] sameer-awate commented on #130
In Docker Settings -> Network, I switched the DNS Server setting to "Fixed" (left it default to 8.8.8.8) and it worked for me.

![image](https://user-images.githubusercontent.com/28428838/53336349-0eb72400-3924-11e9-975c-42ecf22e6b10.png)

[2019-02-26 14:33] chrisdpratt commented on #123
@JohnGalt1717 I ran into a similar issue when I was playing around and switched the project dropdown to a specific project name and ran it under IIS Express. Apparently, doing this switches the startup project to that project, which then left me with no option to get back to `docker-compose`. Eventually, I found that setting the `docker-compose` project back as the Startup Project manually restore

[2019-02-27 18:38] los93sol commented on #60
Are we just pretending like this isn't a real issue and going to continue ignoring it for another two years?  This issue is rampant....just search google for it and you find tons of people with the same issue.  Somebody please acknowledge this and fix it

[2019-02-27 20:26] dbreshears commented on #60
Thanks for  bringing this to our attention.    We are bumping the priority and working on a fix.

[2019-03-01 08:36] eiximenis opened #166 "Error when starting projects from dcproj"
I have a development machine with:

* Visual Studio 2017
* Visual Studio 2019 Preview 4
* Visual 2019 RC

All of three updated to the latest version with all extensions updated

I have a solution with 4 projects and a docker-compose.yml file. Then I added a dcproj (using "Add Container orchestration" menu from one of the 4 projects). Dcproj was generated and added succesfully to the app and my pre

[2019-03-01 19:32] bwateratmsft commented on #166
Hey @eiximenis , it looks like this user is seeing the [same issue](https://developercommunity.visualstudio.com/content/problem/470559/start-debug-on-docker-compose-gives-error-microsof.html). We are investigating.

[2019-03-05 05:49] distantcam commented on #34
I'm also having this problem. I've created a minimal reproduction here - https://github.com/distantcam/MultiTargetDockerTest

Building in VS 15.9.7 still returns the same error. `The target "DockerResolveAppType" does not exist in the project.`

[2019-03-05 21:11] cjbush commented on #166
I'm also experiencing the same issue. Thanks for looking into it @bwateratmsft!

[2019-03-05 23:13] dbreshears commented on #166
This is a bug in our Visual Studio Tools for Kubernetes extension for both VS2017 and VS2019.  We have identified a fix and in the process of validating, integrating into VS 2019 RC.2,  and in the case of VS 2017 then uploading ot the VS marketplace.  The ETA for this fix is likely 3/12.

[2019-03-06 14:46] cjbush commented on #166
Great news @dbreshears. Thanks for the hard work!

[2019-03-06 16:26] danielwgrech commented on #99
It's happening on my machine and also on 2 of my other colleagues'.  We have a .Net Core 2.2 application, and the issue is only when we run it in Docker through Visual Studio.  We've deleted the "localhost" certificate from both the "Trusted Root Certification Authorities" and "Personal" folders.  Visual Studio then prompts to install and trust the certificates, and it seems to do so successfully

[2019-03-07 16:46] da1rren commented on #141
This looks like a duplicate of #477 and is still sadly an issue :(

[2019-03-07 16:53] dbreshears commented on #141
@da1rren ,  #477 where?

[2019-03-07 20:13] da1rren commented on #141
@dbreshears Sorry #124 was looking at our internal tracking.  Though it still seems to be an issue in VS 15.9.8.

I've recreated it [here](https://github.com/da1rren/ValueCannotBeNullStream)

[2019-03-07 23:13] dbreshears commented on #141
@da1rren ,  sorry for the confusion on this.  We have not added support for Azure Functions in the Container tooling yet.   We plan to investigate this and hope to provide support for this in a future VS 2019 update.

[2019-03-07 23:29] dbreshears commented on #124
@espray,  @da1rren  -  sorry for the confusion via the developer community post,  we had another issue that had a similar error.  Our tooling does not support Azure Functions at this time but it is on our backlog and hope to start investigating this soon as we would like to provide support.

[2019-03-08 09:20] #141 closed

[2019-03-10 00:23] Rudithus commented on #37
I've started encountering this problem after downgrading my compose file to 2.1

[2019-03-11 23:16] Ryukote opened #167 "Generated Dockerfile is placed in wrong directory"
I don't know if I am in a right place or not, so if I am in a wrong repository please tell me a repository where to submit this issue.

When I add Docker support for my project, Visual Studio generates Dockerfile which is placed in a wrong directory.

In a generated Dockerfile there is a line:

`COPY TestProject/TestProject.csproj TestProject/`

which will try to copy csproj resource from that dir

[2019-03-12 00:46] Leon99 opened #168 "Include instructions for accessing private NuGet repo"
See https://github.com/Microsoft/artifacts-credprovider/issues/63#issuecomment-471796987. It would be good if DockerTools analyzed the project and automatically generated the snippet to enable connecting to private repos.

[2019-03-12 01:49] Leon99 opened #169 "Restore/build happens twice"
It looks like restore/build happen twice, first time initiated by
[code]
and then again by ```RUN dotnet publish```
Is there a way to avoid doing it twice so our CI build finish quicker?

[2019-03-12 13:24] bwateratmsft commented on #168
While it is not a complete solution, if there is a "NuGet.config" file present in alongside the project file when you add Docker support, it will include it in the Dockerfile COPY statements.

[2019-03-12 13:26] bwateratmsft commented on #167
The reason it is done this way is because the Dockerfile build context is one level up from the project, at the solution file level. If you alter your "docker build" command that you're using manually to use that one-level-up build context, it will work like it does in VS.

[2019-03-12 13:34] Ryukote commented on #167
I got confused from your answer :)
I didn't understand if what I have noticed is valid or not.
The reason I am sometimes doing it manually is because I need to enter environment variable values.
From what I know, I can't do that from Visual Studio.
I mean, I could by modifying Dockerfile and hardcode the values in there, but I want to have image with different values (scenarios), so that is why it

[2019-03-12 13:40] bwateratmsft commented on #169
@Leon99, is it actually restoring and building twice? When I tested it "says" it's restoring again, but it's "skipped" since everything is already restored, and it doesn't mention anything about building--it's just publishing to the /app directory.

You might try removing the "dotnet restore" and "dotnet build" commands from the Dockerfile, however, the reason we separate the three is so that Dock

[2019-03-12 13:43] bwateratmsft commented on #167
That makes sense. I think that .env files are supported. In an upcoming version of VS 2019 (unfortunately, not in 16.0, hopefully in 16.1 though), we are adding support for environment variables to be given to the container from the Debug launch profile as well.

[2019-03-12 13:46] Ryukote commented on #167
That would be awesome if it will be supported by default in VS 2019. I would have to research about .env files, cause if it is not supported, I will just have to be annoyed till VS 2019 comes out.

[2019-03-12 23:43] Leon99 commented on #168
Thanks @bwateratmsft, good to know. Does it work if NuGet.config is located in the parent (solution's) folder (which is very typical)?

[2019-03-13 13:06] bwateratmsft commented on #168
@Leon99 The code to add the NuGet.config to the COPY statements won't look up a level, however, you can manually add a COPY statement here that takes the NuGet.config from the SLN folder and place it alongside the CSPROJ (so that the dotnet restore inside the container can use it).

For example:
`COPY ["MyWebApp/MyWebApp.csproj", "MyWebApp/"]`
`COPY ["NuGet.config", "MyWebApp/"]`

[2019-03-14 16:42] hanxiao1982 opened #170 "Windows container fails to run when using isolation=process"
Now both Windows Client OS and Windows Server OS are supporting the isolation=process on Docker for Windows. But after switch default isolation to process, VS 2017 docker tools fails to start debug and output error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CTP1002	An error occurred while attempting to run Docker container.	HelloWorld	C:\Users\hanxiao\.nuget\packages\mic

[2019-03-15 08:58] Leon99 commented on #169
@bwateratmsft I tried `RUN dotnet publish ... --no-build` and CI build resulted in an error, which made me think that it actually needs to build again for some reason. I tried removing dotnet restore/build as well, which also ended with another error.

[2019-03-15 12:38] bwateratmsft commented on #169
@Leon99 If possible can you share your dockerfile? You can change names / redact as needed.

[2019-03-15 19:30] renatogbp commented on #130
This happened to me, and I noticed when I removed an image from my docker-compose file I've forgot to remove it from other containers' "depends_on"

[2019-03-16 14:35] brunobertechini commented on #27
+1. Very low feedback from docker tools for Visual Studio. This should be given more attention (the whole project actually) due to the fact this will be used more and more.

[2019-03-16 15:10] brunobertechini opened #171 "How docker compose project name is generated"
Hello, I would like to know how this parameter (compose project name) is generated.

-p dockercompose12415008673026106123

Also, is it stored/configured some how?

[2019-03-18 13:17] bwateratmsft commented on #171
The project name is composed of two parts.  In your example,
dockercompose : this is the file name without extension of the dcproj (the dash is removed--see below)
12415008673026106123: this is a non-cryptographic hash of the workspace directory; i.e. the location of the dcproj

The two are concatenated, and then non-alphanumeric characters (like the dash) are removed.

This value is not configura

[2019-03-18 20:03] abhishek-raj opened #172 "How do I add Certificate pfx to my Image?"
I want to add an certificate pfx to my Docker Image which authenticates with Azure Keyvault to get some secret values. I imported the certificate using DockerFile into the LocalMachine/My but my dotnet MVC application is not able to access it. It shows a `Keyset does not exist` error. The problem is probably of permissions as the IIS runs with some other Service Account which might not have access

[2019-03-19 00:16] BigMorty commented on #27
Thanks @brunobertechini for you feedback. My name is Mike Morton and I have recently taken over as PM for the Visual Studio container tools. I just checked VS2017 (15.9.8) and noticed when I F5 to start debugging an ASP.NET web app or Console app (both .NET core and full Fx) that we do output the command used to start the container. Are you not seeing this message in the Output window? Specificall

[2019-03-19 00:23] sgreenmsft commented on #167
Instead of using "docker build ." to build your dockerfile, the command would be:
"docker build -f Dockerfile .."

[2019-03-19 06:18] Ryukote commented on #167
What? We were not talking about docker build syntax. And no one said "docker build ."

[2019-03-19 16:53] sgreenmsft commented on #167
You're saying that you're moving the Dockerfile from one folder to another and then running docker build, correct?  If so, that's not necessary.  Just provide the solution directory as the build context when calling docker build (e.g. replace the "." with "..")

[2019-03-19 20:04] Ryukote commented on #167
Aha. Now I get you :) it never crossed my mind to actually place one more dot.

[2019-03-20 14:01] IainStevenson commented on #166
Just bumped into this, TY.

[2019-03-20 14:40] sgreenmsft commented on #166
We've shipped an updated VS Tools for Kubernetes extension for VS 2017 and also included the fix in VS 2019 RC.2.

[2019-03-20 14:40] #166 closed

[2019-03-20 18:00] quiettimbo opened #173 "Debugging Docker Containers not working with VS for Mac"
I ran through the example here: https://github.com/Microsoft/vs4mac-labs/tree/master/Docker/Getting-Started and things seem to work fine (once I had added the NuGetFallbackFolder fileshare) except for the breakpoints.
If I set a breakpoint it seems to hit - the request does not complete but Visual Studio is unaffected.  There is no notification that the breakpoint has hit or any obvious way to con

[2019-03-22 10:30] Ryukote commented on #167
From my point of view this issue can be closed, since I can use 2 dots instead of 1 dot to build image that is for my case.

[2019-03-22 15:20] #167 closed

[2019-03-22 15:23] sgreenmsft commented on #173
Thanks for bringing this to our attention.  We've found the source of the problem and a fix for this issue should be released later today.  VS for Mac will automatically download the fix for the broken component (vsdbg) after a day or so, but if you'd like to get it faster then you can delete the .vsdbg folder from your user profile (~/.vsdbg).

[2019-03-25 12:16] bwateratmsft commented on #173
@sgreenmsft looks like this is the same as https://developercommunity.visualstudio.com/content/problem/499991/unable-to-debug.html?

[2019-03-25 20:24] grmallon commented on #99
I ran into this for the past few hours following an update to W10 1809 from W10 build 10240. While I was eventually able to get an app deployed, it still wasn't trusting the dev cert.

Upon a rollback to 10240, things are working properly in a non-docker Core 2.2 web app. Will need to try updating to 1709 or 1803 and see how things go.

[2019-03-26 22:03] dbreshears commented on #60
@los93sol. Can you please confirm whether this is fixed 15.9.10 servicing update when you have a moment

[2019-03-27 13:51] McMlok commented on #60
I update my VS2017 and try to debug solution for several times and everything works.

I also update VS2019 to latest preview and same old project works.

I try new template from VS2019 but first I need to arange new proxy for Microsoft container registry in our Nexus server.

[2019-03-28 10:34] RichyP7 commented on #24
Is it possible that this is still not working for windows containers? I attached to my containers powershell and saw the file with the content exists but the configuration provider were searching in some other place like C:// app
My volume is mapped in

      - ${APPDATA}/ASP.NET/Https:C:\Users\ContainerUser\AppData\Roaming\ASP.NET\Https:ro
but the config data wasn´t loaded even if I used builder.

[2019-03-28 12:40] bwateratmsft commented on #24
@RichyP7 Yes, most likely this is still occurring. We closed many issues that hadn't been updated in a while, but we're happy to reopen those that are still relevant.

[2019-03-28 14:08] tj-cappelletti opened #174 "CreateComposeVsGeneratedFiles task fails with error "Value cannot be null""
I'm working on setting up a new project to use Docker Compose to deploy a web app and a database to two different containers for local development. When I save the compose file Visual Studio picks up the change and immediately runs `docker-compose` and it runs successfully. My images get created and I'm able to start them from the command line without issue. The second I try to build the solution

[2019-03-28 15:48] bwateratmsft commented on #174
@tj-cappelletti Thanks for all the details! I'm going to try this out and see what I can find.

[2019-03-28 17:08] bwateratmsft commented on #174
@tj-cappelletti, we did some investigating and have a hunch. Is there any kind of project file (anything *proj) alongside the Database' Dockerfile (Tsa.CodingChallenge.Submissions.Database\Dockerfile)? For example, a class library with database helpers?

One of the things our code is trying to do is figure out if there's a project associated with any given Dockerfile referenced by the docker-compo

[2019-03-28 17:54] tj-cappelletti commented on #174
@bwateratmsft your hunch was correct, the database `dockerfile` is sitting next to a `sqlproj` file. I moved the file to separate directory and now everything works as expected. Thanks for looking into it!

[2019-03-28 19:59] bwateratmsft commented on #174
@tj-cappelletti Glad to hear it worked. I'll close this item, meanwhile I have filed an item to our internal bug database to work on that unhelpful error message.

[2019-03-28 19:59] #174 closed

[2019-04-01 06:09] Leon99 commented on #169
@bwateratmsft we decided to postpone migration to Docker for now, but those were unaltered docker files generated by the latest VS Docker Tools.

[2019-04-01 21:19] spottedmahn commented on #91
Looks like the [same issue here in Dev Community](https://developercommunity.visualstudio.com/content/problem/223526/unable-to-start-debugging-for-docker-project-that.html), FYI.

[2019-04-04 15:34] jakubsuchybio opened #175 "Allow dockerizing full .NET Framework Console App"
Hi,
it is kinda weird, that we are allowed to create docker-compose from UI for .NET Framework Console App, but we are not allowed to just dockerize it.

Having support to run just that one Console app with Debugger would be much appreciated.

Thanks!

[2019-04-04 17:06] mikesigs opened #176 "Cannot disable Thread Exit Messages in Output window"
This issue affects both Visual Studio 2017 and 2019.

When running our application with docker-compose, the Output window get's filled with `The thread 1234 has exited with code 0 (0x0).` messages. Disabling Thread Exit Messages does not seem to help. Well, not entirely. It does turn off _some_ of the thread exit messages, but not all.

Before disabling Thread Exit Messages

[code]

After disablin

[2019-04-04 21:55] dbreshears commented on #175
Thank you for the feedback as we do rely on it to help prioritize features. We did investigate enabling this but due to the architecture of the C# .Net Framework project system the amount of effort is quite large. As you likely know, we do support this for .NET Core console projects.

[2019-04-05 07:45] odin88 commented on #134
Any update on this ?

[2019-04-05 14:35] gregg-miskelly commented on #176
Can you grab a log of the debugger messages being exchanged while this is happening? https://github.com/Microsoft/VSDebugAdapterHost/wiki/Logging

[2019-04-05 17:35] mikesigs commented on #176
I created a simple console app to reproduce the issue.
https://github.com/mikesigs/CannotDisableThreadExitMessages

It's very straightfoward. I created a .NET Core Console app using VS 2019.

[code]

I captured two log files. One with the *Thread Exit Messages* enabled, and one with it disabled. The log files look the same, although the output in the console was not. When *Thread Exit Messages* ar

[2019-04-05 18:23] sgreenmsft commented on #149
To address this we will add these two settings to the dockerignore file that VS generates:
**/*.dbmdl
**/*.jfm

[2019-04-05 19:45] gregg-miskelly commented on #176
Thanks @mikesigs I see the problem. This is an issue with the cross-platform .NET Core debugger (which my team owns). I will try to fix this for our next version. It updates out-of-band and automatically, so you should see the fix when we next ship.

[2019-04-08 19:27] mikesigs commented on #176
Thanks @gregg-miskelly! Looking forward to it :)

Should this issue be moved to the .NET Core Debugger repo?

[2019-04-08 20:15] gregg-miskelly commented on #176
If there was one, yes. But the .NET Core Debugger is a closed source product. So there isn't really a good place to leave this.

[2019-04-09 14:48] pleandre opened #177 "Windows 7 - Docker Toolbox and Virtualbox - Unable to mount volume"
Hello All,

When I try to run the sample ASP.Net Core Docker application with Visual Studio plugin on Windows 7 / Docker Toolbox / Virtual Box, Docker seems unable to mount the volume.

Build output:
[code]

I have shared my C drive by changing the settings of my Docker machine in Virtual Box.
After that, I can make the command above work if I replace all the volume paths
C:\Workspace\....
by /c/W

[2019-04-09 16:30] yamac-kurtulus opened #178 "Is it possible to change default directory (obj/docker/publish) to copy files?"
I am working on a multi project solution, where all projects run inside a docker container using the docker-compose file. This worked fine, however I would like to separate my build context from the rest of my code, as it is too big.

Therefore I have created a directory called `Docker` for each project and placed Dockerfiles in this directory. I want Visual Studio to output to this directory rath

[2019-04-09 16:39] sgreenmsft commented on #178
Are all of the projects ASP.NET (.NET Framework)?

[2019-04-09 16:43] yamac-kurtulus commented on #178
.Net-core

[2019-04-09 16:50] sgreenmsft commented on #177
Hi pleandre.  Unfortunately at this time the VS container tools require Docker Desktop.

I suppose as an (extremely ugly) workaround for fixing these paths you could create a wrapper for docker.exe -- that is, write a docker.bat or a docker.exe that takes the incoming arguments, finds the Windows-style paths, converts them to Unix-style, and then calls the real docker.exe.  You could then put that

[2019-04-09 17:02] sgreenmsft commented on #178
Thanks.  I was a bit uncertain regarding .NET Core or .NET Framework because the obj\docker\publish directory isn't used for .NET Core except for projects created by old versions of Visual Studio.  (I don't recall exactly but I think .NET Core projects stopped using obj\docker\publish around the time of VS2017 v15.4).

The general guidance for a large build context is to ensure you have a dockerig

[2019-04-09 17:27] yamac-kurtulus commented on #178
Thanks for explanation. My project still uses obj/docker/publish directory though. How do the new projects handle the source files then?

Also, I was able to change the context by modifying the docker-compose.yml file. E.g.
[code]
 It finds the context and the docker file in this case, but I need to move my assemblies and wwwroot to a directory in `Admin/Admin/Docker` So the context remains the sa

[2019-04-09 19:53] sgreenmsft commented on #178
Could you verify that the .dockerignore file has been placed in the root of the build context?

[2019-04-09 21:19] yamac-kurtulus commented on #178
It is there indeed
[code]

[2019-04-09 21:37] yamac-kurtulus commented on #178
Shouldn't I use publish by the way? The Publish directory and release directory have vast size difference.

[2019-04-09 22:35] sgreenmsft commented on #178
Hmm.  Your scenario isn't quite clear to me.  Would you be able to share the full paths of these files in your solution?

sln, csproj, dcproj, docker-compose.yml, dockerfile, dockerignore

[2019-04-09 23:35] yamac-kurtulus commented on #178
Right. Let me try it.
[code]
Now here's the compose file:
[code]
Here is Dockerfile for each project. Oh by the way I work on Windows 10 and our Servers are WS2016 without Fall creator's update. These were auto generated i believe.
[code]

On CI pipeline, i build each project manually with dotnet publish -o $projectWorkDir/obj/Docker/publish . I think best practice is to build inside container to

[2019-04-10 07:12] distantcam commented on #34
Still having this problem with VS 2019

[2019-04-10 09:19] pleandre commented on #177
Hi sgreenmsft,

Thanks a lot for your suggestion, I will try to create a wrapper.
In the future it would be nice to have a way to switch from Windows to Linux path style, maybe in the  "Container.targets" file provided by VS Container tool using a MSBuild parameter.

e.g. adding something similar to bellow code to Container.targets
<PropertyGroup Condition=" '$(DockerPathFormat)' == 'Unix' ">

[2019-04-10 13:06] pleandre commented on #177
Hi sgreenmsft,

Thanks a lot for your suggestion, I will try to create a wrapper.
In the future it would be nice to have a way to switch from Windows to Linux path style, maybe in the  "Container.targets".

e.g. adding something similar to bellow code to Container.targets
[code]
Or add an option to task ```Microsoft.VisualStudio.Containers.Tools.Shared.PrepareForLaunch```

I just wrote the code ab

[2019-04-10 15:10] bwateratmsft commented on #34
Hey @distantcam , unfortunately it isn't supported to target .NET framework and .NET core at once, due to incompatibilities in the project system.

[2019-04-10 15:23] distantcam commented on #34
@bwateratmsft Do you mean it's not supported at all, or just with the Docker tooling? Because if it's just not supported at all you might want to communicate that to the thousands of projects that are already using it.

https://github.com/search?l=XML&q=TargetFrameworks&type=Code

[2019-04-10 15:25] bwateratmsft commented on #34
@distantcam Sorry for the ambiguity, it's not supported just with the Docker tooling.

[2019-04-11 07:22] RichyP7 commented on #24
https://developercommunity.visualstudio.com/content/problem/508586/user-secrets-arent-loaded-in-docker-compose-for-wi.html
for windows server sac 2016 nanoserver image  this solution is working. But it seems to depend on the image

[2019-04-11 09:04] valeriob opened #179 "Alpine 3.9 AspNetCore 2.2.4 "The debug adapter exited unexpectedly""
Hi,
to reproduce the problem, create an aspnetcore application targeting 2.2, add docker support, switch to apline images FROM mcr.microsoft.com/dotnet/core/aspnet:2.2-alpine3.9 AS base

put a break point, when the process reaches the breakpoint it crashes, if you do not put any breakpoint it works.

[2019-04-11 15:45] bwateratmsft commented on #24
@RichyP7 That's correct. We're putting in changes for a future release that will map the UserSecrets folder for all ASP.NET Core web apps, however, since SAC2016 is different (ContainerAdministrator instead of ContainerUser), it will require the manual mapping in the Developer Community post you linked.

Future versions of Windows containers *should* work without needing any manual mapping.

[2019-04-11 15:45] sgreenmsft commented on #178
A couple of thoughts:
1) You'll not be able to move the dockerfile to another folder. It must remain beside the csproj for its associated project.
2) You can modify the build context to be any directory you'd like, however it's unclear to me why that would impact build performance, as the dockerignore file at the root of the build context excludes every file except the publish directory.
3) For CI

[2019-04-11 15:47] sgreenmsft commented on #179
Support for debugging alpine images is included in VS2019.  In VS2017 there are some manual steps and workarounds required to get alpine debugging working.

@bwateratmsft - Could you provide the necessary steps for VS2017?

[2019-04-11 15:58] valeriob commented on #179
oh i'm sorry, i'm on visual studio 16.0.1.
But rebuilding the image made it work, sorry for bothering.

[2019-04-11 15:58] #179 closed

[2019-04-11 16:08] bwateratmsft commented on #179
@sgreenmsft @valeriob I'll provide the VS2017 steps for posterity.

1. Change your runtime and SDK image names to Alpine ones, i.e. from `microsoft/dotnet:2.1-aspnetcore-runtime` to `mcr.microsoft.com/dotnet/core/aspnet:2.1-alpine`, and `microsoft/dotnet:2.1-sdk` to `mcr.microsoft.com/dotnet/core/sdk:2.1-alpine`. (@valeriob has already done this)
2. In the project file or NuGet package manager, en

[2019-04-11 16:13] bwateratmsft commented on #131
I'm linking some steps that may work for VS2017 although they are not guaranteed (and it is not officially supported):  https://github.com/Microsoft/DockerTools/issues/179#issuecomment-482178661

[2019-04-11 20:56] bwateratmsft opened #181 "Release Notes for Microsoft.VisualStudio.Azure.Containers.Tools.Targets"
Hello everyone! We are starting to include release notes for updates to the [Microsoft.VisualStudio.Azure.Containers.Tools.Targets](https://www.nuget.org/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets/) NuGet package. The list is not exhaustive, but it includes things we think are most relevant for users.

Generally, newer versions of Visual Studio will scaffold a higher version th

[2019-04-11 20:57] bwateratmsft commented on #165
Created a brief release log. You can see the announcement over in #181.

[2019-04-11 20:57] #165 closed

[2019-04-11 23:13] pleandre commented on #177
Hello @sgreenmsft,

As you proposed I created a cmd file to wrap Docker and override volume paths:
https://gist.github.com/pleandre/fd27115675ddd85169b8d79a2c50944d

Unfortunately, Visual Studio doesn't seems to pick it up even when setting it higher in the path than the original Docker.

Also the solution above with msbuild targets cannot work as most volume paths are defined in the closed source

[2019-04-11 23:15] pleandre commented on #177
Hello @sgreenmsft,

As you proposed I created a cmd file to wrap Docker and override volume paths:
https://gist.github.com/pleandre/fd27115675ddd85169b8d79a2c50944d

Unfortunately, Visual Studio doesn't seems to pick it up even when setting it higher in the path than the original Docker.

Also the solution in my previous comment with msbuild targets cannot work as most volume paths are defined in

[2019-04-12 03:32] chintan3100 commented on #64
Do we any update on above issue

[2019-04-12 11:14] pleandre commented on #177
I made it work using docker compose. Only standard docker doesn't work.

[2019-04-12 13:33] bwateratmsft commented on #64
Hey @chintan3100, unfortunately it is not supported to use Docker tools for ASP.NET Core targeting .NET Framework.  You can see more [here](https://github.com/Microsoft/DockerTools/issues/34#issuecomment-481731741).

[2019-04-12 18:03] fourpastmidnight commented on #143
Still not fixed, running VS 15.9.11.

[2019-04-12 20:59] yamac-kurtulus commented on #178
Well, this was specifically what I was asking. Thank you.

Yeah just tested it, and apparently it works, but it still does not explain why my builds are sooo slow. Anyway. I'll play with the Dockerfile.

I am doing this step manually using docker-compose rather than using the project file. This is partly because the creation date of the project goes way back. Worth giving a shot though.

Thanks fo

[2019-04-12 21:59] sgreenmsft commented on #178
Yes, switching to a multistage dockerfile like that is a fine approach.  In general, though, I would not expect a multistage dockerfile like that to improve build performance -- actually I would expect it to be much slower than building on the host.

In your specific case, though, the slow docker build is a mystery so who knows whether the overall build would be faster.  =^)

Regarding the debugge

[2019-04-12 22:33] yamac-kurtulus commented on #178
@sgreenmsft good to know and thanks for all the info. In my specific case, curiously, copying the files takes the most time. 100MB in 5 minutes... Therefore I thought of running a `dotnet restore` inside container would benefit from caching.

Closing this now. Thank you again.

[2019-04-12 22:33] #178 closed

[2019-04-14 12:35] tutul2010 opened #182 "Cannot start Docker debug with VS2017 15.39.11"
Hi All

I am running with windows docker on windows server 2016 (64 bit) with docker enable.
I created a traditional mvc web app with 4.6.1 frmwrk(Vs2017 IDE).It is not running
Below error is coming
![error1](https://user-images.githubusercontent.com/13733464/56092879-a0342280-5edf-11e9-938e-85b88d751129.JPG)

docker file are  below
![docker-compose](https://user-images.githubusercontent.com/13733

[2019-04-15 16:34] dbreshears commented on #182
@tutul2010.   I walked through the same on latest 15.9 and didn't encounter any issues.  Can you share the ActivityLog.xml that it is pointing too.

[2019-04-15 17:18] tutul2010 commented on #182
Thanks @dbreshears  for your replay...
Here is mine ActivityLog.xml  as attachment .
[ActivityLog.txt](https://github.com/Microsoft/DockerTools/files/3081306/ActivityLog.txt)

one thing , for dotnet-core app ,it is working fine with images and windows container.
But normal mvc app(dotnet 4.6.1 framewrk) gave exception.

 Thanks,

[2019-04-15 18:10] dbreshears commented on #182
Hmm.. Seems to be related to the error list and an exception in the shell getting the build order list in response to task list changes.   Not anything we have seen specific to being "dockerized". Does this occur if in a non-dockerized 4.6.1 MVC project?

Does this work

1. Create a non-dockerized 4.6.1 MVC project
2. F5 and close browser
3. Right click and "Add Container Orchestration " from the

[2019-04-15 21:33] lesscodetxm commented on #9
I have the same issue. I'm trying to run a script for my entry point that does a `kinit` for a Kerberos ticket before doing the `dotnet` command. This works fine if I docker run the image manually without overriding the entry point, but works not at all with the command that VS wants to run. With VS the app runs but the kinit does not, so whatever `tail -f /dev/null` magic is happening, it must be

[2019-04-16 13:18] m0a0k0s opened #183 "Unable to debug Docker container with custom image"
Not possible to start docker project debug from visual studio with custom source image from private repository. DockerFile

FROM gitlab_registry_path
ARG source
WORKDIR /app
COPY ${source:-obj/Docker/publish} .
ENTRYPOINT ["dotnet", "host.dll"]

Result: Operation aborted 0x80004004 (E_ABORT) private
VS 15.9.11

last event in docker
container exec_create: /remote_debugger/vsdbg --interpreter=vscode

[2019-04-16 16:31] tutul2010 commented on #182
Thanks @dbreshears for your replay...
I created a mvc app on . NET framework 4.6.1 without docker by vs2017-community IDE and it is running fine.
When i clicked at solution and looking for docker support for app , it is not showing .I don't know why?
![dockerPlugin](https://user-images.githubusercontent.com/13733464/56227288-c221d680-6092-11e9-9afa-73b905787e7e.jpg)

Should i repair VS2017 again o

[2019-04-16 16:36] sgreenmsft commented on #182
@tutul2010, You'll need to click "Container Orchestrator Support" and choose "Docker-Compose"

[2019-04-16 16:46] tutul2010 commented on #182
Thanks @sgreenmsft  for your replay...
I did what u told and got an error as below. Mvc App is not running with docker support.
![dockerPlugin02](https://user-images.githubusercontent.com/13733464/56228198-d9fa5a00-6094-11e9-94cd-d00dfa9a1285.JPG)
Below is my OS docker version info..
![doker-versionFull](https://user-images.githubusercontent.com/13733464/56228279-1463f700-6095-11e9-8ce9-a3c5bb0724

[2019-04-16 18:50] sgreenmsft commented on #182
For Windows Server you'll need to install Docker-Compose separately.  Installation instructions are available here: https://docs.docker.com/compose/#install-compose

[2019-04-16 19:19] bwateratmsft commented on #183
@m0a0k0s What is this image based from? What is the behavior--does it seem to do nothing, or does it show an error, etc.?

[2019-04-16 19:30] m0a0k0s commented on #183
This image was created from standard microsoft .NET Core Runtime image with several files added, after running docker-compose project with F5 build process completes successfully, debug process find appropriate container id and then shows message box with error "Operation aborted 0x80004004 (E_ABORT)"

[2019-04-16 19:41] bwateratmsft commented on #183
Based on the kill command it looks like a Linux image, which one in particular is it based from?

[2019-04-17 08:44] m0a0k0s commented on #183
Tried with both:
microsoft/dotnet:2.1-aspnetcore-runtime
microsoft/dotnet:2.1-sdk

[2019-04-17 13:40] bwateratmsft commented on #183
This Dockerfile looks like one created for .NET Framework, not .NET Core. For instance, here's a .NET Core one:
[code]
And here's a .NET Framework one:

[code]
First, can you ensure your project is actually a .NET Core project (what's inside the <TargetFramework> or <TargetFrameworks> property in the csproj)? .NET Framework projects cannot run on Linux containers.
Second, if it is a .NET Core proj

[2019-04-17 15:39] m0a0k0s commented on #183
Yes, project is .NET Core, have just used this type of DockerFile style. Tried with .NET Core docker file same result, when use microsoft image vs debugging works, when use custom image debug failed. Manually running with docker-compose up works with any base image.

[2019-04-17 16:23] tutul2010 commented on #182
Thanks @sgreenmsft for your replay...
I am installing that for win-server 2016 OS at vm and let u know

[2019-04-17 17:56] tutul2010 commented on #182
Thanks @sgreenmsft .
 now i can create a docker of  .net 4.6 app and run at win container.
Thanks,

[2019-04-17 18:39] bwateratmsft commented on #183
In that case, something about your image is either preventing the debugger from launching, or is crashing it. Are you able to share how that image gets built?

[2019-04-18 09:29] m0a0k0s commented on #183
this is a source DockerFile for creating image

FROM alpine:3.9

ARG VERSION

ENV DOTNET_RT_VERSION=${VERSION} \
    DOTNET_RUNNING_IN_CONTAINER="true" \
    HOME="/root" \
    ASPNETCORE_URLS="http://+:80" \
    DOTNET_CLI_TELEMETRY_OPTOUT="false" \
    DOTNET_USE_POLLING_FILE_WATCHER="true"

RUN apk update && \
    apk add --no-cache bash curl openssl libc6-compat libcurl libgcc krb5-libs icu-li

[2019-04-18 13:07] bwateratmsft commented on #183
There's the problem. Alpine debugging is not supported in 15.9.11. You will need to upgrade to VS2019, or, [here](https://github.com/Microsoft/DockerTools/issues/179#issuecomment-482178661) are some steps that might help for VS2017.

[2019-04-18 14:55] bwateratmsft commented on #99
I found one potential cause for this that would affect docker-compose applications in particular, but can affect others. Please note, this isn't the only possible cause for this error.

One of the steps in setting up the SSL certificate is telling Kestrel what the SSL certificate password is, via user secrets. The command we use is
`dotnet user-secrets set Kestrel:Certificates:Development:Password

[2019-04-18 18:54] m0a0k0s commented on #183
Thank you for information, I will upgrade to new version.

[2019-04-18 18:54] #183 closed

[2019-04-23 16:05] lesscodetxm commented on #9
@oleksii-udovychenko How do you "attach debugger to one of the containers"?

[2019-04-28 00:09] vtcoder commented on #37
In case this helps anyone else, I ran into the same thing: Debug run through vs.net 2017 15.9.8, failed with "You may only use the Microsoft .NET Core Debugger (vsdbg) with..." in the Debug output. Also attempting to build in Release config resulted in  error "Service 'abc' failed to build: COPY failed: stat /var/lib/docker/tmp/docker-builder712245813/Docker: no such file or directory".

I tried a

[2019-05-01 13:28] bwateratmsft commented on #37
@vtcoder The issue of spaces in the project name causing problems should be fixed in Visual Studio 2019. Can you try there?

[2019-05-02 13:44] 8 commented on #62
Hi,
I have the same question:
How do you pass commandline arguments to the application that is run inside the docker container?

1) I've tried to use the Project Panel, but the "Docker" Profile is missing the "Application arguments":
![image](https://user-images.githubusercontent.com/278500/57079028-ca634e00-6cef-11e9-91f0-334434e98c76.png)
2) I've worked around the shortcomings in the dialog by e

[2019-05-02 14:08] bwateratmsft commented on #62
The ENTRYPOINT directive will work for containers built in Release mode. For Debug, we are adding support in the upcoming VS2019 16.1 version. It will also require the NuGet package Microsoft.VisualStudio.Azure.Containers.Tools.Targets version 1.7.4 or greater. Using these, you can specify an MSBuild property in the project file, <DockerDebuggeeArguments>myArguments</DockerDebuggeeArguments>

[2019-05-02 14:11] bwateratmsft commented on #128
This issue is being closed as an inactive issue. If you wish to keep it active, please reply with any additional context for our consideration, we are happy to take a look!

[2019-05-02 14:11] #128 closed

[2019-05-02 14:11] bwateratmsft commented on #136
This issue is being closed as an inactive issue. If you wish to keep it active, please reply with any additional context for our consideration, we are happy to take a look!

[2019-05-02 14:11] #136 closed

[2019-05-02 14:12] bwateratmsft commented on #133
This issue is being closed as an inactive issue. If you wish to keep it active, please reply with any additional context for our consideration, we are happy to take a look!

[2019-05-02 14:12] #133 closed

[2019-05-02 14:12] bwateratmsft commented on #84
This issue is being closed as an inactive issue. If you wish to keep it active, please reply with any additional context for our consideration, we are happy to take a look!

[2019-05-02 14:12] #84 closed

[2019-05-02 14:12] bwateratmsft commented on #76
This issue is being closed as an inactive issue. If you wish to keep it active, please reply with any additional context for our consideration, we are happy to take a look!

[2019-05-02 14:12] #76 closed

[2019-05-05 19:26] MazZilaaaa opened #184 "How to start debug with docker-machine"

[2019-05-05 19:28] MazZilaaaa commented on #184
Hi all. I want to debug my .net core console applications with docker-machine. How can I do it?

[2019-05-07 09:47] Richard004 commented on #54
I have bumped into this problem today again. My application had the separated out and bin dir for several solution projects.
I have added docker-compose via "docker support" and experienced described behaviour.
When I deleted my Directory.Build.props then it started to work. But now my obj and bin are scattered around my folder structure, which complicates other my workflows.

I do not insist on "

[2019-05-07 13:28] bwateratmsft commented on #54
Hey @Richard004, unfortunately there's no workaround available right now, but I'll reopen this issue for future consideration.

[2019-05-08 06:29] Richard004 commented on #54
Thank you Brandon. I honestly do not have a strong opinion about this. I was used to having "readonly" src, but with the docker workflows I do not know what is "normal level of pain" people need to go through, so I propose that if nobody joins in next 3 months, let's close it again and I will adapt it somehow.

Is there some opinionated and documented setup for docker-compose in similar way like S

[2019-05-09 13:51] bwateratmsft commented on #54
@Richard004 Here's a video about our single-Dockerfile experience, and I'm sure you can find many things on YouTube or Channel 9: [https://www.youtube.com/watch?v=Tlswgxl_Xyk](https://www.youtube.com/watch?v=Tlswgxl_Xyk)

[2019-05-09 21:17] robertmuehsig commented on #80
I have the same problem with VS 2019 and Docker for Windows.

Error message:
[code]
VS 2019 Info:

[code]

Docker for Windows:
[code]

[2019-05-09 21:22] sgreenmsft commented on #80
@robertmuehsig - Could you share the content of the Build output window pane?  Additional details about this error can appear there.

[2019-05-09 21:28] sgreenmsft commented on #80
@robertmuehsig - Are you able to install a newer version of Docker Desktop?

https://docs.docker.com/docker-for-windows/release-notes/

[2019-05-09 21:42] robertmuehsig commented on #80
Ah - the update did the trick. Sorry - it seems I had a pretty old Docker installation, unfortunatly it branded itself as "edge channel", so I had the impression it is super new ;)

Works now 👍

[2019-05-10 13:38] bwateratmsft commented on #80
Glad to hear it's working! I'll close this issue now.

[2019-05-10 13:38] #80 closed

[2019-05-11 10:02] sunliusi opened #186 "Cannot start Docker debug with VS2019 in china"
I can't start docker with vs2019.
Debug form GetVsDbg.ps1, i can't download vsdbg from https://vsdebugger.azureedge.net/  in china.
Is there any other way to do it.

[2019-05-13 16:23] sgreenmsft commented on #186
I'm not sure how to download vsdbg in China, but would it be possible to switch to using Windows containers instead of Linux containers?  The Windows containers do not require downloading vsdbg.

[2019-05-14 17:08] dstrebel opened #187 "VS 2017 Docker issue with CASB Certificate"
Brief Issue Summary
Issue only occurs when running from VS 2017 integrated tooling – running from command line does not trigger issue

Running NetSkope locally as a CASB
We Needed to add NetSkope Intermediate and Root CA as trusted certs in our container for local execution.

When executed from VS, the CASB certificates apparently are untrusted, leading to SSL errors on certain domains (i.e., most

[2019-05-14 18:37] sgreenmsft commented on #187
How are you adding these certs in your container?  I'm guessing this is done in your dockerfile -- are you able to share the dockerfile contents?

As a general explanation of how Visual Studio handles debugging: In order to make debugging as fast as possible, Visual Studio cheats.  Rebuilding the entire Dockerfile every time you F5 is very slow, so instead Visual Studio just builds the first stage

[2019-05-14 20:55] droessmj commented on #187
@dstrebel - thanks for opening this.

Complete Dockerfile, with redactions due to enterprise concerns:

[code]

If I'm following your response above, we need to take action against the base image? Could you briefly share how this action would be taken in the below flow, where the base image is a third party dotnet container?

[2019-05-14 22:35] sgreenmsft commented on #187
@droessmj - Thanks for sharing the Dockerfile!

In short, you would move the lines that are installing the certs up from the final stage of the dockerfile into the base stage of the dockerfile, like so:

[code]

To clarify, when you F5 in Visual Studio, it will call docker build using the argument "--target=base".  This tells Docker to ignore everything in the Dockerfile after the line EXPOSE 5000

[2019-05-15 00:35] droessmj commented on #187
@sgreenmsft - Thank you! I believe I tried more or less what you have above without luck, although I had the COPY and RUN update-ca-certificates before the WORKDIR /app. I'll give it another go in the morning.

I can confirm I had success doing a local build consisting of:

[code]
and then using this image as my base within my VS build. For our use cases, I believe we could bake the cert into a ba

[2019-05-15 00:54] sgreenmsft commented on #187
Sounds great.

We hear you about the lack of documentation/discoverability.  As a first step we're working to improve the VS container tools documentation -- especially the magic that Visual Studio does to make Docker debugging fast and the msbuild properties that can be used to control some of that behavior.  Now that the Build conference has wrapped we should have some time to get this documenta

[2019-05-15 07:22] JRC86 commented on #27
@BigMorty
I tried building a docker image by right-clicking a dockerfile inside VS. That command was not shown in output window, but I'm fairly sure I have seen it before?

I'm documenting my user experience for this as I learn. I wouldn't want to clutter this post with the potential issues I have found and would really prefer to email someone who might be interested in this.

[2019-05-15 12:22] droessmj commented on #187
Thanks @sgreenmsft and @dstrebel. I think this issue is resolved with a viable workaround given the new info shared. Appreciate the quick help!

[2019-05-15 15:40] bwateratmsft commented on #187
Glad it's working @droessmj!

[2019-05-15 15:40] #187 closed

[2019-05-15 15:45] bwateratmsft commented on #27
@JRC86 Are you looking in the "Build" output window? I see the build command here when I right-click > Build Docker Image:

![image](https://user-images.githubusercontent.com/36966225/57789412-b8b97780-76ed-11e9-81b9-6fbcac99c2f8.png)

[2019-05-15 17:32] JRC86 commented on #27
@bwateratmsft
That line and the next one are not shown for me. This one has an image already and a container.
![dockerbuildoutput](https://user-images.githubusercontent.com/10474768/57790806-c695e980-773b-11e9-8331-55f367fe8722.jpg)

The  following screen shows building a docker image without actually running the initial build that runs when switching profile to Docker.
![dockerbuildoutputnoprevim

[2019-05-15 17:35] bwateratmsft commented on #27
@JRC86 What version of the Microsoft.VisualStudio.Azure.Containers.Tools.Targets package does your project reference? I tested with the latest (1.7.8), I suppose older versions maybe did not output the build command used.

[2019-05-15 18:29] JRC86 commented on #27
@bwateratmsft
Version 1.4.10.
I updated to 1.7.8 and You are right, it works. the build command is now shown.

[2019-05-15 19:06] BigMorty commented on #27
Great to hear @JRC86! Thanks @bwateratmsft for helping solve this!

[2019-05-16 08:33] endeffects opened #188 "Does VS Docker CLI not respect the Build Network?"
I'm running multiple docker containers, each has it's own compose file.
I also run a nuget container within the docker host.

The feed runs within a seperate network called proget-internal-net.
To make it available for the build process i've added it
to the web application build section.

This works well from console. But when i start Visual Studio (2019)
and run the composer project the restore f

[2019-05-16 16:21] bwateratmsft commented on #188
Can you share more information? Like the docker-compose up/build commands, the output, and the Dockerfile(s)?

[2019-05-16 19:04] endeffects commented on #188
Well, i can provide a sample project, but basically the restore from the nuget container fails when i use visual studio.

The error i get when i try to use the exposed host port of the nuget container (works in browser):
`Error occurred while restoring NuGet packages: The feed 'ProGet [http://localhost:10100/nuget/Packages/]' lists package '...' but multiple attempts to download the nupkg have fai

[2019-05-17 15:41] bwateratmsft commented on #188
Yes, please share a sample project. Is there any difference in behavior when building debug mode vs. release mode? In debug mode, Visual Studio only builds up to the "base" target in the Dockerfile, to save a significant amount of time.

[2019-05-17 17:13] endeffects commented on #188
I think i got it working. The problem was the exposed port (10100) of the nuget container.
The restore within visual studio ignored it when i tried to use the feed url pointing to localhost:10100.
The host http header did not contained the port. Which is wrong.

The second problem was the previous build from console, so visual studio was not able to override the existing container image. So trying

[2019-05-17 18:31] esardaya commented on #170
I was having the same issue with VS2019.
I was able to get it to work by granting read access to `Everyone` for the `onecoremsvsmon` folder.
In my case, only `SYSTEM` and `Administrators` had access to the folder and I guess that is why the `Access is denied` error was happening.
There's probably a specific user or group that needs read access to that folder, but since I didn't know which one, I j

[2019-05-17 18:44] #188 closed

[2019-05-20 16:15] bormm commented on #75
The whole docker support in Visual Studio is in very early stages, so many things are not working.
This is really a bad thing. Its just not working as expected and as for every handicap in the VS docker support, the workaround is so unintuitive.

[2019-05-24 13:31] OpusKrokus opened #189 "Not respecting the default browser setting in windows."
I generally set the default browser on my development machine to match what my customer uses/requires to make testing and debugging more efficient (make it work there first, and then test the other browsers).  However, when trying to debug container based web apps in VS2019 (F5 or the debug button in the IDE), it refuses to launch anything but Edge, and I cannot find any documentation on how to ch

[2019-05-24 13:46] bwateratmsft commented on #189
@OpusKrokus Which version of Visual Studio are you using? For me it correctly uses my default.

[2019-05-24 13:52] OpusKrokus commented on #189
VS 2019 v16.1.0
I feel like it is some setting on my end that is goofed up, but I am unsure.  The debug button is set to Docker

[2019-05-24 14:02] bwateratmsft commented on #189
So, I noticed something. On my system, Chrome is the default browser. In the below screenshot, I chose Edge as the browser to launch. When launching IIS Express, or the program directly, it opens in Edge, but Docker still uses Chrome (the Windows default).

![image](https://user-images.githubusercontent.com/36966225/58333161-d5029600-7e0a-11e9-928b-310ef7276072.png)

Is it possible that you have C

[2019-05-24 18:27] jrafael83 commented on #99
What I did to solve the issue was:

1. Delete the certificate from the Personal store.
2. Generate the certificate using dotnet dev-certs https --trust (it will throw the error)
3. Open MMC and add the Certificates snap-in (For Current User)
4. Export the Certificate and its Private Key to a PFX file (Use a password)
5. Install the PFX file to the Local Machine Certificates in Trusted Root Certifi

[2019-05-24 20:07] OpusKrokus commented on #189
Thanks so much!

[2019-05-24 20:15] OpusKrokus commented on #189
So... One more note.  If I set it in the menu you mention above, it opens correctly for everything but Docker.  Docker _still_ opens it in Edge.  It also opened in Edge when I clicked on the "More Emulators..." option in the same menu.

Again, I really appreciate you guys looking into this!

[2019-05-26 01:42] rustamm commented on #54
We've got this problem too, we use Directory.Build.props in all our projects to change output paths to a folder other than src. A workaround would be great.

[2019-05-28 12:59] bwateratmsft commented on #54
@rustamm Yes, this is the right place for VS2019 as well. I'm going to update readme page to make that clear.

[2019-05-30 13:55] bwateratmsft commented on #189
@OpusKrokus We've implemented a fix for both single-Dockerfile and docker-compose projects, and are tentatively planning to release it in 16.2 Preview 3. For Compose it's a little more awkward to configure the browsers, as you have to switch the startup project to your web app, configure the browsers, then back to the docker-compose project, but that's out of our control unfortunately. :)

[2019-06-06 23:59] olegburov opened #190 "List Docker Images on local machine"
Would be handy if Visual Studio Container Tools Extensions could list Docker Images on local machine. Just like [Docker](https://marketplace.visualstudio.com/items?itemName=PeterJausovec.vscode-docker) extension for VS Code does:

![Docker-Extension](https://user-images.githubusercontent.com/2487951/59073527-60087500-887c-11e9-8133-e6ce75d5b234.PNG)

[2019-06-07 00:07] BigMorty commented on #190
Thanks @olegburov for your feedback, this is very high on our list of features we want to add.

[2019-06-07 21:33] Tschrock commented on #91
I'm also having this issue when trying to debug any project in Docker

Even using "Start without Debugging", I can't get the web app to load in the browser - which makes me think it might be a Docker/Networking issue?

![devenv_2019-06-07_16-45-20](https://user-images.githubusercontent.com/2406499/59132611-ae347b80-8943-11e9-87ad-e787d35b67f8.png)

![devenv_2019-06-07_16-07-40](https://user-images

[2019-06-07 21:59] sgreenmsft commented on #91
@Tschrock - This sounds like it might be a known issue in Win10 19H1 with Windows container networking.  If so, there are some steps to work around the problem:
1)	Remove all containers (run “docker rm -f” until “docker ps -a” shows nothing)
2)	In PowerShell, run this command to remove the network used by Docker:
Get-hnsnetwork | remove-hnsnetwork
3)	In PowerShell, run this command to restart the

[2019-06-09 21:59] sonicjolt commented on #99
@haniamr

I'm having the same issue as described here and in https://github.com/Microsoft/DockerTools/issues/147

I'm running the latest version of **Visual Studio 2019 16.1.2**

I don't think it has been fixed.

[2019-06-10 13:08] bwateratmsft commented on #99
@sonicjolt Can you share your solution or at least the general structure of it?

[2019-06-10 16:48] blakeholl commented on #91
I had the same symptoms as @Tschrock, and this resolved my problems.

[2019-06-11 17:29] Tschrock commented on #91
That did indeed resolve my issue, thanks so much!

[2019-06-11 17:30] bwateratmsft commented on #91
Glad it working! The Windows team has created and released an update to fix this networking issue, but unfortunately those that upgraded to 19H1 before this update was released were not automatically fixed upon installing the update.

[2019-06-13 13:44] solvingj opened #191 "Use Case : Build/Run/Debug In Container"
This plugin is looking great already.

We have developers that write C/C++ exclusively in Visual Studio Solutions/Projects.  We currently have both Windows and Linux docker containers that are used by our CI servers to run builds inside docker containers.  Each project also has Makefiles for the linux builds.  We want to migrate to CMake, but that will take years.

The cross-platform `Build/Run/De

[2019-06-13 17:20] dvalovage opened #192 "In Docker Compose, any way to exempt a dockerfile from debugging?"
I'm a bit new to Docker, so maybe the answer is obvious and I just missed it. I have a Docker Compose file with two services with Dockerfiles. One is ASP.NET Core, the other is an Angular website.

The ASP.NET Core works fine by itself, but with the Angular Dockerfile it throws an error "launch: program '' does not exist."

It seems that the debugger keys off of the existence of a Dockerfile to ge

[2019-06-13 18:28] sgreenmsft commented on #192
The first thing that comes to mind would be to move the Angular project's Dockerfile into a separate folder so that it's not next to the csproj file.  Admittedly not an ideal solution.  =^/

[2019-06-13 18:37] dvalovage commented on #192
Ah that did it. Strange!

Thank you for the help.

[2019-06-13 18:37] #192 closed

[2019-06-18 16:52] tillig opened #193 "Add documentation about launchSettings.json, .csproj options, Dockerfile requirements"
When you right-click in the VS Solution Explorer and add Docker support to an ASP.NET Core project, it does a few things - you get a Dockerfile and you get a `launchSettings.json` entry, for example.

`launchSettings.json` ends up containing a bunch of things that [aren't part of the launchSettings schema](http://json.schemastore.org/launchsettings.json) like `httpPort`, `sslPort`, and `useSSL`.

[2019-06-18 17:14] bwateratmsft commented on #193
Thanks @tillig. We agree on the need for documentation and are working on it.

[2019-06-18 19:41] tillig commented on #193
In the meantime, I [blogged a lot of the stuff I've found whilst spelunking](https://www.paraesthesia.com/archive/2019/06/18/tips-on-container-tools-for-visual-studio/), in case that helps anyone.

[2019-06-18 20:04] bwateratmsft commented on #193
@tillig That guide is great! To address the mystery of how "dotnet" starts inside the container in debug mode--
1. We launch VSDBG using that long-ish "docker exec" script, /bin/sh -c "ID=.; if....". The reason for this long script is to figure out within the container if it's Alpine or Debian/Ubuntu, because we use a different version of VSDBG depending on which.
2. After VSDBG is launched, Visua

[2019-06-18 20:06] tillig commented on #193
That explains why I didn't see it in Process Monitor, then. Thanks! I tried to get `execsnoop` and `auditd` running to see if I could catch when it was starting up but gave up. This helps!

[2019-06-18 21:27] 2Dews opened #194 "Test Project Debugging - Failed to Launch Debug Adapter"
I can run and debug my api project in the container but when I try to debug my unit tests in the container I get a "Failed to launch debug adapter. Additional information may be available in the output window. Value cannot be null. Parameter name: value" message. The build output shows a successful build, the container tools output shows a successfully started container, but the test output says ,

[2019-06-19 10:42] DotsYatin commented on #84
Hi Team,

I am facing this issue when creating the image.
Please look into this and let me know .

C:\Program Files\dotnet\sdk\2.1.700\NuGet.targets(121,5): error : Unable to load the service index for source https://api.nuget.org/v3/index.json. [C:\src\LearnDocker\LearnDocker.csproj]
C:\Program Files\dotnet\sdk\2.1.700\NuGet.targets(121,5): error :   A connection attempt failed because the connec

[2019-06-19 10:43] DotsYatin commented on #84
#Depending on the operating system of the host machines(s) that will build or run the containers, the image specified in the FROM statement may need to be changed.
#For more information, please see https://aka.ms/containercompat

FROM microsoft/dotnet:2.1-aspnetcore-runtime-nanoserver-1709 AS base
WORKDIR /app
EXPOSE 80
EXPOSE 443

FROM microsoft/dotnet:2.1-sdk-nanoserver-1709 AS build
WORKDIR /sr

[2019-06-19 10:54] petrnymsa commented on #176
Just to note: VS 2019 Community,version 16.1.3 still relevant

[2019-06-19 13:03] bwateratmsft commented on #84
@DotsYatin It seems like your container may have some networking issue in accessing NuGet.org. Sometimes restarting Docker Desktop fixes this?

[2019-06-19 13:14] bwateratmsft commented on #194
Hello @2Dews , at the moment test projects are not supported for containerization. It is on our radar though for future features.

[2019-06-20 12:52] JasonHaley opened #195 ""error CTP1001: An error occurred while attempting to build Docker image." with multiple level project directories"
I know the "error CTP1001: An error occurred while attempting to build Docker image." surfaces in different scenarios, but mine also has the "COPY failed: stat /var/lib/docker/tmp/docker-builderxxx/xxxxxx.csproj: no such file or directory" the line above that error.

I have tracked down the problem being the multiple directories my solution/project has and the context that is being passed into the

[2019-06-20 14:23] bwateratmsft commented on #195
Hey @JasonHaley, for this scenario you need to add the following property to a PropertyGroup in WebApp1.csproj:

`<DockerfileContext>..\..</DockerfileContext>`

It's preferred to use this instead of `DockerDefaultContext`, although it would also technically work.

We've already implemented a fix in future versions of VS so that it will automatically scaffold in this property when in your scenario.

[2019-06-20 14:25] JasonHaley commented on #195
Sweet! I'll give that a try - that will help a ton!

[2019-06-20 15:22] JasonHaley commented on #195
Adding it to the property group in the csproj file:
[code]
Works for the "Build Docker Image" on the context menu and the start debugging Docker in VS 2019.
Also works for VS 2017 using the start debugging Docker button.

[2019-06-20 15:38] bwateratmsft commented on #195
Glad it worked! I'll close this issue.

[2019-06-20 15:38] #195 closed

[2019-06-21 22:17] porscheme commented on #78
'RUN apt-get update' is ignored....

#My docker file code snippet
FROM microsoft/dotnet:2.2-aspnetcore-runtime AS base
FROM microsoft/dotnet:3.0-sdk AS runtime

RUN apt-get update

[2019-06-21 22:18] porscheme opened #196 "RUN apt-get update not wokring"
Platform: Windows10 VSTS2017
Docker container for Linux

RUN construct wasn't picking Linux commands for execution. For example, in my  below very simple dockerfile 'RUN apt-get update' was not run.

FROM mcr.microsoft.com/dotnet/core/sdk:3.0-alpine3.9 AS build
FROM mcr.microsoft.com/dotnet/core/aspnet:2.2-alpine AS runtime

RUN apt-get update

WORKDIR /src
COPY ["TestWebApp/TestWebApp.csproj", "T

[2019-06-22 14:03] WilliamT-Streamba opened #197 "Volumes added when running through Visual Studio different to running docker-compose up"
Is there a reason why the volumes mounted in an ASP.NET Core project during development are different to those specified in the docker-compose.override.yaml file?

When trying to run docker compose outside of Visual Studio my application breaks as the ClientApp directory, used by JavascriptServices, only includes the production build.

My understanding was that docker-compose.override.yaml reflect

[2019-06-24 13:33] bwateratmsft commented on #78
@porscheme When running in Debug mode, only the "base" stage of the Dockerfile is run.

[2019-06-24 13:35] bwateratmsft commented on #196
@porscheme In Debug mode, only the "base" stage is run, which it seems you removed. I'd regenerate your Dockerfile back to how it was, and then add the apt-get update command in the base stage.

[2019-06-24 13:37] bwateratmsft commented on #197
@WilliamT-Streamba When debugging in Visual Studio, the auto-generated obj\Docker\docker-compose.vs.debug.g.yml is used in addition to docker-compose.yml and docker-compose.override.yml. This maps in source, the remote debugger, and user secrets in order to debug.

[2019-06-24 15:43] sgreenmsft commented on #196
To clarify -- in Debug mode the first stage (and only the first stage) defined in the Dockerfile is built.  The name of the stage doesn't matter.  It doesn't have to be named "base."  So if you have a Dockerfile like so:
[code]

Then when debugging in Visual Studio, only the first three lines are run.

[2019-06-25 02:29] cchristodoulou commented on #147
Thank you, that worked!

[2019-06-26 07:47] WilliamT-Streamba commented on #197
Thank you! I updated docker-compose.override.yml to the following:

[code]

CHOKIDAR_USEPOLLING=true is set to allow file watching with webpack dev server.
 ./Web/ClientApp is mounted in /app/ClientApp so the source is available during development for webpack dev server

[2019-06-26 07:47] #197 closed

[2019-06-26 21:16] sgreenmsft commented on #196
Additional note:  In single-project (i.e. non-compose) scenarios, the property <DockerfileFastModeStage> can be added to your csproj file to tell Visual Studio which build stage should be built for F5, like so:
[code]

[2019-06-27 18:30] piotrek-k opened #198 "Deploying auto-generated Visual Studio Docker configuration on Linux"
I thought that one of the main advantages of Docker for developers is that one can create single container configuration that can be easily deployed, without changes, on any platform (Linux, Windows).

That's not exactly true for Docker tools on Visual Studio 2019. I've created an ASP.net project and Visual Studio automatically generated docker and docker-compose configuration. I can without any p

[2019-06-27 19:26] bwateratmsft commented on #198
You need to do some configuration when deploying the image for the HTTPS certificate. Within Visual Studio, a self-signed development certificate is used, but this certificate is not appropriate for production scenarios.

@haniamr are you familiar with production HTTPS setup?

[2019-06-27 20:17] haniamr commented on #198
As Brandon mentioned, VS runs the "dev-certs" tool to trust and export a self-signed certificate in the container however this won't work if you manually run `docker-compose up` on a different machine.

You have to ensure Kestrel knows which certificate it should use, which is explained here https://devblogs.microsoft.com/aspnet/asp-net-core-2-1-https-improvements/ in more details, and also ensure

[2019-06-28 10:40] piotrek-k commented on #198
Thank you for quick response.
I've made the following steps ([based on this article](https://devblogs.microsoft.com/aspnet/configuring-https-in-asp-net-core-across-different-platforms/)).
Created `https.config` file:
[code]

Run 3 commands:
[code]

Now I've got `https.pfx` that, I suppose, is my https certificate. It lies here: `/home/piotrek/Desktop/SyncedDB/other/https`

Then I've added some Kes

[2019-07-02 10:22] piotrek-k commented on #198
Problem solved. I used this command:
 ```$ dotnet dev-certs https -ep %USERPROFILE%\.aspnet\https\aspnetapp.pfx -p somepassword```
to generate certificate.

My current Docker configuration:
[code]

Thanks again for explanation.

[2019-07-02 10:22] #198 closed

[2019-07-02 15:35] ProH4Ck opened #199 "Containers window doesn't save layout"
If I resize "Containers" window using splitter between left and side panels after Visual Studio restart the setting is not saved.

Every time I start Visual Studio I need to resize this window in order to see the name of my containers (docker compose add a huge prefix ☹)

![image](https://user-images.githubusercontent.com/8057670/60525656-17af6c00-9cef-11e9-912d-b7444103d0f6.png)

[2019-07-02 16:23] dbreshears commented on #199
Thanks for the feedback.  We will look into getting a fix for this in a future update

[2019-07-10 15:14] ildoc commented on #142
- Restarted VS
- Restarted Docker
- Restarted Windows
- Re-installed Docker
- Deleted and re-cloned solution

Deleting vsdbg folder worked for me

docker 18.09.2 build 6247962
visual studio 2019 16.1.6

[2019-07-10 16:49] FlorinskiyDI commented on #142
Deleting vsdbg folder also worked for me, without steps in previews comment
- docker desktop Version 2.0.0.3 (31259)
- vs2019 16.1.6

[2019-07-10 16:56] GreatFireWall commented on #37
It sounds like that fuxking GFW cause this issue.

[2019-07-10 20:21] CreepyGnome commented on #142
Why was this closed? One person repo'd the issue and it was because they changed their password. Well, that is not the reason for the other people nor the person who open the issue from what I can tell.

I too am using Docker for Windows with Linux containers and I get this issue several times a week and all I do is Restart Docker and it works. No unsharing resharing or anything.

There seems to b

[2019-07-12 08:22] kvskranthikumar commented on #89
These steps worked for me on Windows 10 -

Delete "C:\ProgramData\Microsoft\Windows\HNS\HNS.data"
Delete "C:\ProgramData\docker\network\files\local-kv.db"

[2019-07-12 18:31] olegburov opened #200 "Keep directories on top when sorting by name."
When viewing files, I would like directories to be on top when sorting by name. Just like on Windows in File Explorer.

![Files](https://user-images.githubusercontent.com/2487951/61150388-31437700-a498-11e9-849c-ccca664de2b2.JPG)

**Actual result**

- `inetpub`
- `License.txt`                <= File gets listed with directories
- `Program Files`
- `Program Files (x86)`
- `ProgramData`
- `ServiceMo

[2019-07-12 19:02] haniamr commented on #200
Thanks for the feedback, @olegburov. We will look into getting a fix for this in a future update.

[2019-07-15 14:42] dukefox11 commented on #84
Facing similar issue. Restarting and re-installing Docker Desktop had no effect. https://api.nuget.org/v3/index.json is accessible via browser. I am also able to run "dotnet restore" on my project successfully.

I will appreciate any help.

**Error**
C:\Program Files\dotnet\sdk\2.2.301\NuGet.targets(121,5): error : Unable to load the service index for source https://api.nuget.org/v3/index.json. [C

[2019-07-15 15:42] bwateratmsft commented on #84
@dukefox11 Is the result the same from the command line if you do "docker build"?

[2019-07-15 16:22] OlegPNN opened #201 "VS2019 docker image build for debug is not accessible by IP:port"
Hello in Microsoft Docker community.
Under Windows 10 pro and  Microsoft Visual Studio Community 2019 v  16.1.6 +
ASP.NET and Web Tools 2019   16.1.429.50124 i have build self hosted HelloWorld  .Net Core application to run under Kestrel. With Docker support. You can find sources under https://github.com/OlegPNN/ASP.NET-core-docker-
It runs perfectly in self hosted configuration under 80 and 443.

[2019-07-15 17:32] bwateratmsft commented on #201
The ports you've mapped from (443, 8080) are the port to query on the host (localhost) for the container, not the container itself. So, "http://localhost:8080", "https://localhost", and "https://172.23.82.133" are correct, but "http://172.23.82.133:8080" will not respond to anything (it would be asking the container for its port 8080, which isn't exposed to anything).

Visual Studio does not actua

[2019-07-15 18:46] collinbarrett commented on #62
Just stumbled on this after asking [this](https://stackoverflow.com/q/57045234/2343739) on SO.

When I add something like:

<DockerDebuggeeArguments>-a -v</DockerDebuggeeArguments>

The console app fails to debug at all with the following message:

[code]

I have `Microsoft .NET Core SDK 2.2.301 (x64)` installed.

If I exclude the `DockerDebuggeeArguments` value, I can debug in Docker, but no comm

[2019-07-15 19:44] bwateratmsft commented on #62
@collinbarrett, I've identified a bug in our code preventing this scenario from working as intended. I've identified two possible workarounds:
1. If you're using Linux containers, try setting the following MSBuild properties:
[code]
2. For either Windows or Linux containers, if it's an option, you can change your code to use environment variables instead of command-line arguments:
![image](https:/

[2019-07-15 20:02] collinbarrett commented on #62
Thanks. Just tried option `1.`. I get the following:

[code]

...it can't seem to find a nuget package's .dll . Maybe an issue with one of those paths?

[2019-07-15 20:07] bwateratmsft commented on #62
@collinbarrett I originally missed the NuGet probing paths; I've added them into the original comment. Can you try with that?

[2019-07-15 20:08] collinbarrett commented on #62
That works. Thanks!

[2019-07-15 20:50] OlegPNN commented on #201
Looks, like I've found a root of this problem, but can't understand how to solve it.
It's about to debug docker configuration with self signed certificate when VS2019 creates ASP .Net core application https://docs.microsoft.com/en-us/visualstudio/containers/media/overview/vs-2019/enable-docker-support-visual-studio.png?view=vs-2019 from template.
1. From every beginning it is possible debug under

[2019-07-15 21:01] bwateratmsft commented on #201
Ah, I see. Adding SSL to an already-scaffolded application is tough, and it gets more complicated with containers.

I'd suggest creating a new ASP.NET Core web app, ensuring that "Use HTTPS" is checked, add Container Orchestrator Support > Docker Compose to it, F5 it at least once, and then compare to your app. In particular, look at:

Properties\launchSettings.json
docker-compose.yml
docker-compo

[2019-07-15 21:03] bwateratmsft commented on #201
Also, I can take a look at your source @OlegPNN but the link in your original comment seems to be broken: https://github.com/OlegPNN/ASP.NET-core-docker-

[2019-07-16 07:24] OlegPNN commented on #201
Thank you Brandon. I've found a combination when web app with self signed ssl sertificte keeps working in remote debug  work under docker image created by VS2019. My mistake wfs I've put a lot of code (related with ssl) and then tried to run it under docker image.

[2019-07-16 07:24] #201 closed

[2019-07-16 15:41] bwateratmsft commented on #176
This should be fixed now in the latest releases of VSDBG which will be automatically downloaded (it may already have been).

[2019-07-16 15:41] #176 closed

[2019-07-16 18:28] OlegPNN opened #203 "How to run not debug version of Linux docker image under windows"
Hi in DockerTools community.
I'm pretty sure this is not a bag, but I'm bit lost on this step.
Under windows and VS2019 i've made ASP .NET Core project which docker linux support which is sucessfully can be debugged under docker configuration. Solution is under https://github.com/OlegPNN/ASP.NET-core-docker-.git.
Docker file uses mcr.microsoft.com/dotnet/core/aspnet:2.1-stretch-slim image.
..
FROM

[2019-07-16 18:47] bwateratmsft commented on #203
Hey @OlegPNN , another user faced some similar issues here: https://github.com/microsoft/DockerTools/issues/198

In order to run it in a production-like way, an SSL certificate is needed; the location it's at needs to be mapped in. The user there mapped it in to /https, at /https/aspnetapp.pfx. He used environment variables to control the path that ASP.NET Core looks for the cert (ASPNETCORE_Kestr

[2019-07-17 15:13] bormm commented on #154
We have a .Net Framework Console Application and the same issue. I would not call this an enhancement its a bug -> Docker is required without building any docker component.

Microsoft should invest a lot of more resources into the docker integration to get it more work reasonable. The only workaround I see is adding an separate solution without the docker parts for all people that do not want to b

[2019-07-17 20:34] OlegPNN commented on #203
Thanks Brandon for explanation and similar issue link. I didn't pay attention that certificate configuration is a must and appropriate partition with certificate should be maped. Yes, docker container is not started in case 80 or 443 ports are hold by another app.

[2019-07-17 20:34] #203 closed

[2019-07-17 22:20] sonicjolt commented on #99
@bwateratmsft Sorry for the late reply.

I started a new project today, based on Visual Studio 2019, ASP.NET Core 2.2.

My solution is a very basic solution with an ASP.NET Core Web Application project.

When I try to run it (with Docker = Linux), I get this error. I'm using Docker for Windows, running Linux Containers.

I've not added a single line of code. This is the basic setup from scaffoldin

[2019-07-18 13:49] bwateratmsft commented on #99
@sonicjolt What happens if you run "dotnet dev-certs https --trust" from a command line?

[2019-07-18 13:56] sonicjolt commented on #99
Result of the command: Trusting the HTTPS development certificate was
requested. A confirmation prompt will be displayed if the certificate was
not previously trusted. Click yes on the prompt to trust the certificate.
There was an error trusting HTTPS developer certificate.

On Thu, 18 Jul 2019 at 15:49, Brandon Waterloo [MSFT] <
notifications@github.com> wrote:

[2019-07-18 14:00] bwateratmsft commented on #99
@sonicjolt Can you try these:

1. `dotnet dev-certs https --trust --check`
2. `echo Trust check: %errorlevel%`
3. `dotnet dev-certs https --trust -ep "%APPDATA%\ASP.NET\https\TestCert.pfx" -p TestPassword`
4. `echo Trust/Export: %errorlevel%`

[2019-07-18 15:10] daze99 commented on #99
I also used to have this problem. [This comment](https://github.com/microsoft/DockerTools/issues/99#issuecomment-426367737) by @mparker fixed it for me.

[2019-07-18 19:38] dbreshears commented on #154
@bormm .  Thanks for the feedback and agree on this being a bug.  I tested this on VS 2019 and appears that it has been fixed when choosing not to build the .dcproj in configuration list.

[2019-07-18 20:25] sonicjolt commented on #99
Microsoft Windows [Version 10.0.17134.885]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>dotnet dev-certs https --trust --check

C:\WINDOWS\system32>echo Trust check: %errorlevel%
Trust check: 7

C:\WINDOWS\system32>dotnet dev-certs https --trust -ep "%APPDATA%\ASP.NET\https\TestCert.pfx" -p TestPassword
Trusting the HTTPS development certificate was requested. A confir

[2019-07-18 20:26] sonicjolt commented on #99
@daze99 My username doesn't have spaces. But thanks.

[2019-07-19 13:31] bwateratmsft commented on #99
@sonicjolt Those error codes correspond to:
7 = CertificateNotTrusted
4= ErrorTrustingTheCertificate
Can you create an issue at https://github.com/aspnet/AspNetCore? The source for this tool is at https://github.com/aspnet/AspNetCore/tree/master/src/Tools/dotnet-dev-certs.

[2019-07-24 03:27] janmchan commented on #37
I have some easy repro steps:
- Create a dotnet core project
- Right click the project to add Docker Orchestration Support. This will create the docker compose project and docker file *inside* the project.
- Move the Dockerfile in the solution root and update the docker-compose.yaml to remove the project in the dockerfile path.
- From visual studio, click Docker Compose / F5 to debug
Expected : de

[2019-07-24 13:36] bwateratmsft commented on #37
@janmchan The Compose tools determine which projects to attach the debugger to based on which have a Dockerfile adjacent to the .csproj file. For example, you would not want to try to attach the debugger to a MySQL container, but you do want to attach to projects in your solution.

It is necessary to leave the Dockerfile adjacent to the project file if you want to attach to that project for debugg

[2019-07-26 01:31] hrai-domain commented on #42
I had to enable the shared drive in Docker Settings.

![image](https://user-images.githubusercontent.com/52148253/61919416-e9911500-af98-11e9-9f1a-bc7dc2b2e96d.png)

[2019-07-26 12:56] cwe1ss commented on #169
We have the same behavior. Restore happens 3 times and build twice. The subsequent restore/build calls are a bit faster, but still, it results in slower CI builds. It would be great if, at least, the publish step would use the already built bits from the `build` step. We also get an error if we add `--no-build` to `dotnet publish`.

Here's our *Dockerfile*. It has been auto-generated by VS. We use

[2019-08-08 14:05] bwateratmsft commented on #99
@sonicjolt Can you also run with `dotnet dev-certs https --trust -v`? This gives verbose output and might tell us what is actually wrong...

[2019-08-10 00:09] stiko commented on #89
The way I solved this is by listing the networks
`docker network ls` as @Fredoid  mentioned you'll see a duplicated network as the error indicated,
then use the id of the network causing the error to remove it
` docker network rm  NETWORK_ID`

[2019-08-14 05:13] Leon99 opened #204 "Object reference not set to an instance of an object."
While it did work for me a bunch of updates ago, when trying to debug via Docker now, I'm getting this on switching to the Docker profile:
[code]
and then
`...\.nuget\packages\microsoft.visualstudio.azure.containers.tools.targets\1.7.12\build\Container.targets(196,5): error : Object reference not set to an instance of an object.`
on launching.
Despite the claim that it's a non-critical error, debu

[2019-08-14 05:28] Leon99 commented on #204
Upgrading microsoft.visualstudio.azure.containers.tools.targets to v1.9.2 didn't help.

[2019-08-14 14:07] bwateratmsft commented on #204
@Leon99 Can you share your project?

[2019-08-14 17:04] SpencerWaz commented on #124
@dbreshears 5 months later, any more feedback? How far in the backlog is this? My company would like to adopt containerized Azure Functions.. but it would be nice if it was supported in Visual Studio.

[2019-08-14 17:10] bwateratmsft commented on #124
Azure functions are now supported in Visual Studio 16.3 Preview 2, also requiring version 1.9.2 of [Microsoft.VisualStudio.Azure.Containers.Tools.Targets](https://www.nuget.org/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets/). Currently only Linux containers are supported, so I am leaving this issue open.

[2019-08-16 05:53] Leon99 commented on #204
[code]
[code]

[2019-08-16 13:27] bwateratmsft commented on #204
Thanks @Leon99. The launchSettings.json file is missing the iisSettings section which is normally present. In VS 2019 16.3 Preview 2, we fixed an issue with gRPC projects due to the same bug, so it is already fixed in future releases.

In the meantime, I think as a workaround, you can add that section to the top of the launchSettings.json--it doesn't really matter what the values are:

[code]

[2019-08-16 17:56] k-antonius commented on #193
Completely agree on the need for documentation. My team has been struggling with these issues.

[2019-08-16 18:02] sgreenmsft commented on #193
To update this issue, general documentation for Visual Studio container tools is available here:
https://docs.microsoft.com/en-us/visualstudio/containers/?view=vs-2019

We've recently added a conceptual article covering how VS uses Dockerfiles: https://docs.microsoft.com/en-us/visualstudio/containers/container-build?view=vs-2019

And a reference table for MSBuild properties: https://docs.microsoft

[2019-08-16 18:45] tillig commented on #193
I [updated my blog article](https://www.paraesthesia.com/archive/2019/06/18/tips-on-container-tools-for-visual-studio/) to correct things I had wrong and point folks to the official docs to learn more. Thanks for continuing to improve this stuff!

[2019-08-16 23:49] rudeGit commented on #194
But this video shows exactly that: https://www.youtube.com/watch?v=Tlswgxl_Xyk (from April 2019, which is earlier than this thread post).

Is there a difference in the setup in the video?

[2019-08-20 01:49] chrisnurse commented on #141
I'm not using azure functions but still get this error.
My system is a .NET CORE 2.2 backend, with a NODE/VUE front end.
docker-compose works perfectly outside of VS2019.

When I build with the Docker project as the startup project I get these errors...

3>C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Docker.Compose.

[2019-08-20 02:06] sgreenmsft commented on #141
@chrisnurse - I suspect that your front-end project type is not supported by the docker-compose tools in VS.  The simplest workaround I can suggest would be to ensure that the dockerfile for your front-end project is *not* located in the same folder as your front-end project.  So, for example, you could make a new subfolder inside of your front-end folder, move the dockerfile into that folder, and

[2019-08-20 02:13] chrisnurse commented on #141
Thank  you first of all for such a prompt reply.
I will give that a try, as the only import aspect is that I could debug the back end in VS2019 and run the front end with “yarn serve” for example.

From: sgreenmsft <notifications@github.com>
Sent: Tuesday, 20 August 2019 10:06 AM
To: microsoft/DockerTools <DockerTools@noreply.github.com>
Cc: Chris Nurse <chris.nurse@namsource.com>; Mention <mentio

[2019-08-20 22:19] BigMorty commented on #194
Hello @2Dews & @rudeGit! I am the PM for the Visual Studio family of container tools. The video you referenced does show containerizing a test project but I think the better way to run tests in a container is described in this article by Richard Lander - https://github.com/dotnet/dotnet-docker/blob/master/samples/dotnetapp/dotnet-docker-unit-testing.md

[2019-08-21 17:23] tomkerkhove opened #205 "Provide support for Job containers"
Would be great if we could use "job" containers with Docker Compose before other services start.

These are containers that have the sole role of starting up, do some work and die. An example of them are containers to prepare the database (which is run in another container) and stop.

Here is an example of how [Kong](https://docs.konghq.com/install/docker/) uses them.

The issue is that Docker Com

[2019-08-22 19:35] bwateratmsft commented on #205
Hey @tomkerkhove,

It's possible we can solve your problem with MSBuild targets in the dcproj. Can you share the run command you need to have happen before launch, redacting as needed?

[2019-08-22 19:38] tomkerkhove commented on #205
Hi Brandon,

I think the above is a good example, would that work for you?

[2019-08-22 19:47] bwateratmsft commented on #205
@tomkerkhove I was able to make it run a custom command with this target in the .dcproj:
[code]

If your needed image name / service name to run is fixed, it's quite easy to add here, otherwise it may need some more refined MSBuild properties in the command. In the above example, `ConsoleToMsBuild` pipes the standard error/standard output to the Build Output window, and `IgnoreExitCode=false` make

[2019-08-22 19:57] bwateratmsft commented on #205
One additional thought I had. Depending on your implementation, our container warmup may produce a non-usable container, because warmup would not execute this MSBuild target. If needed, you can disable this container warmup with the following option:
![image](https://user-images.githubusercontent.com/36966225/63545510-99ed2d00-c4f5-11e9-86ed-dfeee700ecd9.png)

[2019-08-27 02:26] hannesne opened #206 "How to map a port to the running container?"
I am trying to map a port when I debug a local container. From the commandline I would add -p 8883:8883 to the commandline. How do I set this when using the container tools?

I've tried to add
<PropertyGroup>
    <DockerfileRunArguments>-p 8883:8883</DockerfileRunArguments>
</PropertyGroup>
to me csproj, but it's not working.

[2019-08-27 09:48] #204 closed

[2019-08-27 14:51] tomkerkhove commented on #205
Thanks, I'll give it a go soon!

[2019-08-28 15:35] KSchlobohm opened #207 "Support ability to override the docker compose Entrypoint at debug time"
When using Visual Studio Container tools a  docker-compose.vs.debug.g.yml file will automatically be generated for projects that use a docker-compose approach so that the Container Tools can mount the debugger in the container.

This feature also overrides the entrypoint which limits developer options. Instead, it would be better if the last file used in the docker-compose arguments was the docker

[2019-08-28 16:17] KSchlobohm opened #208 "Update dockerfile when the project target is changed"
While following our latest documentation for configuring Kestrel I realized the extension method ConfigureKestrel was added in ASP.NET Core 2.2 which was not included by default with Visual Studio 2019. After install I had to change my target framework and that's when things became odd.

From Visual Studio, while running with docker compose, I found that the breakpoint in my "Hello world" ASP.NET

[2019-08-29 13:59] KSchlobohm commented on #207
Thanks @sgreenmsft, that works like a charm! I didn't see that in the docs for [Building Containerized apps](https://docs.microsoft.com/en-us/visualstudio/containers/container-build?view=vs-2019). Is that covered in a section I missed?

Also, when I tried to add the debug override you mentioned I had to do it by making a new text file from an Explorer Window. My muscle memory wanted to find the op

[2019-09-02 00:35] hannesne commented on #206
Cool thanks, I'll give that a try. It's for communication on a TCP socket, so the project file should work. Can I suggest we change the launchsettings port mapping to accept an array of "port:port" settings for port mapping?

[2019-09-02 13:20] vchirikov opened #209 "Dotnet CLI support"
Hello, I'm trying to use docker-compose support with vs and already got some bugs.

I faced something like https://github.com/dotnet/cli/issues/6178 , steps to reproduce:
1. Add `dcproj` to solution
1. try to make restore from cmd: `dotnet restore Solution.sln --ignore-failed-sources -r linux-musl-x64 -v n -f`
1. You will get error something about target platform `unsupported` is unacceptable. I g

[2019-09-03 13:46] bwateratmsft commented on #209
@vchirikov What version of .NET CLI are you using? What version of Visual Studio? I was not able to reproduce the issue with a 3.0 .NET CLI.

[2019-09-03 17:25] vchirikov commented on #209
[code]
VS v16.3.0 preview .2.0

[2019-09-03 17:32] vchirikov commented on #209
It's strange. for start try reproduce second bug with `dotnet sln Solution.sln add docker-compose.dcproj`, after confirmation of this bug, I will try to make repro playground for you (my current project is too complex structure etc)

[2019-09-03 17:37] bwateratmsft commented on #209
@vchirikov I'm able to reproduce the second part:
[code]

This issue is with the dotnet CLI though, not something that we ourselves can resolve.

[2019-09-03 18:52] sgreenmsft commented on #209
@bwateratmsft - Regarding the "Project {0} has an unknown project type" error:  in the past we elected not to include the full Docker-Compose SDK in .NET Core (primarily because of the complications around open sourcing the SDK).  So, in theory at least, we could work with the .NET Core team and revisit what it would take to resolve this.

Separately, regarding the "Invalid target framework 'unsup

[2019-09-03 18:54] bwateratmsft commented on #209
@sgreenmsft It seems like even if the SDK isn't present, it should allow adding the project to the solution?

[2019-09-03 18:57] sgreenmsft commented on #209
I think the design choice they make is to not add things to a solution file if doing so would result in the inability of the dotnet CLI to successfully build that solution file.

[2019-09-04 11:18] vchirikov commented on #209
Can you talk to the CLI command yourself or do I need to recreate the issue there?

[2019-09-04 23:09] mikesigs commented on #9
So I managed to get this working. It's kind of annoying having to manage yet another docker override file just for VS, but it's at least a solution. The reason this is required is because VS starts your containers at the moment you open the solution (and cleans them up when you close). It isn't until you run or debug the solution that VS will try to start your app in the container using docker exe

[2019-09-09 06:42] AndyPook commented on #204
ummm, why do we need `iisSetting` when it's running in a container with kestrel?

[2019-09-09 13:33] bwateratmsft commented on #204
@AndyPook We use the `iisSettings` as a hint to what the Kestrel settings should be in the container. Due to a bug it fails if the `iisSettings` aren't present. This bug is fixed in 16.3.

[2019-09-09 15:45] lv-conner commented on #186
we can down the required zip file .it cause vs wait in here and can not skip. that was stupid。

[2019-09-12 00:06] vchirikov commented on #209
up, any news? Can you fix it before release 3.0?

[2019-09-12 19:00] zikhan opened #210 "Running Docker-Compose project in Release Configuration Errors out"
When launching a Docker-Compose project in VS2019, and the configuration is set to Release, the a dotnet command being run is generated with --additionalProbingPath parameters, which the dotnet sdk gives this message.
![image](https://user-images.githubusercontent.com/8488326/64812346-a7ca2700-d564-11e9-9020-587fffce9889.png)

The base image being used is `mcr.microsoft.com/dotnet/core/sdk:2.2`.

[2019-09-13 19:39] sgreenmsft commented on #210
@zikhan - Can you provide the contents of obj\docker\docker-compose.vs.release.g.yml?

[2019-09-13 19:48] zikhan commented on #210
docker-compose.vs.release.g.yml
[code]

[2019-09-13 20:50] sgreenmsft commented on #210
Thanks, @zikhan.  Is your dockerfile possibly not copying the dotnet publish output (i.e. vc-administration.dll and associated files) into the /app directory?  It turns out that the dotnet **SDK** will give the above error about additionalProbingPath being an unknown option if it can't find the specified assembly (vc-administration.dll).

[2019-09-13 21:06] zikhan commented on #210
nope, I thought the container tools were doing that.

Here's my dockerfile
[code]

[2019-09-13 21:17] zikhan commented on #210
Okay, I just read the docs... https://docs.microsoft.com/en-us/visualstudio/containers/container-build?view=vs-2019#faster-builds-for-the-debug-configuration

Thanks for y'all's help.

[2019-09-13 21:17] #210 closed

[2019-09-18 14:03] frankbuckley opened #211 "DockerUpdateComposeVsGeneratedFiles throws "Value cannot be null" ("Parameter name: path1") after updating to Visual Studio 16.3"
This seems similar to issue #174 although parameter name is `path1`:

    1>------ Build started: Project: docker-compose, Configuration: Debug Any CPU ------
    1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.Docker.targets(67,5): error : Value cannot be null.
    1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild

[2019-09-18 14:04] bwateratmsft commented on #211
Can you share your solution? In particular we'd be interested to see the Dockerfiles, docker-compose.*.yml files, and docker-compose.dcproj, along with the structure of the solution...

[2019-09-18 14:45] frankbuckley commented on #211
Yes I could share privately.

[2019-09-20 18:03] cjbush commented on #124
Any idea of a timeframe for when support for this will be added to compose projects?

[2019-09-23 21:09] frankbuckley commented on #211
Having got this working (though not exactly sure how) in Preview 4, it is now back with the release of 16.3.

Solution structure:

	/Solution
	  Solution.sln
	  docker-compose.dcproj
	  docker-compose.yml
	  /src
	    /Project1/
	      Project1.csproj
	      Dockerfile
	  /test

Each Dockerfile follows this template:

	FROM dsegroup/aspnetcore-base:3.0.0 AS base
	WORKDIR /app
	EXPOSE 80

	FROM mcr

[2019-09-23 22:28] xemed-ahope opened #212 "Permit supplementary Dockerfile projects with docker-compose"
Please consider adding a means of including "supplementary" Dockerfile projects. Right now, any project type having a Dockerfile at a normal location but lacking explicit debugging support causes an error, as detailed in #141. Some projects can go without debugging support. Take for example `Microsoft.Build.NoTargets`. (full example adapted from @da1rren's [here](https://github.com/xemed-ahope/Val

[2019-09-24 13:04] bwateratmsft commented on #211
@frankbuckley Do these csproj's use a custom output path?

[2019-09-24 15:29] frankbuckley commented on #211
No

[2019-09-24 16:21] bwateratmsft commented on #211
Rats, that was my best guess. Are you able to share the full solution so I can try it out?

[2019-09-24 20:31] arnvanhoutte commented on #211
I have the same problem.

[2019-09-26 16:08] frankbuckley commented on #211
Yes - I can - can I email a zip?

[2019-09-26 16:14] bwateratmsft commented on #211
Yes, my email is my username, except microsoft.com instead of msft. :)

[2019-09-26 20:54] mscrivo commented on #211
same issue here after updating from asp.net core 2.2 to 3.0

[2019-09-27 01:09] WolfspiritM commented on #211
I've the same issue. Compared to a fresh project the files "RelativeOutputAssemblyPath.Fast.cache" and "RelativeOutputAssemblyPath.Regular.cache" are not in obj/Docker. If I copy over these two files the error disappears.

I then removed the bin and obj folder from the fresh Project I created and rebuild and now I'm getting that error there, too. It seems like these two files are not regenerated.

[2019-09-27 10:24] WolfspiritM commented on #211
It seems like these files are generated when starting the docker-compose project but not when just building the Solution or the Project via rightclick -> Build.

What I also noticed is that when switching Debug to Release the RelativeOutputAssemblyPath.*.cache files still contain the Debug build until starting the project which then create the new files.

[2019-09-27 12:46] bwateratmsft commented on #211
We've identified the issue, it is in the SDK so it will need to be addressed in a servicing update. As far as I know there are two possible workarounds--

- Force the RelativeOutputAssemblyPath*.cache files to be generated, by doing F5 at least once on the docker-compose project. This shouldn't be needed every session unless the source tree is cleaned, and those files are removed. These files get

[2019-09-29 13:20] pikausp opened #213 "Cannot run ASP.NET Core app using buildkit"
When I attempt to run the application in docker after switching to buildkit I get an error `Docker command failed with exit code 0.` Building the image from shell works as expected. I tried cleaning the solution and removing all containers & images.

I removed as much as possible from the Dockerfile and now it looks like this
[code]

This is the build log

[code]

Docker desktop 2.1.0.3 (38240) (E

[2019-09-30 13:49] bwateratmsft commented on #213
It seems like BuildKit may be outputting everything to stderr instead out stdout. Our logic treats non-zero exit code as error, but also output to stderr as error.

[2019-10-01 23:53] cskwrd opened #214 "How to handle cached base images?"
As we know dotnet core 3.0 was released a week ago. When this happened, the `3.0-buster-slim` image VS had included as the base image for running an app in a container broke. I was shown an error saying that `3.0.0` couldn't be found, only `3.0.0-preview7...`. If i specify `--pull` as a value for `DockerfileBuildArguments` in my project file the issue is resolved.

I am still very new to docker, s

[2019-10-02 13:09] bwateratmsft commented on #214
Using `--pull` is one option; you can also periodically pull the latest manually. In 16.4, we will have another option in Options > Container Tools that will also take care of this--"Pull updated Docker images on project open", with options to pull none, .NET Core only, or all (i.e. .NET Core and .NET Framework).

[2019-10-02 23:55] cskwrd commented on #214
Is that different than the setting I referenced above?

[2019-10-03 10:22] mmisztal1980 commented on #211
Is there an ETA on the fix? or perhaps is it posible to put a `Target` into the `.dcproj` file that could run before the build?

[2019-10-03 13:48] bwateratmsft commented on #211
@mmisztal1980 Unfortunately a target would not be very simple to do at all. You can enable warmup or F5 the docker-compose project once and the issue should no longer occur (until you clean your source enlistment).

We have just put the fix into the 16.3 servicing branch, so it will be available in the next servicing release of 16.3 (16.3.3), as well as the next preview of 16.4 (16.4 Preview 2)

[2019-10-03 13:50] bwateratmsft commented on #214
Yes, it will be a new setting in 16.4. The existing setting will have the same effect--pulling images that are _missing_, but the new setting is for re-pulling images that aren't missing.

[2019-10-03 22:16] cskwrd commented on #214
Awesome, thank you very much!

[2019-10-03 22:16] #214 closed

[2019-10-11 12:34] estiller commented on #155
Same here. Cannot push to private Azure Container Registry from Visual Studio. Using Visual Studio Enterprise 2019 (16.3.4).

11/10/2019 15:28:38
Microsoft.WebTools.Azure.Publish.Docker.DockerCommandException: Running the docker.exe login command failed.

WARNING! Using --password via the CLI is insecure. Use --password-stdin.Error response from daemon: Get https://XXX.azurecr.io:443/v2/: unauthor

[2019-10-14 15:05] machie27 opened #215 "launchsettings ignored by docker tools"
I recently upgraded to .net core 3.0.
As I upgraded and need some specific ports, see below:
[code]
However the following is begin deployed:
[code]
As you can see above settings get ignored as the ports are mapped 5000:80 and 44374:443 instead of 5000:5000 and 44374:44374. Also the environment is being set to Development instead of Test. This is not how it's expected to work.
below is the dockerfi

[2019-10-14 18:00] bwateratmsft commented on #215
Thanks @machie27. @haniamr is investigating this and other issues around ports; we're trying to find ways to reduce port conflict failures while ideally also giving users more control.

[2019-10-14 20:49] ghogen commented on #193
@tillig You can also contribute directly to the Container Tools docs by filing issues or PRs to https://github.com/MicrosoftDocs/visualstudio-docs - just hit the "Edit" button on any doc page to view the article's source in Markdown, and submit changes though GitHub.

[2019-10-14 21:16] tillig commented on #193
It appears since this issue was filed [this document on `launchSettings.json` was added](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/containers/container-launch-settings.md), which is awesome. **That was really the point of this particular issue, so we can probably call this closed.**

As for docs that explain _exactly what's going on under the covers_, that may or may not

[2019-10-14 21:51] ghogen commented on #193
@tillig Yes, I added the launchSettings.json doc and I think at this point we've covered most of the details.  But LMK if you have any ideas or suggestions for the docs.

[2019-10-15 07:03] stromsky commented on #171
Any plans to make it configurable?

[2019-10-15 14:08] bwateratmsft commented on #193
As @tillig suggested I'll close this issue. Thanks @tillig for making such an awesome guide! And thanks @ghogen for the official docs!

[2019-10-15 14:08] #193 closed

[2019-10-15 14:11] bwateratmsft commented on #171
Yes, we are actually working on that now for 16.4. By default we will be using the project name (sanitized for spaces/alphanumeric/etc.) as the container name, but you can override it by providing a container name in docker-compose.yml or docker-compose.override.yml.

[2019-10-15 15:40] stromsky commented on #171
It would be more convenient to be just able to specify explicitly what value should be passed to `docker-compose` `-p` argument. This is used as a prefix not just for container names, but also volumes and networks.

In my case, constant network name across multiple development machines is what I am after. For now I've ended up with external network which must be created manually (not an ideal solu

[2019-10-15 17:24] bwateratmsft commented on #211
Now that 16.3.4 is released the fix is available. I'll close this issue. Please let us know if you still see the problem!

[2019-10-15 17:24] #211 closed

[2019-10-16 14:10] kdcllc opened #216 "Add support for DotNetCore 3.0 Worker template"
DotNetCore 3.0 added a new MSBuild template `<Project Sdk="Microsoft.NET.Sdk.Worker">` and the Docker tooling doesn't support this type of project at this time. Our team can benefit from having support for the Dockernization of this template.

[2019-10-16 14:50] kdcllc commented on #216
@bwateratmsft, this is strange but after I upgraded VS.NET 2019 16.3.5 this project now has the options to start in Docker. Here is the reference https://github.com/kdcllc/K8.DotNetCore.Workshop/blob/master/src/K8.LongProcess/K8.LongProcess.csproj

Thanks for looking into it, kdcllc!

[2019-10-16 15:32] bwateratmsft commented on #216
Great, glad it's working now!

[2019-10-16 15:32] #216 closed

[2019-10-16 16:31] bwateratmsft commented on #213
@pikausp We've implemented a fix which will be available with 16.4 Preview 3. It will require updating the referenced [Microsoft.VisualStudio.Azure.Containers.Tools.Targets](https://www.nuget.org/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets) to **1.9.7**, which will become available when 16.4 Preview 3 releases.

It is possible that older versions of VS (e.g. I tested with 16.3)

[2019-10-23 17:15] BigMorty commented on #208
Thanks Ken, I have added an item to our backlog so that we warn users when we can identify that the base .NET images being used in the Dockerfile don't match the version of .NET of the project.

[2019-10-23 18:29] KSchlobohm commented on #207
Updated the title of the ticket to help with search results.

The ability to override the entry point is supported by editing the docker-compose.vs.debug.yml file so I'm closing this issue/feature request.

[2019-10-23 18:29] #207 closed

[2019-10-23 18:40] #208 closed, assigned to nobody

[2019-10-30 13:37] machie27 commented on #215
Thanks Stephen. I’m glad you like the new Containers window!

For the issue above, we are preparing a fix that will be available in VS 16.5, in the meantime there’s a workaround that can help unblock you (note: only works in 16.4 preview 3 and above):

Modify your launchSettings.json to the following:
[code]
Add the following property to your .csproj file to override the port mappings:
`<Dockerfil

[2019-10-30 13:37] #215 closed

[2019-10-31 02:50] nocanstillbb commented on #186
Determining user folder on remote system...
Checking for existing installation of debugging tools...
Downloading debugger launcher...
Creating debugger installation folder: /root/.vs-debugger
Copying debugger launcher to /root/.vs-debugger/GetVsDbg.sh
Ensuring script exists after copying...
Downloading debugger components...
Output: Info: Previous installation at '/root/.vs-debugger/vs2019' not fo

[2019-10-31 02:50] nocanstillbb commented on #186
Determining user folder on remote system...
Checking for existing installation of debugging tools...
Downloading debugger launcher...
Creating debugger installation folder: /root/.vs-debugger
Copying debugger launcher to /root/.vs-debugger/GetVsDbg.sh
Ensuring script exists after copying...
Downloading debugger components...
Output: Info: Previous installation at '/root/.vs-debugger/vs2019' not fo

[2019-10-31 12:05] LagManos commented on #209
I have the same issue. Adding <TargetFramework>netcoreapp2.0</TargetFramework> to the PropertyGroup node in the dcproj file fixes the issue. I have to add it manually.

It doesn't make any sens for docker-compose project to target any framework, but it seems like dotnet CLI requires it to work.

[2019-11-03 05:41] roussakov opened #217 "How to docker-compose using "dotnet watch run" in container"
Hi guys,
I'm trying to set up a docker-compose stack using visual studio 2017 docker tooling.
And unable to find the way how to run the app inside a container using **dotnet watch run**
any suggestions?

Thanks!

[2019-11-03 14:30] bwateratmsft commented on #217
@roussakov Unfortunately this isn't possible with the tooling. We use a lot of optimizations in debug mode that are incompatible with `dotnet watch`.

[2019-11-03 15:15] amarant commented on #217
@bwateratmsft So does it means that it is impossible to edit a cshtml page and having that change reflected on a refresh with docker-compose ?

[2019-11-03 15:36] bwateratmsft commented on #217
@amarant Not necessarily; the edit-refresh scenario is kind of scattered depending on .NET Core version and container OS. @pratiksanglikar  can probably list which ones work.

In debug mode, we map in the source and binaries built on the host. In release mode, source is copied in, and built in the SDK container. So, it would never work in release mode, but can in debug.

[2019-11-03 18:26] roussakov commented on #217
@bwateratmsft Thanks a lot for your answer.

[2019-11-03 18:26] #217 closed

[2019-11-04 17:09] pratiksanglikar commented on #217
Hi @roussakov ,
Adding to @bwateratmsft , Edit and Refresh works depending on what version of .NET Core you are on.

- .NET Core 2.1 -> Works on both Linux and Windows containers.

- .NET Core 2.2 -> Runtime compilation APIs are obsoleted, it works, but may take multiple refreshes to actually see the changes on both Linux and Windows containers.

- .NET Core 3.0 -> Runtime compilation support is d

[2019-11-05 17:13] dsplaisted commented on #209
@vchirikov Can you provide a repro project for the "Invalid target framework 'unsupported'" error?  It looks like someone else ran into the same issue [here](https://github.com/dotnet/cli/issues/6178#issuecomment-549714126), but was unable to reproduce it in a simple project.

[2019-11-07 08:38] Robar666 commented on #204
Hi,

I'm working on VS 2019 16.3.8 (`Microsoft.VisualStudio.Azure.Containers.Tools.Targets 1.9.5`) and have a Kestrel setup.
I'm still getting the `Object reference not set to an instance of an object` error if I want to launch my Docker profile and no `iisSettings` section is present.

So I still have to use the workaround and add an empty `iisSetting` section add the top of the `launchSettings.j

[2019-11-07 12:44] vchirikov commented on #209
@sgreenmsft @dsplaisted
Finally I found how to make the minimal repro. Bug in restore command with Directory.build.props with `PackageReference` + dcproj.
Still can reproduce with `3.1.100-preview2-014569`
[dotnet_cli_bug.zip](https://github.com/microsoft/DockerTools/files/3819617/dotnet_cli_bug.zip)

[2019-11-08 15:23] bwateratmsft commented on #204
@pratiksanglikar Do you know if this bug came back in 16.3.8?

[2019-11-08 19:12] pratiksanglikar commented on #204
@bwateratmsft Yes, it appears that it regressed in 16.3.8.
@NCarlsonMSFT just finished the PR to fix this and it would be available in 16.5.

[2019-11-11 19:36] StingyJack opened #218 "Can I specify a different dockerfile in the launchsettings.json?"
The Dockerfile that is created when adding support for debugging is nice and all, but I'd rather that be called something like "Dockerfile-debug" and have the dockerfile used for packaging the release built and versioned code in the project root as "Dockerfile".

I dont see any options in the launch settings page for using a different file name. Is there a way to do this?

[2019-11-11 19:39] bwateratmsft commented on #218
@StingyJack The Dockerfile that is created automatically is structured in such a way that it works for both debugging and production.

The `base` stage is built for debugging and the binaries themselves are built on the _host_, and volume mapped into that runtime container from the `base` stage.

For production builds, it builds the full Dockerfile, which includes building the binaries in the SDK

[2019-11-11 19:47] StingyJack commented on #168
Any idea when this is going to just get fixed? The project system and VS knows there is a nuget config at the solution level. I just spent an hour trying things and searching before coming across this post.  Even adding that I still get the following when using the publish to container registry wizard in VS for the project...

[code]

[2019-11-11 19:49] bwateratmsft commented on #168
@StingyJack You need to copy the NuGet.config into the container before restoring. The container is a completely and totally separate environment from your machine and can't possibly know the NuGet config.

[code]

[2019-11-11 19:51] bwateratmsft commented on #168
Can you share the Dockerfile and full output from the publish operation?

[2019-11-11 19:57] StingyJack commented on #168
Sanitized Dockerfile
[code]

Sanitized log file
[code]

[2019-11-11 20:00] bwateratmsft commented on #168
Thanks. Can you try doing Clean, then Publish again? At the time it built last the Dockerfile may not have had the `COPY ["NuGet.config", "MyWebApp/"] # Manually addded from the example in this issue` step, as it was skipped in this `docker build` output.

[2019-11-11 20:03] moisoiu commented on #168
Or even better just do it like this

Before add this line
`
COPY nuget.config ./`

and after that at Restore add the line from below

`RUN dotnet restore "MyWebApp/MyWebApp.csproj"  --configfile nuget.config`

[2019-11-11 20:06] StingyJack commented on #168
Sorry, I've confused things just a bit by renaming the original dockerfile that had the edit in it (and that was still open in the editor). The regenerated dockerfile that had been getting executed did not that the COPY in it. Adding the COPY command to the correct dockerfile and republishing gives me a different error.

[code]

@moisoiu  - i dont understand where you mean for me to add that COPY

[2019-11-11 20:08] moisoiu commented on #168
@StingyJack  I bolded what you need to do

`FROM mcr.microsoft.com/dotnet/core/sdk:3.0-buster AS build
WORKDIR /src
**COPY nuget.config ./**
COPY ["MyWebApp/MyWebApp.csproj", "MyWebApp/"]
COPY ["NuGet.config", "MyWebApp/"] # Manually addded from the example in this issue
**RUN dotnet restore "MyWebApp/MyWebApp.csproj" --configfile nuget.config**
COPY . .
WORKDIR "/src/MyWebApp"
RUN dotnet build "M

[2019-11-11 20:16] bwateratmsft commented on #168
It looks like that `COPY` failed:
1. Most likely: case-sensitivity. `COPY` is case sensitive even on Windows; owing to the fact that Docker is actually running in a Moby VM (also why that root path "/var/lib/docker/tmp/docker-builder226796934/" is not a Windows path). Check that the casing of NuGet.config exactly matches what's in the `COPY` statement. In contrast, MSBuild is not case-sensitive ab

[2019-11-11 20:33] StingyJack commented on #168
If you had told me before Y2K that non-legacy *nix filesystems would stilI be case sensitive in 2020, I would not have believed it. The IT community still tolerating such a needless expense like a case sensitive file system for this long is just embarrassing.

Recasing the filename fixed that problem, but now it cant auth to azure artifacts. I dont think I care about that at this point because thi

[2019-11-11 21:07] moisoiu commented on #168
@StingyJack read this and good luck https://github.com/microsoft/artifacts-credprovider/issues/63

[2019-11-12 14:25] StingyJack commented on #218
@bwateratmsft the dockerfile is missing the parts where the assemblies are versioned, or where any nuget packages that get built as part of the solution are published, or there the program itself is published as an artifact runnable on its own without a container..

Its neat that you can do all that stuff in the containers, but the dockerfile seems to assume its the only thing getting built.

I'm

[2019-11-13 16:52] jjxtra commented on #210
Seeing this in .NET core 3 in release builds without debugging. Is there a way to turn off that argument?

[2019-11-14 20:25] pratiksanglikar commented on #213
BuildKit is not supported on Windows hosts anymore.
[#1258](https://github.com/moby/buildkit/issues/1258).

[2019-11-18 06:32] flcdrg opened #219 "Working with nested directory structure but root build context"
I have source code laid out in the following structure:

[code]

I have a Dockerfile and docker-compose.yml that's currently located at the root level, as it needs to load files from here before building the .NET Core app that lives under src\dotnet

Is it possible to use the Container Tools in Visual Studio to work with a directory structure like this?

I've tried moving the docker-compose.dcproj

[2019-11-18 09:58] chrislbb commented on #37
I had the same issue but found this solution
for some reason VS 2019 could not download the linux debuger files from https://vsdebugger.azureedge.net/vsdbg-16-0-11220-2/vsdbg-linux-x64.zip.
The trick is to download this zip manually , unzipped the file and put all the files in %userprofile%\vsdbg\vs2017u5. I restarted docker and it worked for me.

[2019-11-18 11:31] flcdrg commented on #219
Kind of got it working.

I had to make the following modifications:

\src\dotnet\Project.WebApi\Project.WebApi.csproj I added

[code]

and added PackageReference
[code]

In \src\dotnet\docker-compose.dcproj I added

[code]

And removed the `<ItemGroup>`

[2019-11-18 11:31] #219 closed

[2019-11-18 11:49] flcdrg commented on #168
How does this work when running in Visual Studio? My application is using Azure Artifacts feeds that require a PAT (personal access token)

Is there a way to pass in a PAT or prompt for credentials that can be used by docker build / docker-compose build?

[2019-11-18 11:55] StingyJack commented on #168
@flcdrg  VS should use your current credentials to access Azure DevOps resources. (Except where there is an explicit login like SQL connections.)

[2019-11-18 12:51] flcdrg commented on #168
Even from a build running inside a container?

[2019-11-18 12:57] StingyJack commented on #168
@flcdrg sorry wasn't thinking of that case, I turned that all off because development debugging with a whole container seemed unnecessary for me. The link that @moisoiu shared above may work for you if something like an environment variable doesn't.

[2019-11-19 11:09] vchirikov commented on #209
@sgreenmsft , @dsplaisted
Can you reproduce now?

[2019-11-19 22:26] NCarlsonMSFT commented on #209
@vchirikov I am able to reproduce this. I am investigating a long term wholistic fix. To unblock you can you try adding:
Condition="'$(MSBuildProjectExtension)' != '.dcproj'"
To the ItemGroup(s) in Directory.build.props for your PackageReferences?

[2019-11-20 09:26] obeyda opened #220 "PrepareForLaunch failed with docker preview"
I have docker desktop edge version which uses WSL 2 to run docker.
I can run containers and docker-compose projects from the terminal.
but when I use visual studio to run a docker-compose project, I have this error:

[code]

i've tested with visual studio stable and enterprise versions, and I have the same error.

# About Docker Desktop
Engine: 19.03.5
Compose: 1.25.0-rc4
the experimental WSL 2 ba

[2019-11-21 22:35] NCarlsonMSFT commented on #220
I am unable to reproduce this error locally. Can you provide the details in the output window? Specifically I suspect there is more information in the "Container Tools" and "Build" panes

[2019-11-22 09:02] obeyda commented on #220
the `Container Tools` pane is empty, as for the `Build` pane, I have this at the end:
[code]

I have the local drives shared:
![Docker_Desktop_2019-11-22_09-54-07](https://user-images.githubusercontent.com/15065966/69411899-27673580-0d0e-11ea-9612-0eed38a72a7f.png)

[2019-11-22 09:27] IUnknownPtr commented on #76
The bug is still actual. If I use container_name in service definition VS fails to start debugging because service with the same name already exists. With container_name removed I get another error that some ports are already in use.

[2019-11-23 00:14] NCarlsonMSFT commented on #220
That output is very strange b/c on build DockerCli.exe -SharedDrives should only be run on a failure to try and determine why there was a failure.

What happens if you run "C:\Program Files\Docker\Docker\DockerCli.exe -SharedDrives" from the command line? If there is no output you can run echo %errorlevel% to get the error code.

Your settings screenshot is also confusing as the File Sharing node

[2019-11-23 18:40] obeyda commented on #220
that was my mistake, i did a reset for docker and wsl2 was disabled, but i had the same error, i'll update the issue title to reflect that.

when i run `DockerCli.exe -SharedDrives` the output is empty
when i run `echo %errorlevel%` after that the output is `1`

[2019-11-24 06:10] obeyda commented on #220
So I installed docker desktop stable release and the docker-compose project works without errors.
then I installed docker-desktop edge release, didn't activate WLS2 feature, shared all the drives, but I had the same issue with visual studio and the same output from `DockerCli.exe -SharedDrives` (`1`)

output of `docker version` for the edge release
[code]

[2019-11-26 00:48] NCarlsonMSFT commented on #220
I'm using the same version, and I also see the exit code 1 from DockerCli.exe -SharedDrives (which I'm investigating how to handle correctly). But on my WSL2 test machine it doesn't stop me from F5ing unless there is a different error first. Only then do the diagnostics kick in to try and check if drive sharing could have been to blame. You're sure there isn't any other indication of an issue?

[2019-11-27 22:07] haniamr commented on #200
This issue is now fixed in the latest release on the marketplace and Visual Studio 6.4 Preview 2.

[2019-11-27 22:07] #200 closed

[2019-11-27 22:09] haniamr commented on #199
This issue is now fixed in the latest release on the marketplace and Visual Studio 6.4 Preview 2.

[2019-11-27 22:09] #199 closed

[2019-11-27 22:12] haniamr commented on #173
This issue is fixed in the link that Brandon shared above, please shout out if you're still seeing any problems.

[2019-11-27 22:12] #173 closed

[2019-11-27 22:13] haniamr commented on #153
This issue is now fixed, please shout out if you're still having problems.

[2019-11-27 22:13] #153 closed

[2019-11-27 22:16] #140 closed

[2019-11-27 22:17] #129 closed

[2019-11-27 22:19] #123 closed

[2019-11-27 22:51] haniamr commented on #118
This issue is fixed as of Visual Studio 16.3 and above.

[2019-11-27 22:51] #118 closed

[2019-11-27 22:53] haniamr commented on #74
LCOW is now supported as of Visual Studio 16.0 and above.

[2019-11-27 22:53] #74 closed

[2019-11-27 23:52] haniamr commented on #145
Sorry for replying that late, I've tested the above branch with the latest VSMac and it seems to work fine given I uncomment the ports section in the "web" service.

[2019-11-27 23:52] #145 closed

[2019-11-28 02:36] changhuixu commented on #78
same here. Anyone has a solution?
Thanks.

[2019-12-06 05:34] vrao1020 commented on #124
Is there an update on when functions will be supported for docker compose in VS 2019? I currently have to create a copy of my compose file and remove functions from the list of containers for VS to build it correctly (no issues when running compose outside VS 2019).

Is there an alternative approach to make it work without it having to remove functions?

[2019-12-11 18:54] Pikabanga opened #221 "Build with docker-compose including a static website: The project file was not found"
Hello!

I have an issue with building in VS2019 with docker-compose.

Docker compose (anonymised naming):
[code]

The solution structure looks like this, I have marked the projects that are involved in the docker-compose:

![image](https://user-images.githubusercontent.com/22037089/70649510-98cf3f80-1c4d-11ea-89bb-5fa924c6febf.png)

Note that the .Web project is a static website, it's not a .NET p

[2019-12-12 02:36] SidShetye commented on #201
For anyone coming here with a similar issue, one issue was that we had customized our solution, so our `Program.cs` needed a switch from `IPAddress.Loopback` to `IPAddress.Any`

[code]

Side note, VS2019 made it very trivial to enable Docker support for our application while pulling in best practices of build vs run image. Tooling and azure infrastructure around this is too new for us to use in pr

[2019-12-12 10:05] Pikabanga commented on #221
This seems very related: https://stackoverflow.com/questions/52946100/building-dockercompose-project-in-visual-studio-errors-our-when-website-projects

[2019-12-12 15:44] AndyVulhop commented on #206
I'll second @hannesne. It's pretty painful to get VS to map the correct ports if you aren't running on 80 or 443 (which is best practice to avoid if you aren't running as root on linux containers, since ports < 1024 require superuser). This seems like a concern for the launchSettings.json file.

[2019-12-12 17:52] ramosisw commented on #157
In my case I had an `.env` file with utf-16 encoding, I saved it as utf8 and it worked correctly.

[2019-12-12 18:46] pratiksanglikar commented on #221
Hi @Pikabanga , thank you for reporting this issue. We don't support static websites in Docker Compose today.
But this is under consideration for our future roadmap.

[2019-12-13 09:21] Pikabanga commented on #221
Well, that explains it! Thanks for the information.

[2019-12-14 15:18] ktos opened #222 "Cannot start remote debug: 0x80004005"
I am trying to debug ASP.NET Core 3.0 app running on remote Docker container. I can successfully connect over SSH to remote Docker host and list containers, but when connecting to one I want to debug I got a message:

[code]

This container is started via docker-compose, but I have exactly the same issue when starting it manually.

docker-compose file:

[code]

Strangely, **same container** when r

[2019-12-14 19:59] ktos commented on #222
To confirm the bug further, I have set up a new instance of Ubuntu 18.04.3 LTS with Docker 18.09.7, the only things I've done were:

[code]
And there is the same result, error 0x80004005:
![image](https://user-images.githubusercontent.com/1633261/70851877-41beaa00-1e9b-11ea-8666-d3f6be86a342.png).

Then, I thought about using VSCode/Omnisharp debugger integration, so I used `docker -H` as a pipe p

[2019-12-16 16:49] jbogard opened #223 "User Secrets volume not mapped for Worker SDK"
When you use the Web SDK for Docker, the User Secrets folders are correctly mapped:

https://docs.microsoft.com/en-us/visualstudio/containers/container-build?view=vs-2019#volume-mapping

However, for the Worker SDK, secrets are enabled by default (with a [temporary workaround](https://github.com/aspnet/Extensions/issues/2743)), but the secrets volume is *not* mapped.

I'm working around this today

[2019-12-16 23:23] pratiksanglikar commented on #223
Thank you for reporting the bug. It is now under investigation.

[2019-12-17 03:41] jzabroski commented on #77
It doesn't look like anyone at Microsoft even triaged or replied to this issue.

[2019-12-17 13:24] rolnikrolnik commented on #75
+1 - unfortunately, original issue was not addressed. I have a feeling that workaround proposed is just too obscure for a regular users.

[2019-12-17 17:58] dbreshears commented on #75
@rolnikrolnik ,  @bormm,  if using the latest VS 2019,  we have added documentation for both the single container tooling and Docker Compose projects that explains the customization points through MSBuild properties added to the project.  Please see [https://docs.microsoft.com/en-us/visualstudio/containers/docker-compose-properties?view=vs-2019] for compose specifically.   If  still experiencing i

[2019-12-17 19:18] pratiksanglikar commented on #221
Hi @Pikabanga , while the actual fix is under consideration, can you please try a workaround mentioned in [this comment](https://github.com/microsoft/DockerTools/issues/141#issuecomment-522822258) ?

[2019-12-18 12:31] machie27 opened #224 "Not able to build containers"
I'm having a weird issue as my current tools won't build the containers. This is why i'm not able to debug.
I get this generic error:
A non-critical error occurred while getting the container(s) ready. Your project(s) will continue to function normally. The error was: Object reference not set to an instance of an object.
If I hit f5 the following popup will emerge:
Unable to find the target operat

[2019-12-18 15:42] machie27 commented on #224
For some further information See the obj\Container file with the one with the error:
![image](https://user-images.githubusercontent.com/6714617/71100468-607fb200-21b5-11ea-918e-764783ac59e8.png)
an the one which is working:
![image](https://user-images.githubusercontent.com/6714617/71100499-6ecdce00-21b5-11ea-8777-107af0512fdb.png)

[2019-12-18 21:44] pratiksanglikar commented on #224
hi @machie27 ,
1. Which version of `Microsoft.VisualStudio.Azure.Containers.Tools.Targets` did you upgrade from?
2. Have you customized your `BaseIntermediateOutputPath` or `IntermediateOutputPath` using `Directory.Build.props`?
3. What's the behavior when you delete the `Obj` directory and then F5?

[2019-12-19 08:03] machie27 commented on #224
Hi @pratiksanglikar ,

1. I came from 1.9.5
2. I haven't customized those paths
3. Still the same error, but no Container folder in object whatsoever.

Also diagnostic debugging doesn't give me any errors. It just skippes the ContainerBuildAndLaunch step.

[2019-12-19 09:25] machie27 commented on #224
If I build with the build tools use, It does however build and runs. So it seems that one of those variables isn't set correctly. This is the command which I use:
`docker build -f "C:\Users\{username}\source\repos\{application}\{application}\Dockerfile" --force-rm -t {application}:dev --target base  --label "com.microsoft.created-by=visual-studio" --label "com.microsoft.visual-studio.project-name=

[2019-12-19 13:27] machie27 commented on #224
Ok maybe not related, but I also made a new project and then changing the project name. Which will also causes the same error. Maybe it'll help with finding a solution

[2019-12-19 19:04] Pikabanga commented on #221
Well I'll be damned, it worked! Thanks so much, I'm happy with this workaround. You can close this issue if you want.

[2019-12-19 19:27] #221 closed

[2019-12-21 00:37] NCarlsonMSFT commented on #124
There is currently no plan to add support for functions to compose projects.

There is [workaround](https://github.com/microsoft/DockerTools/issues/141#issuecomment-522822258) which will allow you to have a functions app in your compose project, but the functions app will not getting debugging support, only build and run.

[2019-12-22 17:43] Levvy055 commented on #155
Hitting the same wall. For custom container registry should be option to publish with already logged account.

[2020-01-03 19:59] pratiksanglikar commented on #223
HI @jbogard ,
I am investigating this issue and just tried to reproduce,

Do user-secrets get loaded by just adding the volume mapping - `"$(AppData)/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro"`?

1. Create worker service.
2. Add user secrets using `dotnet user-secrets set "SecretKey" "SecretValue"`
3. Add packageReference to `<PackageReference Include="Microsoft.Extensions.Configuratio

[2020-01-10 00:02] CrestApps opened #225 "Launching failed because directory '/remote_debugger' in the container is empty"
I am running Docker Tools on Windows 7 64bit. When I try to run my app using `docker-composer` I get the following error

![](https://i.stack.imgur.com/YH7nD.png)

Here is the most recent build output from Visual Studio

[code]
Here is the content of my `docker-composer.yml` file

[code]

Here is the content of my `Dockerfile`

[code]

I tried to remove all images on my machine using the following

[2020-01-10 01:17] pratiksanglikar commented on #225
Hi @CrestApps ,
Thank you for reporting the issue.
Are you running the docker inside a VM?
The shared screenshots of drive sharing suggests that they are not screenshots of Docker desktop.
You can check if drive sharing is working for **docker desktop** by -
1. Find a docker desktop icon in your task bar (a whale icon)
2. Right click on the whale icon and click on Settings
3. From the left pane, c

[2020-01-10 05:48] CrestApps commented on #225
@pratiksanglikar Docker Deaktop is not available for Windows 7. Docker desktop unfortunately work on Windows 10. I installed Docker toolbox along with Oracle VirtualBox.

After installing Docker toolbox, I run the terminal which installed everything that is needed and ran Docker. I then opened Oracle VirtualBox manager, clicked on the settings of the “default” machine, clicked on “Shared Folders”

[2020-01-14 09:45] sibbl commented on #213
@bwateratmsft since you've mentioned version 1.9.7 already three months ago, may I ask whether there's any ETA when this will become available?

[2020-01-14 21:09] d1a9x8u9 opened #226 "Debugger path 'C:\User\...\vs2017u5' for DockerFile is invalid."
## Steps to reproduce the issue
1. Install VS 2019 Enterprise
2. Create blank .NET Core(3.1) MVC project with Docker support (Linux)
3. Run using Docker

## Expected behavior
Application runs on Docker

## Actual behavior
Application doesn't build and stops.

## Additional information (e.g. issue happens only occasionally)
Windows 10 x64
VS 2019 Enterprise - updates up to date.
I'm on a company co

[2020-01-14 21:19] NCarlsonMSFT commented on #213
Sorry for the oversight, the NuGet was published, but not publicly listed. The final version for VS 16.4 is [1.9.10](https://www.nuget.org/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets/1.9.10) which is now publicly available

[2020-01-15 09:56] sibbl commented on #213
@NCarlsonMSFT thanks, it works like a charm! I wish there was an option to set `DOCKER_BUILDKIT=1` project wise, i.e. in the `launchSettings.json`. Is this possible or would it be worth a new issue?

[2020-01-15 17:00] NCarlsonMSFT commented on #213
@sibbl That would be a new issue

[2020-01-16 10:53] sibbl opened #227 "Feature: possibility to set env variables for Docker build"
Currently it's not possible to set i.e. `DOCKER_BUILDKIT=1` for a single project, e. g. in the `launchSettings.json`.

It's necessary to set it for the whole system or current user on Windows, but it might be helpful to be able to set it per project.

[2020-01-16 18:26] #213 closed

[2020-01-17 19:54] pratiksanglikar commented on #223
Create an issue - [#2880](https://github.com/dotnet/extensions/issues/2880) since even after mapping the volume, user secrets are not accessible in the container.

[2020-01-19 06:51] ryudice opened #228 "How to publish container image from CI server"
Are there any guides on working without a UI? all the guides I have found are for publishing from within visual studio. What about if you want to build and publish the container image from the command line? such as the case for running in a CI server.

[2020-01-19 17:28] MCCshreyas commented on #211
Hi there, I am facing the same issue on Visual Studio version 16.4.3.

Steps to reproduce the issue:
1. Run a container with following docker command
`docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=password' -p 1433:1433 -d mcr.microsoft.com/mssql/server:2019-latest`
2. Then connect to SQL Server running in docker by using SQL Server Object Explorer which is under following location in Visual Studi

[2020-01-21 18:37] kaicianflone opened #229 "PrepareForLaunch Error when running Docker-Compose from VS 2019"
Hello I am receiving a weird PrepareForLaunch error where it says it's unable to find a copy of NewtonSoft.json

I did not find much in the documentation and I tried deleting and rebuilding the container multiple times. Virtualization is also on for my PC.

ERROR:

1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Sdks\Microsoft.Docker.Sdk\build\Microsoft.VisualStudio.Dock

[2020-01-22 05:18] bklooste opened #230 "multiple launchSettings for Docker not honored"
I see different behaviors  if I have 2 sections , the port number of the 2nd is ignored but environment variables are correctly passed to the container.

If i comment out the docker section I get object not found on trying to debug into container

    "Docker": {
      "commandName": "Docker",
      "launchBrowser": true,
      "launchUrl": "{Scheme}://{ServiceHost}:{ServicePort}/swagger",
      "

[2020-01-23 13:44] machie27 commented on #224
I also have some build logs the correct one shows this

[code]
The wrong one show this:

[code]

[2020-01-23 20:01] pratiksanglikar commented on #224
Hi @machie27 ,
I tried to reproduce this issue with creating a project with Container.Tools version 1.9.5 and then upgrading to 1.10.3 but couldn't reproduce this issue.

Do you think you can provide a sample project where this issue is reproducing?
Or probably stripping your business logic in the project that has this issue and providing me that one?

[2020-01-24 01:03] pratiksanglikar commented on #229
Hi @kaicianflone may I know what version of Visual Studio are you using?

[2020-01-24 09:31] machie27 commented on #224
Ok I found something! Set this as a profile in launchsettings:
"Docker_Development": {
      "commandName": "Docker",
      "launchBrowser": true,
      "launchUrl": "{Scheme}://{ServiceHost}:{ServicePort}/page",
      "environmentVariables": {
        "ASPNETCORE_URLS": "https://+:44374;http://+:5000",
        "ASPNETCORE_HTTPS_PORT": "44374",
        "ASPNETCORE_ENVIRONMENT": "Development"

[2020-01-24 09:40] machie27 commented on #224
With some further investigation changing the "docker" profile to anything other it will break the build of the container. We need different run profiles because of the environment settings. So I'll guess that's the exact bug.

[2020-01-24 09:47] machie27 commented on #224
Ok further investigation revealed that changing the "docker" profile in launchSettings.json breaks the container warmup and also doesn't let the container build, with the error mentioned above.

So for example:
`
  "Docker Development": {
      "commandName": "Docker",
      "launchBrowser": true,
      "launchUrl": "{Scheme}://{ServiceHost}:{ServicePort}/page",
      "environmentVariables": {

[2020-01-24 18:04] pratiksanglikar commented on #224
Thank you for finding the root cause. The fix for this issue is already in progress. We will update you when the fix becomes available in the Visual Studio.

[2020-01-24 18:07] pratiksanglikar commented on #224
Duplicate of #230

[2020-01-24 18:07] #224 closed

[2020-01-24 19:33] pratiksanglikar commented on #229
Hi @kaicianflone ,

The following error lines indicate that the bug you are facing is not Visual Studio or Docker tooling bug, but it is something with your Windows installation.

[code]
Can you confirm if you can run any other Windows containers on your machine?
You can check that by executing -
[code]
followed by -
[code]

If you can't run Windows containers, please update your Windows installat

[2020-01-24 21:53] d1a9x8u9 commented on #226
bump

[2020-01-24 23:37] mikesigs commented on #220
I am also having this issue. I recently updated Docker Desktop to the latest stable version 2.2.0.0 (42247) as well as updated Visual Studio 2019 to it's latest stable version 16.4.3, and I get this error.

I have also found that a lot of my containerized apps using docker-compose orchestration no longer start. I get this in the Debug Output:
[code]

Here's some more details:

I do not have the ex

[2020-01-25 00:17] pratiksanglikar commented on #230
A fix for this issue has been internally implemented. We will update you when it is available for download.

[2020-01-25 00:33] pratiksanglikar commented on #226
Hi @d1a9x8u9 ,
Can you please confirm if `C:\Users\MyPC\vsdbg\vs2017u5\linux-musl-x64\vsdbg` path exists?
If not, are you using any VPN that may prevent the download of vsdbg?

[2020-01-25 00:53] mikesigs commented on #220
I just downgraded to Docker 2.1.0.5 and the issue went away. I kept the latest Visual Studio though.

[2020-01-27 14:13] cjbush commented on #220
Having the same issue with Docker 2.2 and VS 16.4.3. I guess I'll downgrade to 2.1.0.5 for now.

[2020-01-27 19:20] NCarlsonMSFT commented on #220
@mikesigs @cjbush There was a change in how file sharing is implemented in Docker 2.2 (See [Release Notes](https://docs.docker.com/docker-for-windows/release-notes/#docker-desktop-community-2200)  for details) which has unfortunately causes our check for issues with File Sharing to always fail on this version.
The VS tools do work with version 2.2, but any time there is an issue, we will try and a

[2020-01-28 08:24] machie27 commented on #228
Hi @ryudice ,

Are you talking about building containers in docker? Then the [docker ](https://docs.docker.com/engine/reference/commandline/build/) documentation should suffice if you want to build with the CLI. If you're talking about pushing to container registries, that depends on what your using as a container registry. Most of the big ones have good documentation on that as well. Mostly it'll

[2020-01-29 08:06] ffMathy opened #231 "Support for Docker 2.2.0"
In Docker Desktop 2.2.0, shared drives are no longer needed.

The Container Tools should reflect this. It seems as if it is causing Visual Studio to detect that something is missing, because no shared drives are returned by Docker.

[2020-01-29 18:14] pratiksanglikar commented on #231
Hi @ffMathy please see [this comment](https://github.com/microsoft/DockerTools/issues/220#issuecomment-578908586)  on a similar bug.

[2020-01-29 18:17] pratiksanglikar commented on #231
Duplicate of #220

[2020-01-29 18:17] #231 closed

[2020-02-03 01:50] laurencee opened #232 "Container orchestrator helm api versions out of date"
The helm files generated by the `Add` -> `Container Orchestrator Support` context option contain quite outdated `apiVersion` references.

`deployment.yaml` specifies `apps/v1beta2` which at this stage should be `apps/v1`

`ingress.yaml` is a little more tricky since it has a completely different path as of Kubernetes 1.14. The way the helm command line templating works around this is with the foll

[2020-02-03 02:31] DaleyKD opened #233 "DockerComposeBaseFilePath does not also affect obj\Docker\docker-compose.vs*.yml"
I'm trying to use numerous .sln files in the same root directory of a massive project.  Trying to break it into smaller chunks, I have the need for different docker-compose files.

In my .dcproj file, I have set:
[code]

The `DockerComposeBaseFilePath` does a good job of affecting the `docker-compose` cmd that runs for the first two -f args, but it shares the same `docker-compose.vs.debug.partial.

[2020-02-03 23:58] d1a9x8u9 commented on #226
Hi sorry for the late reply @pratiksanglikar
No I'm not on a VPN.

So i don't have the path you specified but i do have the path

but there is nothing in the folder.

Any ideas?

[2020-02-04 10:56] wicharypawel opened #234 "VS debugging experience fail after startup"
Hi,
I have recently stopped on rather simple looking error while debugging eShopOnContainer. Visual Studio starts building solution, continues with docker images, start containers successfully and just after debugging session starts it detach itself and stops.

VS version: 2019 (version 16.4.4)
Docker desktop community version: 2.2.0.0 (42247)
CLI approach using docker-compose build and docker-com

[2020-02-04 11:06] wicharypawel commented on #234
Today I have tried to find workaround one more time. What I have find out is that while creating new project ASP.NET Core Web Application with Docker support and docker-compose enabled. The same error occur. Moreover it is one of this nasty bugs that are votaile because sometimes it works sometimes crashes.

**Temporary workaround**:
Change your build config to RELEASE which will disable performan

[2020-02-04 16:10] ymor commented on #234
I've been having the same issue.  I did find that if I place the following in the csproj it does seem to work.
`<ServerGarbageCollection>false</ServerGarbageCollection>`

[2020-02-04 21:27] vchirikov commented on #234
Sometimes I got `FATAL ERROR: Failed to initialize dispatcher with error 8ede0006`.
Reinstall vsdbg helps once.
Additional logs:
[code]
vsdbg is available, but cannot be started (I also tried to start it manual)

[2020-02-04 23:38] pratiksanglikar commented on #226
Hi @d1a9x8u9 ,
Can you please verify if the environment variable `VS_CONTAINERS_SKIP_VSDBG_UPDATE_CHECK` is set on your machine?

Also, can you please let me know the output of following -
1. Download the VsDbg downloaded from https://aka.ms/getvsdbgps1
2. Open the powershell terminal and navigate to the location where the downloaded file is located.
3. Execute - ` .\GetVsDbg.ps1 -Version vs2017u5

[2020-02-05 00:39] ericwj opened #235 "Build Failure unable to prepare context: unable to evaluate symlinks in context path"
Either Visual Studio or Docker is unable to resolve paths to my source repo because it is on a VHDX and my Source folder is a symlink to a folder named Source on that virtual disk.

Note that it is conveniently assumed that this error is non-critical, although apart from pulling base images the build didn't do anything noticeable so this error is critical.

After doing `Add Docker Support` and run

[2020-02-05 08:18] vchirikov commented on #234
Issue was related with docker filesystem bug (2.2.0.0) : https://github.com/docker/for-win/issues/5698
Fixed in docker >= 2.2.0.1

[2020-02-05 09:49] wicharypawel commented on #234
@vchirikov it seams like a separate error to me at the first glance. However, may I ask where to find error log like yours?

[2020-02-05 19:05] vchirikov commented on #234
@wicharypawel your error:

Definitely about the bug with a new filesystem in docker-desktop. I think you should downgrade docker to `2.1.0.5`.

You can enable a debug log of container tools with `DebugAdapterHost.Logging /On /OutputWindow` in the command window in VS.

[2020-02-05 22:04] mickandrew commented on #161
This was most helpful.  There seems to be an argument between the Visual Studio docker build environment, and the Azure DevOps build environment, as to how the docker build command should be initiated.  The default Visual Studio generated docker file is placed in the default project folder location, underneath the solution folder.  The docker file contents is careful to explicitly copy the csproj

[2020-02-06 00:06] d1a9x8u9 commented on #226
I wasn't able to get past step 3 because of the following error:
'''
.\GetVsDbg.ps1 : File C:\Users\MyPC\Downloads\GetVsDbg.ps1 cannot be loaded because running scripts is disabled on
this system. For more information, see about_Execution_Policies at https:/go.microsoft.com/fwlink/?LinkID=135170.
At line:1 char:1
+ .\GetVsDbg.ps1 -Version vs2017u5 -RuntimeID linux-musl-x64 -InstallPa ...
+ ~~~~~~~

[2020-02-06 01:28] dbreshears commented on #232
@laurencee , thanks for point this out.  The VS tooling integrates the Azure Dev Spaces SDK which scaffolds these files when adding container orchestration support,  it looks like there is an effort in the Dev Spaces SDK to update to Helm 3 which shouldl address this.   https://github.com/Azure/dev-spaces/issues/272.

[2020-02-06 01:57] pratiksanglikar commented on #226
Hi @d1a9x8u9 ,
At the moment we need to be able to run a script to use Docker.
Can you try executing the script through the command prompt?
`C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy RemoteSigned -File "C:\Users\MyPC\Downloads\GetVsDbg.ps1" -Version vs2017u5 -RuntimeID linux-musl-x64 -InstallPath "C:\Users\MyPC\vsdbg\vs2017u5\linux-musl-x64"`

Please rep

[2020-02-06 15:52] d1a9x8u9 commented on #226
@pratiksanglikar
Btw i just checked and ```VS_CONTAINERS_SKIP_VSDBG_UPDATE_CHECK``` is not set in my env variables.
What values do I set this to?

Also here is the script output:
[code]

[2020-02-06 16:13] d1a9x8u9 commented on #226
I was successfully able to build the docker image in VS but running it using Docker now gives me a different error.

[code]
The program '' has exited with code -1 (0xffffffff).
[code]

[2020-02-06 18:42] pratiksanglikar commented on #226
@d1a9x8u9 , You can set the flag `VS_CONTAINERS_SKIP_VSDBG_UPDATE_CHECK=1` to skip downloading latest vsdbg. In your case, since script execution is disabled, you can set this env variable.

Also for your other issues, can you please post the full log?

[2020-02-07 09:22] wicharypawel commented on #234
@vchirikov thanks for letting me know about additional logging. However I must admit sadly I have a quite different output.

[code]